<div class="footer footer--census" id="footer" role="contentinfo">
  <div class="container footer__container">
    <a class="footer__logo" href="https://www.ons.gov.uk/">
      <img src="{{ theme_static('ons-logo.svg') }}" alt="Office for National Statistics" />
    </a>
    <ul class="footer__nav nav nav--horizontal nav--dark">
      <li class="nav__item">
        <a class="nav__link" rel="ext" href="https://www.ons.gov.uk/help/cookiesandprivacy">Privacy</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" rel="ext" href="">Copyright</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" rel="ext" href="https://www.ons.gov.uk/help/termsandconditions">Terms &amp; Conditions</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" rel="ext" href="https://www.ons.gov.uk/help/accessibility">Accessibility Statement</a>
      </li>
    </ul>
  </div>
  <div class="footer__help">
    <div class="container">
      <div class="mars">Help and Support &ndash;
        <ul class="footer__helpnav nav nav--horizontal">
          <li class="nav__item">
            <span class="mars" role="presentation">Call </span> <a class="venus nav__link" href="tel:0800123456789"><span class="u-vh">For help call </span>0800 123 456789</a>
          </li>
          <li class="nav__item">
            <a class="venus nav__link external" href="#" rel="ext">Online Help</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
