<div class="footer footer--census" id="footer" role="contentinfo">
  <div class="container footer__container">
    <a class="footer__logo" href="https://www.ons.gov.uk/">
      <img src="{{ url_for('static', filename='img/theme/census/ons-logo.svg') }}" alt="Office for National Statistics" />
    </a>
    <nav>
      <ul class="footer__nav nav nav--horizontal nav--dark">
        <li class="nav__item">
          <a class="nav__link" target="_blank" rel="noopener noreferrer" href="https://www.ons.gov.uk/census/help/cookiesandprivacy">Privacy</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" target="_blank" rel="noopener noreferrer" href="https://www.ons.gov.uk/census/help/termsandconditions">Terms and Conditions</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" target="_blank" rel="noopener noreferrer" href="https://www.ons.gov.uk/help/accessibility">Accessibility</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer__help">
    <div class="container">
      <div class="mars">Help and Support &ndash;
        <nav>
          <ul class="footer__helpnav nav nav--horizontal">
            <li class="nav__item">
              <span class="mars" role="presentation">Call </span> <a class="venus nav__link" href="tel:03000683001"><span class="u-vh">For help call </span>0300 068 3001</a>
            </li>
            <li class="nav__item">
              <a class="venus nav__link external" href="http://www.ons.gov.uk/census/help" target="_blank" rel="noopener noreferrer">Online Help</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
