<div class="page-header page-header--census">
  <div class="page-header__help is-closed js-help-body">
    <div class="page-header__container container">
      <div class="page-header__title ">{{_('Help and support')}} &ndash;</div>
      <ul class="page-header__nav nav nav--horizontal">
        <li class="nav__item">
          <span class="mars" role="presentation">{{_('Call')}} </span> <a class="venus nav__link" href="tel:0800123456789"><span class="u-vh">For help call </span>0800 123 456789</a>
        </li>
        <li class="nav__item">
          <a class="venus nav__link external" href="#" rel="ext">{{_('Online Help')}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-header__container container">
    <div class="page-header__logo"><img src="{{ theme_static('logo.svg') }}" alt="2017 Census" /></div><button class="page-header__btn btn btn--light btn--border js-help-btn u-hidden">
      {{_('Help and support')}}
    </button>
  </div>
</div>
