<div class="page-header page-header--census">
  <div class="container">
    <div class="page-header__logo logo">
      <img src="{{ theme_static('logo.svg') }}" alt="2017 Census" class="logo__img" />
    </div>

    <div class="page-header__titles">
      <h1 class="page-header__title jupiter">Household Questionnaire</h1>
      <h2 class="page-header__subtitle">England</h2>
    </div>

    <div class="page-header__help help">
      <div class="help__title venus">Help and Support</div>
      <a class="help__link" href="tel:08001234567"><span class="u-vh">For telephone support call </span>0800 123 4567</a>
      <a class="help__link" href="#">Online help</a>
    </div>
  </div>
</div>
