.ptn {
  background: $color-white;
}

.ptn-header {
  background: $color-light-grey;
  padding: 15px 0;
}

.ptn-title {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  &::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: url("/static/img/eq.png") no-repeat left center;
    width: 33.4px;
    height: 37.8px;
    background-size: 100%;
    margin-right: 10px;
  }
}

.ptn-nav {
  margin: 0;
  padding: 0;
}

.ptn-nav-list {
  padding: 0;
  margin: 10px 0;
  font-size: 18px;

  @include mq(m) {
    margin: 40px 0;
  }
}

.ptn-nav-item {
  list-style: none;
  display: block;
  &.is-active {
    font-weight: bold;
  }
}

.ptn-nav-link {
  padding: 10px 0;
  color: $color-text;
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.ptn-section {
  padding: 20px 0;
  border-bottom: 1px solid $color-light-grey;
  margin: 1rem 0;
}

.ptn-section-title {
  font-size: 32px;
  // border-bottom: 1px solid $color-light-grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 500;
}

.ptn-section-subtitle {
  font-size: 26px;
  font-weight: 500;
}

.ptn-grid {
  background: tint($color-blue, 70);
  padding: $grid-gutters $grid-gutters 0 $grid-gutters;
  margin-bottom: $grid-gutters;
}

.ptn-col {
  background: tint($color-blue, 60);
  padding: 7px;
  margin-bottom: $grid-gutters;
  color: $color-white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

pre[class*="language-"] {
  margin: 1rem 0;
}
