<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
  <head>
    {%- block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block page_title %}{{ _('ONS Survey') }}{% endblock page_title %}</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="/s/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/s/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/s/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/s/favicons/manifest.json">
    <link rel="mask-icon" href="/s/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
    {%- block styles %}
    {% set css_responsive = "css/"~_theme~"/responsive.css" %}
    {% set css_fixed = "css/"~_theme~"/fixed.css" %}
    <!--[if (gt IE 9) | (IEMobile)]><!-->
    {%- if request.args.get('fixed') == 'true' %}
      <link href="{{ url_for('static', filename=css_fixed) }}" rel="stylesheet">
    {%- else %}
      <link href="{{ url_for('static', filename=css_responsive) }}" rel="stylesheet">
    {%- endif %}
    <!--<![endif]-->
    <!--[if (lte IE 9) & (!IEMobile)]>
      <link href="{{ url_for('static', filename=css_fixed) }}" rel="stylesheet">
    <![endif]-->
    {% endblock styles -%}
    {% endblock head -%}
    <!-- Google Analytics -->

    {% if analytics_ua_id  %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{analytics_ua_id}}', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
    </script>
    {% endif %}
    <!-- End Google Analytics -->
    <script>
      window.__EQ_SESSION_TIMEOUT__ = {{ session_timeout|default('null') }};
      window.__EQ_SESSION_TIMEOUT_PROMPT__ = {{ session_timeout_prompt|default('null') }};
      window.__EQ_SESSION_CONTINUE_URL__ = '{{ url_prefix }}/timeout-continue';
      window.__EQ_EXPIRE_SESSION_URL__ = '{{ url_prefix }}/expire-session';
      window.__EQ_SESSION_EXPIRED_URL__ = '{{ url_prefix }}/session-expired';
    </script>
  </head>

  <body>

    {% if request.args.get('grid_debug') == 'true' and config['DEBUG'] == true %}
      {% include 'partials/grid-overlay.html' %}
    {% endif %}

    <div class="page">

      <div class="page__content">

        <div class="skip">
          <a class="skip__link" href="#main">Skip to content</a>
        </div>

        <header class="page__header">{% block header %}
          {% include theme('partials/header.html') %}
          {% include theme('partials/topbar.html') %}
        {% endblock %}</header>
        <div class="page__subheader">
          <div class="container">
          {%- block subheader -%}

            {% with position = 'top' %}{% include 'partials/previous-link.html' %}{% endwith %}

            {% if navigation %}
              <div class="page__menubtn">
                <button class="btn btn--link pluto btn--menu js-menu-btn" data-close-label="{{_('Hide sections')}}" type="button" id="menu-btn">{{_('View sections')}}</button>
              </div>
            {% endif %}
          {%- endblock subheader -%}
          </div>
        </div>
        <div class="page__container container">
          {% block content %}
          {% with position = 'bottom' %}{% include 'partials/previous-link.html' %}{% endwith %}
          {% endblock %}
        </div>
      </div>

      <footer class="page__footer">
        {% block footer %}
          {% include theme('partials/footer.html') %}
        {% endblock %}
      </footer>

    </div>

    {% block post_content %}
      {% if current_user.is_authenticated %}
        {% include theme('partials/timeout.html') %}
      {% endif %}
    {% endblock post_content %}

    <!--[if gte IE 9]><!-->
    {% block scripts %}
      <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    {% endblock scripts %}
  	<!--<![endif]-->

    </body>
</html>
