<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
  <head>
    {%- block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block page_title %}{{ _('eQ - Survey Runner') }}{% endblock page_title %}</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/vendor/html5shiv.min.js') }}"></script>
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
    {%- block styles %}
    {% set css_responsive = "css/"~_theme~"/responsive.css" %}
    {% set css_fixed = "css/"~_theme~"/fixed.css" %}
    <!--[if (gt IE 9) | (IEMobile)]><!-->
    {%- if request.args.get('fixed') == 'true' %}
      <link href="{{ url_for('static', filename=css_fixed) }}" rel="stylesheet">
    {%- else %}
      <link href="{{ url_for('static', filename=css_responsive) }}" rel="stylesheet">
    {%- endif %}
    <!--<![endif]-->
    <!--[if (lte IE 9) & (!IEMobile)]>
      <link href="{{ url_for('static', filename=css_fixed) }}" rel="stylesheet">
    <![endif]-->
    {% endblock styles -%}
    {% endblock head -%}
    {{ analytics }}
  </head>

  <body>

    {% if request.args.get('grid_debug') == 'true' and config['DEBUG'] == true %}
      {% include 'partials/grid-overlay.html' %}
    {% endif %}

    <div class="page">

      <div class="page__content">

        <div class="skip">
          <a class="skip__link" href="#main">Skip to content</a>
        </div>

        <div class="page__header">{% block header %}
          {% include theme('partials/header.html') %}
          {% include theme('partials/topbar.html') %}
        {% endblock %}</div>
        <div class="page__subheader">
          <div class="container">
          {%- block subheader -%}
            {% if previous_location %}
                <a class="page__previous js-previous-link" id="top-previous" href="{{previous_location}}">Previous</a>
            {% endif %}

            {% if navigation %}
              <div class="page__menubtn">
                <button class="btn btn--link pluto btn--menu js-menu-btn" data-close-label="{{_('Hide sections')}}" type="button" id="menu-btn">{{_('View sections')}}</button>
              </div>
            {% endif %}
          {%- endblock subheader -%}
          </div>
        </div>
        <div class="page__container container">
          {% block content %}
            {% if previous_location %}
              <a class="page__previous page__previous--bottom js-previous-link" href="{{previous_location}}" id="bottom-previous">Previous</a>
            {% endif %}
          {% endblock %}
        </div>
      </div>

      <div class="page__footer">
        {% block footer %}
          {% include theme('partials/footer.html') %}
        {% endblock %}
      </div>


    </div>

    <!--[if gte IE 9]><!-->
    {% block scripts %}
      <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    {% endblock scripts %}
  	<!--<![endif]-->

    </body>
</html>
