{% extends 'layouts/_survey.html' %}

{% block page_title %}Error{% endblock %}

{% block survey %}
  <div class="header">
    <h1 class="header__title">Error</h1>
  </div>

  <div class="box">
    <div class="u-fw-b">Sorry, something has gone wrong</div>
    <div class="u-fs-s">Error code: {{status_code}}</div>
    <div class="u-m-s">
      <a class="u-no-js-hide" href="javascript:history.go(-1)">Return to the previous page</a>
    </div>
    <p>If the problem persists please call the number above.</p>
  </div>

  <div class="u-m-m u-ta-c">
    <div class="u-fw-b">Your system information</div>
    <div>{{ua.user_agent.family}} {{ua.user_agent.minor}}.{{ua.user_agent.major}}.{{ua.user_agent.patch}}</div>
    <div>{{ua.os.family}} {{ua.os.minor}}.{{ua.os.major}}.{{ua.os.patch}}</div>
  </div>
{% endblock %}
