{% extends 'layouts/_twocol.html' %}
{% import 'macros/helpers.html' as helpers %}
{% block page_title %}{{_("Error")}} {{status_code}}{% endblock %}

{% block main %}
  <h1 class="u-fs-l">{{ _("Error") }} {{status_code}}</h1>
  <div class="panel panel--simple panel--error panel--spacious">
    <strong>{{ _("Sorry, something has gone wrong") }}.</strong>
    {%- if tx_id -%}
      <p>{{ _("Please quote this reference for any support queries") }}.</p>
      <ul class="list list--boxes">
        {%- for id_part in tx_id -%}
          <li class="list__item">{{id_part}}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    <p class="u-mb-no">{{ _("If the problem continues please call %(tel_num)s", tel_num = helpers.telephone_number(aria_describedby='survey-help')) }}</p>
  </div>

  {{answer_guidance}}

  <div class="u-mt-m u-mb-s">
    <div class="u-fw-b">{{ _("Your system information") }}</div>
    <div>{{ua.user_agent.family}} ({{ua.user_agent.major or '0'}}.{{ua.user_agent.minor or '0'}}.{{ua.user_agent.patch or '0'}})</div>
    <div>{{ua.os.family}} ({{ua.os.major or '0'}}.{{ua.os.minor or '0'}}.{{ua.os.patch or '0'}})</div>
  </div>
{% endblock %}

