{% extends theme('layouts/_twocol.html') %}
{% import 'macros/helpers.html' as helpers %}

{% block page_title %}{{page_title}}{% endblock %}

{% block subheader %}
    {% include theme('partials/feedback_call_to_action.html') %}
    {% include theme('partials/feedback/expandable_inline.html') %}
    {{super()}}
{% endblock subheader %}

{% set block = content.block %}
{% set form = content.form %}

{% block sidebar %}
  {% if navigation %}
    {% include theme('partials/section-navigation.html') %}
  {% endif %}
{% endblock %}

{% block main %}

    {% block form_errors %}{% endblock %}

    <form class="form qa-questionnaire-form" role="form" method="POST" autocomplete="off" novalidate>
      {{ content.csrf_token }}

      {% block form_content %}
        <div class="group" id="{{current_location.group_id}}">
            {% include 'partials/block.html' %}
        </div>
      {% endblock form_content %}

      {% block submit_button %}
      <button class="btn u-mb-s" data-qa="btn-submit" type="submit" name="action[save_continue]">{% block submit_button_text %}{{ _("Save and continue") }}{% endblock submit_button_text %}</button>
      {% endblock %}

      <div class="u-mb-m">
        <button class="btn btn--secondary js-btn-save" data-qa="btn-save-sign-out" type="submit" name="action[save_sign_out]" {{helpers.track('click', 'Navigation', 'Save and complete later click')}}>{% block save_sign_out_button_text %}{{ _("Save and complete later") }}{% endblock %}</button>
      </div>
    </form>

{% endblock main %}
{% block footer %}
{% include theme('partials/footer-transactional.html') %}
{% endblock %}