{% extends theme('layouts/_twocol.html') %}
{% import 'macros/helpers.html' as helpers %}

{% block page_title %}{{page_title}}{% endblock %}

{% block subheader %}
<div class="feedback">
    {% set feedback_form_hidden = true %}
    {% include theme('partials/feedback_call_to_action.html') %}

</div>
{{super()}}
{% endblock subheader %}

{% set block = content.block %}
{% set form = content.form %}


{% block sidebar %}
  {% if navigation %}
    {% include theme('partials/navigation.html') %}
  {% endif %}
{% endblock %}

{% block main %}

    {% block form_errors %}{% endblock %}

    <form class="form qa-questionnaire-form" role="form" method="POST" autocomplete="off" novalidate>
      {{ form.csrf_token }}

      {% block form_content %}
        <div class="group" id="{{current_location.group_id}}">
            {% include 'partials/block.html' %}
        </div>
      {% endblock form_content %}

      {% block submit_button %}
      <button class="btn btn--primary btn--lg" data-qa="btn-submit" type="submit" name="action[save_continue]">{{submit_btn_text or "Save and continue"}}</button>
      {% endblock %}

      <div class="u-mb-m">
        <button class="btn btn--link mars js-btn-save" type="submit" name="action[save_sign_out]" {{helpers.track('click', 'Navigation', 'Save and complete later click')}}>{% block save_sign_out_button_text %}Save and complete later{% endblock %}</button>
      </div>
    </form>

{% endblock main %}
