{% extends theme('layouts/_twocol.html') %}
{% import 'macros/helpers.html' as helpers %}

{% block page_title %}{{page_title}}{% endblock %}

{% block subheader %}
    {{super()}}
{% endblock subheader %}

{% set block = content.block %}
{% set form = content.form %}

{% block sidebar %}
  {% if navigation %}
    {% include theme('partials/section-navigation.html') %}
  {% endif %}
{% endblock %}

{% block main %}

    {% block form_errors %}{% endblock %}

      {% block form_content %}
        <div class="group" id="{{current_location.group_id}}">
            {% include 'partials/block.html' %}
        </div>
      {% endblock form_content %}

      {% block submit_button %}
      <button class="btn u-mb-s" data-qa="btn-submit" type="submit" name="action[save_continue]">{% block submit_button_text %}{{ _("Save and continue") }}{% endblock submit_button_text %}</button>
      {% endblock %}

{% endblock main %}
{% block footer %}
<div class="pre-footer">
  <div class="container">
    <div class="grid">
      <div class="grid__col col-7@m">
        {% include theme('partials/feedback/expandable_inline.html') %}
      </div>
    </div>
  </div>
</div>
{% include theme('partials/footer-transactional.html') %}
{% endblock %}
