{% extends 'layouts/_base.html' %}

{% block content %}

<div class="bar" role="banner">
  <div class="skip">
    <a class="skip__link" href="#main">Skip to content</a>
  </div>
  <div class="bar__inner container">
    <div class="tag tag--amber u-mr-xs">BETA</div>
    <div class="bar__title">Monthly Business Survey - Retail Sales Index</div>
  </div>
</div>

<div class="container">

  <div class="panel">

    <div class="panel__header survey-header u-cf">

      <div class="logo survey-header__logo">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Office for National Statistics" class="logo__img" />
      </div>

    {% if data %}
      <div class="info survey-header__info" role="contentinfo">
        <h2 class="info__title">Survey Help</h2>
        <div class="info__tel">
          0300 1234 931
        </div>
        <dl class="info__list">
          <dt class="info__dt">ID:</dt>
          <dd class="info__dd">{{ data.survey_code}}</dd>
          <dt class="info__dt">Period:</dt>
          <dd class="info__dd">{{ data.period_str}}</dd>
          <dt class="info__dt">Ref:</dt>
          <dd class="info__dd">{{ data.respondent_id}}</dd>
        </dl>
      </div>
    {% endif %}

    </div>

    <div role="main" class="panel__body" id="main" tabindex="-1">

      {% block survey %} {% endblock %}

    </div>

  </div>

</div>

{% endblock %}
