{% set subfields %}
  <div class="fieldgroup__fields ">
    {% if fields['day'] %}
    <div class="field field--input">
      {% set label = fields['day'].label %}
      <label class="label u-fs-r" for="input-{{label.for}}" id="label-{{label.for}}" data-qa="label-day">{{label.text}}</label>
      {% set input = fields['day'].input %}
      {% set width_class = "input--w-2" %}
      {% set type = "number" %}
      {% include 'partials/forms/input.html' %}
    </div>
    {% endif %}
    {% if fields['month'] %}
    <div class="field field--select">
      {% set label = fields['month'].label %}
      <label class="label u-fs-r" for="input-{{label.for}}" id="label-{{label.for}}" data-qa="label-month">{{label.text}}</label>
      {% set select = fields['month'].select %}
      {% set width_class = "input--w-auto" %}
      {% include 'partials/forms/select.html' %}
    </div>
    {% endif %}
    {% if fields['year'] %}
    <div class="field field--input">
      {% set label = fields['year'].label %}
      <label class="label u-fs-r" for="input-{{label.for}}" id="label-{{label.for}}" data-qa="label-year">{{label.text}}</label>
      {% set input = fields['year'].input %}
      {% set width_class = "input--w-4" %}
      {% set type = "number" %}
      {% include 'partials/forms/input.html' %}
    </div>
    {% endif %}
  </div>
{% endset %}

{% if legend %}
  <fieldset class="fieldgroup fieldgroup--inline" data-qa="widget-date">
    <legend class="fieldgroup__title u-fs-r--b">{{legend}}</legend>
    {{subfields}}
  </fieldset>
{% else %}
  <div class="fieldgroup fieldgroup--inline">
    {{subfields}}
  </div>
{% endif %}
