{% for option in form[answer.id] %}

  {% set input = {
    "class": "input input--" ~ widget_type ~ " js-focusable",
    "type": widget_type,
    "value": option.data,
    "name": option.name,
    "id": option.id,
    "checked": "checked" if option.selected,
    "data-qa": "has-other-option" if option.other
  } %}

  {% set label = {
    "class": "label label--inline venus",
    "for": option.id
  } %}

  <div class="field__item js-focusable-box">

    <input {{input|xmlattr}}>
    <label {{label|xmlattr}}>
      {{option.label.text}}
      {% if option.description %}
        <br />
        <span class="label__description label__inner pluto">{{option.description|safe}}</span>
      {% endif %}
    </label>

    {% if option.other %}

      {% set other_label = {
        "class": "label mercury",
        "for": option.id ~ "-other"
      } %}

      {% set other_input = {
        "class": "input js-focusable",
        "type": "text",
        "name": input.name,
        "id": option.id ~ "-other",
        "value": option.other_value,
        "data-qa": "other-option"
      } %}

      <div class="field__other">
        <label {{other_label|xmlattr}}>{{option.other.label}}</label>
        <input {{other_input|xmlattr}}>
      </div>

    {% endif %}

  </div>

{% endfor %}
