{% set legend = _(answer.label, current_person=current_person, other_person=other_person).split('&hellip;') %}
{% set personName = legend[1]|replace(' of ', '') %}

<div class="relationship__item js-relationship-item" data-relationship-name="{{personName}}">

  <fieldset class="field field--selectionbtn field--multiplechoice relationship__field" ]>

    <button class="btn btn--link relationship__edit js-relationship-editbtn u-hidden" data-close="{{_('Close')}}" data-qa="relationship-close-btn">
      {{_('Edit')}}
    </button>

      <legend class="relationship__title  venus u-f-no" data-qa="relationship-title">
        <span>{{legend[0]}}</span> <span class="highlight js-relationship-legend">&nbsp; &hellip; &nbsp;</span> <span>{{legend[1]}}</span>
      </legend>

      <div class="relationship__body js-relationship-body">
        <div class="relationship__fields">

          {% for option in form[answer.id][relation_instance] %}

            {% set input = {
              "class": "input input--radio js-focusable js-relationship-trigger",
              "type": 'radio',
              "value": option.data,
              "name": option.name,
              "id": option.id,
              "checked": "checked" if option.selected
            } %}

            {% set label = {
              "class": "label label--inline venus js-relationship-trigger",
              "for": option.id
            } %}

            <div class="field__item js-focusable-box">

              <input {{input|xmlattr}}>
              <label {{label|xmlattr}}>
                {{option.label.text}}
              </label>

            </div>

          {% endfor %}
        </div>
      </div>

  </fieldset>

</div>
