<div class="question__answer">
  <div class="answer">
    <div class="answer__fields">
      <div class="field field--select">
        {% set label = {
          "class": "label u-fs-r--b",
          "for": field.id
        } %}
        <label {{label|xmlattr}}>
          {{field.label.text}}
        </label>
        {% set select = {
          "class": "input input--select",
          "name": field.id,
          "id": "input-" ~ field.id,
          "choices": field.choices,
          "data": field.data,
          "flags": {
            "required": answer.mandatory
          }
        } %}
        {% include 'partials/forms/select.html' %}
      </div>
    </div>
  </div>
</div>
