<div class="u-fl u-mb-xs">
    <div class="badge badge--black">beta</div>
</div>
<div class="grid">
    <div class="grid__col col-9@s u-pt-xxs">
        <div id="feedback-thanks" class="js-form-confirmation u-hidden u-fs-r--b">{{ _("Thanks for your feedback") }}.</div>
        <div class="collapsible collapsible--simple js-collapsible js-collapsible-simple">
            <div class="js-collapsible-content">
                <a class="collapsible__title collapsible__title--link js-collapsible-title icon--collapsible-simple u-fs-r--b" target="_blank" data-qa="a-feedback-open" data-ga="click" data-ga-category="feedback" data-ga-action="Open panel" data-ga-label="Feedback" href="/feedback">{{ _("Give feedback and help us improve this service") }}.</a>
                <div class="collapsible__body u-fs-r js-collapsible-body">
                    {% include 'partials/feedback/js_feedback_form.html' %}
                    <button type="button" class="btn--secondary btn--small js-collapsible-close u-no-js-hide" data-ga="click" data-ga-category="feedback" data-qa="a-feedback-close" data-ga-action="Cancel" data-ga-label="Feedback cancelled">{{ _("I don't want to provide feedback") }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
