.footer {
  padding: 2rem 0;
  margin-top: 3rem;
  background-color: $color-light-grey;
  color: $color-very-dark-grey;

  a {
    color: $color-very-dark-grey;
    &:focus {
      color: white;
    }
  }
}
