.section {
  padding: 1rem 0;
  border-bottom: 1px solid $color-light-grey;
  &:last-of-type {
    border: none;
    padding-bottom: 0;
  }
  @include mq(s) {
    padding: 2rem 0;
  }

  &:first-of-type {
    padding-top: 0;
    margin-top: 0;
  }
}

.section__description {
  @include mq(s) {
    padding: 0;
  }
  div {
    @include mq(s) {
      display: table-cell;
      width: 50%;
      padding-bottom: 1rem;
      &:first-of-type {
        padding-left: 0.25rem;
        padding-right: 0.5rem;
      }
      &:last-of-type {
        padding-left: 1rem;
      }
    }
    ul {
      padding-left: 1rem;
      @include mq(s) {
        margin-bottom: 0;
      }
      @include lt-ie8 {
        margin-bottom: 1rem;
      }
    }
  }
}
