$section-number-size-s: 2rem;
$section-number-size-m: 2.7rem;

.section {
  padding: 1rem 0;
  border-bottom: 1px solid $color-light-grey;
  &:last-of-type {
    border: none;
    padding-bottom: 0;
  }
  @include mq(s) {
    padding: 2rem 0;
  }

  &:first-of-type {
    padding-top: 0;
    margin-top: 0;
  }
}

.section__title {
  display: flex;
  align-items: flex-start;
  @include mq(m) {
    align-items: center;
  }
}

.section__number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  position: relative;
  text-align: center;
  min-width: $section-number-size-s;
  height: $section-number-size-s;
  top: 0;
  left: 0;
  vertical-align: top;
  box-sizing: content-box;
  margin-right: 12px;
  z-index: 1;
  @include mq(m) {
    display: flex;
    top: 2px;
    min-width: $section-number-size-m;
    height: $section-number-size-m;
    margin-right: 14px;
  }
  @include mq(xl) {
    position: absolute;
    top: -2px;
    left: -62px;
  }
  @include lt-ie10() {
    color: $color-text;
    display: inline-block;
    min-width: auto;
    height: auto;
    top: 0;
    position: relative;
    font-size: 1.55556rem;
  }
  &::before {
    content: "";
    background-color: $color-section-number;
    border-radius: 100%;
    min-width: $section-number-size-s;
    height: $section-number-size-s;
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    @include mq(m) {
      min-width: $section-number-size-m;
      height: $section-number-size-m;
    }
    @include lt-ie10() {
      background-color: transparent;
      display: none;
    }
  }
}

.section__description {
  @include mq(s) {
    padding: 0;
  }
  div {
    @include mq(s) {
      display: table-cell;
      width: 50%;
      padding-bottom: 1rem;
      &:first-of-type {
        padding-left: 0.25rem;
        padding-right: 0.5rem;
      }
      &:last-of-type {
        padding-left: 1rem;
      }
    }
    ul {
      padding-left: 1rem;
      @include mq(s) {
        margin-bottom: 0;
      }
      @include lt-ie8 {
        margin-bottom: 1rem;
      }
    }
  }
}
