$base: 16px;
$base-lg: 18px;

$type_matrix: (
  jupiter: (
    small: 28px,
    large: 36px,
    weight: $font-weight-bold,
    line-height: 1.4,
  ),
  saturn: (
    small: 22px,
    large: 28px,
    weight: $font-weight-bold,
    line-height: 1.4,
  ),
  neptune: (
    small: 18px,
    large: 22px,
    weight: $font-weight-bold,
    line-height: 1.4,
  ),
  venus: (
    small: 16px,
    large: 18px,
    weight: $font-weight-bold,
    line-height: 1.4,
  ),
  mars: (
    small: $base,
    large: $base-lg,
    weight: $font-weight-regular,
    line-height: 1.4,
  ),
  mercury: (
    small: 14px,
    large: 14px,
    weight: $font-weight-bold,
    line-height: 1.4,
  ),
  pluto: (
    small: 14px,
    large: 14px,
    weight: $font-weight-regular,
    line-height: 1.4,
  )
);

@each $name, $props in $type_matrix {
  .#{$name} {
    font-size: rems(map-get($props, small), $base);
    font-weight: map-get($props, weight);
    line-height: map-get($props, line-height);
    @include mq(m) {
      font-size: rems(map-get($props, large), $base-lg);
    }
  }
}
