{% extends theme('layouts/_survey.html') %}
{% import 'macros/helpers.html' as h %}

{% block page_title %}Introduction{% endblock %}

{% block survey %}

  <div class="header">
    <h2 class="saturn">Your response is legally required</h2>
      <div class="grid grid--align-mid">
        <div class="grid__col col-6@s">
          <dl>
            <dt class="mercury u-tt-u">Business name</dt>
            <dd class="mars">{{ meta.respondent.address.name}}</dd>
            {% if meta.respondent.address.trading_as %}
              <dt class="mercury u-tt-u">Trading as</dt>
              <dd class="mars">{{ meta.respondent.address.trading_as }}</dd>
            {% endif %}
          </dl>
        </div>
        <div class="grid__col col-6@s">
          <dl>
            <dt class="mercury u-tt-u">PERIOD</dt>
            <dd><span class="mars">{{ meta.survey.start_date }} to {{ meta.survey.end_date}}</dd>
            <dt class="mercury u-tt-u">PLEASE SUBMIT BY</dt>
            <dd class="mars">{{ meta.survey.return_by }}</dd>
          </dl>
        </div>
      </div>
    </div>
        <h1 class="saturn">{{ meta.survey.title }}</h1>
        <h2 class="mars">Notice is given under section 1 of the Statistics of Trade Act 1947</h2>

    <div>
      <p class="mars"><strong>You are required by law to complete this questionnaire.</strong> If you do not submit this
        questionnaire by {{ meta.survey.return_by }}, penalties may be incurred (under section 4 of the Statistics of
        Trade Act 1947). All the information you provide is kept strictly confidential. It is illegal for us to
        reveal your data or identify your business to unauthorised persons.</p>

      <div class="notice u-mb-s u-mb-m@s">
        <div class="notice__text venus">If actual figures are not available, please provide informed estimates.</div>
      </div>

      {% with accordion_data = [{
        "id": "accordion-1",
        "title": "How is your information used?",
        "body": meta.survey.description|safe
      }] %}
      <div class="u-mb-s u-mb-m@s">
        {% include 'partials/accordion.html' %}
      </div>
      {% endwith %}

      <p class="mars">Office for National Statistics</p>

    </div>

    <form action="" class="form" role="form" method="POST" novalidate>
      <button class="btn btn--secondary qa-btn-get-started venus" type="submit" name="action[start_questionnaire]">Get Started</button>
    </form>
  </div>


{% endblock %}
