.logo {
  display: inline-block;

  @include lt-ie9() {
    float: left;
    display: block;
    width: 220px;
    height: 44px;
    background: url("#{$s}/img/logo.png") no-repeat 0 0;
    img {
      display: none;
    }
  }
}

.logo__img {
  width: 220px;
  height: auto;
}
