$color-white: #fff;
$color-black: #222;
$color-grey: #ccc;
$color-dark-grey: #9b9b9b;
$color-very-dark-grey: #595959;
$color-light-grey: #e4e8eb;
$color-lighter-grey: #f5f5f5;

// brand

$color-primary: #0f8243;
$color-primary-dark: #677424;
$color-secondary: #033e58;

$color-light-blue: tint($color-secondary, 40);

$color-red: #c50b0b;
$color-yellow: yellow;
$color-amber: #fe781f;
$color-blue: #4263c2;

// assignment

$color-text: $color-black;
$color-text-light: $color-very-dark-grey;
$color-links: $color-blue;
$color-links-hover: $color-secondary;
$color-focus: $color-blue;
$color-borders: $color-grey;
$color-placeholder: lighten($color-text-light, 40%);

$color-errors: $color-red;
