$font-sans: "Lato", "Helvetica Neue", Arial, sans-serif;
$font-serif: Georgia, serif;

$base-font-size: 1rem;
$base-line-height: 1.5;

$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
