{% extends 'layouts/_base.html' %}
{% import 'macros/helpers.html' as helpers %}

{% block main %}
  {% do page | setAttribute("feedback", "") %}

  <h1>{{ _("Census questionnaire accessibility statement") }}</h1>

  <p>{{ _("This census is run by the Office for National Statistics. We want as many people as possible to be able to do the census online. For example, that means you should be able to:") }}</p>

  <ul class="list">
    <li>{{ _("change colours, contrast levels and fonts") }}</li>
    <li>{{ _("zoom in up to 300%% without the text spilling off the screen") }}</li>
    <li>{{ _("navigate most of the questionnaire using just a keyboard") }}</li>
    <li>{{ _("navigate most of the questionnaire using speech recognition software") }}</li>
    <li>{{ _("listen to most of the questionnaire using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)") }}</li>
  </ul>

  <p>{{ _("We’ve used simple language as much as possible.") }}</p>

  <p>{{ _("<a href='{url}'>AbilityNet</a> has advice on making your device easier to use if you have a disability.").format(url = "https://mcmw.abilitynet.org.uk/") }}</p>

  <h3>{{ _("How accessible is this questionnaire?") }}</h3>

  <p>{{ _("We know that the following parts of this questionnaire are not fully accessible:") }}</p>

  <ul class="list">
    <li>{{ _("you cannot modify the line height or spacing of text") }}</li>
    <li>{{ _("the online system for getting a new census code has not been fully tested so parts of it may not be accessible to all users") }}</li>
    <li>{{ _("the Web chat tool may not be fully accessible") }}</li>
    <li>{{ _("some page titles may not accurately reflect the content on the page for audio users") }}</li>
  </ul>

  <h3>{{ _("What to do if you need guidance") }}</h3>

  <p>{{ _("Our <a href='{url}'>guidance leaflets about the census</a> are available:").format(url = "https://census.gov.uk/help/languages-and-accessibility") }}</p>

  <ul class="list">
    <li>{{ _("in Braille") }}</li>
    <li>{{ _("in British Sign Language (BSL)") }}</li>
    <li>{{ _("as an easy read version (which uses pictures to explain the census)") }}</li>
    <li>{{ _("as a Welsh audio") }}</li>
    <li>{{ _("as large print in English or large print in Welsh") }}</li>
  </ul>

  <h3>{{ _("Reporting accessibility problems") }}</h3>

  <p>{{ _("We’re always looking to improve the accessibility of this service. If you find any problems that are not listed on this page or think we’re not meeting accessibility requirements, you can contact us.") }}</p>

  <h3>{{ _("Enforcement procedure") }}</h3>

  <p>{{ _("The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Website and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the:") }}</p>

  <ul class="list">
    <li>{{ _("<a href='{url}'>Equality Advisory and Support Service (EASS)</a> if you live in England or Wales").format(url = "https://www.equalityadvisoryservice.com/") }}</li>
    <li>{{ _("<a href='{url}'>Equalities Commission for Northern Ireland (ECNI)</a> if you live in Northern Ireland").format(url = "https://www.equalityni.org/Home") }}</li>
  </ul>

  <h2>{{ _("Technical information about this questionnaire’s accessibility") }}</h2>

  <p>{{ _("The Office for National Statistics is committed to making its website accessible, in accordance with the Public Sector Bodies (Website and Mobile Applications) (No. 2) Accessibility Regulations 2018.") }}</p>

  <p>{{ _("This service is partially compliant with the <a href='{url}'>Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances list").format(url = "https://www.w3.org/TR/WCAG21/") }}</p>

  <h2>{{ _("Non-accessible content") }}</h2>

  <p>{{ _("The content listed is non-accessible for the following reasons. We are planning to fix the following issues for Census 2021.") }}</p>

  <h3>{{ _("Non-compliance with the accessibility regulations") }}</h3>

  <p>{{ _("Non-descriptive form elements. On the ‘Check your answers’ summary page there is an option to “change” items, but the link does not describe where it goes to. Fails on WCAG 2.1 A number 1.3.1.") }}</p>

  <p>{{ _("Error messages are too generic. If the text in a field is incorrect or in the wrong format, the answer validation page says the answer is incorrect without explaining what you need to do. Fails on WCAG 2.1 A number 3.3.1.") }}</p>

  <p>{{ _("Form label issue. On the ‘What is your name?’ page, middle name is optional but this is not clear to the user. Fails on WCAG 2.1 A number 3.3.2.") }}</p>

  <p>{{ _("Form label issue. When selecting the appropriate relationship, it is possible to ‘Save and continue’ without selecting an option. Fails on WCAG 2.1 A number 2.4.6.") }}</p>

  <p>{{ _("On the ‘Is this address correct?’ page, the title may not accurately reflect the content on the page for audio users. The ‘Submit survey’ page does not have a page title. Fails on WCAG 2.1 A number 2.4.2.") }}</p>

  <p>{{ _("Timeout issue. Users are not informed of a time limit and service times out without warning. During the validation process there is no return link on the session timeout page. Fails on WCAG 2.1 A number 2.2.1 and AAA number 2.2.6.") }}</p>

  <p>{{ _("The ‘Hide this’ button text on accordions such as ‘What does “usually live” mean?’ is non-descriptive for JAWS users as the text above it is read back to users. Fails on WCAG 2.1 AA number 2.4.6.") }}</p>

  <p>{{ _("Screen readers may not let users know when an accordion is expanded or collapsed. Fails on WCAG 2.1 A number 2.4.4.") }}</p>

  <p>{{ _("Non-descriptive headings. On the relationships page, the heading does not accurately describe the content for screen readers. Fails on WCAG 2.1 A number 2.4.6.") }}</p>

  <p>{{ _("Some links are not descriptive enough for screen reader users. Fails on WCAG 2.1 AAA number 2.4.9.") }}</p>

  <p>{{ _("Some headings do not follow a logical hierarchical structure. Fails on WCAG AAA 2.1 number 2.4.10.") }}</p>

  <p>{{ _("The colour used to indicate focus state does not meet the minimum required contrast ratio. Fails on WCAG AA 2.1 number 1.4.11.") }}</p>

  <p>{{ _("Some text is highlighted, such as addresses and names that a user has confirmed. Highlighting is not accessible for some users. This does not conform to Government Digital Service (GDS) guidelines.") }}</p>

  <p>{{ _("Some radio inputs on the relationships page do not conform to GDS guidelines. When selected, three different elements on the page are updated.") }}</p>

  <p>{{ _("On ‘Who lives here?’ there is a ‘Previous’ link on the page that does not conform with GDS guidelines. The text used should read as ‘Back’.") }}</p>

  <p>{{ _("Error messages do not result in a change to the page title to reflect that an error has been made. This does not conform to GDS guidelines.") }}</p>

  <h2>{{ _("How we tested this questionnaire") }}</h2>

  <p>{{ _("Over the last few years we have tested the full questionnaire, including:") }}</p>

    <ul class="list">
    <li>{{ _("<a href='{url}'>Digital Accessibility Centre (DAC)</a> carrying out a professional, technical audit").format(url = "https://digitalaccessibilitycentre.org/") }}</li>
    <li>{{ _("user testing with the public on different devices, different locations, in their homes with various assistive technologies including free and paid versions") }}</li>
    <li>{{ _("testing with charities, such as Scope and RNIB in their labs") }}</li>
    <li>{{ _("using job centres and libraries for pop-up testing") }}</li>
    <li>{{ _("covering a wide range of ages, additional needs and disabilities") }}</li>
    <li>{{ _("making sure the offline journey and non-digital products were considered in the end-to-end journey") }}</li>
    <li>{{ _("changing designs based on feedback from user testing, such as letter structure and the summary of sections and progress through questionnaire") }}</li>
  </ul>

  <h3>{{ _("Digital Accessibility Centre testing") }}</h3>

  <p>{{ _("Parts of this questionnaire were last tested on 3 September 2019 by the Digital Accessibility Centre (DAC).") }}</p>

  <a href="#" download>DAC Report - September 2019</a>
  <br><br>

  <p>{{ _("You can read the last full accessibility test report from 28 June 2019.") }}</p>

  <a href="#" download>DAC Report - June 2019</a>
  <br><br>

  <h2>{{ _("What we’re doing to improve accessibility") }}</h2>

  <p>{{ _("We are continuing to work with various charities and local deaf communities to understand their needs for the census.") }}</p>

  <p>{{ _("We are looking at designs to see if it is possible to have British Sign Language on every page. This is challenging as we have been unable to find another service that does this, but we continue to investigate.") }}</p>

  <p>{{ _("We will act on feedback from the 2019 Rehearsal in October.") }}</p>

  <p>{{ _("This statement was prepared on 11 September.") }}</p>

{% endblock %}
