{% extends 'layouts/_base.html' %}
{% import 'macros/helpers.html' as helpers %}
{% from "components/button/_macro.njk" import onsButton %}

{% set survey_title = survey_title or _("ONS Business Surveys") %}

{% block main %}
  {% do page | setAttribute("feedback", "") %}

  <h1>{{ _("Contact us") }}</h1>

  <p>{{ _("Contact us if you have any questions about filling in the census online or on paper.
  You can use any of these options if you need information or a census in an alternative format like Braille or large print.") }}</p>
  <br>
  <h2>{{ _("Telephone") }}</h2>
  <p>{{ _("We will have advisers available to help you at the following times:") }}</p>
  <ul class="list list--bare">
    <li>{{ _("Monday to Friday - 8am – 7pm") }}</li>
    <li>{{ _("Saturday - 8am - 1pm") }}</li>
    <li>{{ _("Sunday - closed") }}</li>
  </ul>

  {% if schema_theme == "census-nisra" %}

    <p>{{ _("Telephone: %(telephone_number)s",telephone_number = helpers.telephone_number(tel="0800 328 2021")) }}</p>

  {% else %}

    <h3>{{ _("England") }}</h3>
    <p>{{ _("Telephone: %(telephone_number)s",telephone_number = helpers.telephone_number(tel="0800 141 2021")) }}</p>
    <h3>{{ _("Wales") }}</h3>
    <p>{{ _("Telephone: %(telephone_number)s (Option 1 for Welsh, option 2 for English)",telephone_number = helpers.telephone_number(tel="0800 169 2021")) }}</p>

  {% endif %}

  <h3>{{ _("Other languages") }}</h3>
  <p>{{ _("If you need to speak to us in another language phone %(telephone_number)s",telephone_number = helpers.telephone_number(tel="0800 587 2021")) }}</p>

  <h3>{{ _("Text relay") }}</h3>
  <p>{{ _("NGT users dial 18001 followed by the phone number you need") }}</p>

  <h3>{{ _("SMS text message") }}</h3>
  <p>{{ _("Text 86677") }}</p>
  <p>{{ _("We will have advisers available to help you at the following times:") }}</p>
  <ul class="list list--bare">
    <li>{{ _("Monday to Friday - 8am – 7pm") }}</li>
    <li>{{ _("Saturday - 8am - 1pm") }}</li>
    <li>{{ _("Sunday - closed") }}</li>
  </ul>
  <br>

  <h2>{{ _("Online") }}</h2>
  <h3>{{ _("Web chat") }}</h3>
  <p>{{ _("We will have advisers available to help you at the following times:") }}</p>
  <ul class="list list--bare">
    <li>{{ _("Monday to Friday - 8am – 7pm") }}</li>
    <li>{{ _("Saturday - 8am - 1pm") }}</li>
    <li>{{ _("Sunday - closed") }}</li>
  </ul>

  {{
    onsButton({
        "type": 'button',
        "text": 'Start live chat',
        "url": '#'
    })
  }}

{% endblock %}
