{% extends 'layouts/_base.html' %}
{% from "components/table/_macro.njk" import onsTable %}

{% set survey_title  = _("ONS Business Surveys") %}

{% block main %}
  {% do page | setAttribute("feedback", "") %}

  <h1 class="u-fs-l">{{ _("Cookies and Privacy") }}</h1>

  <p>{{ _("The Office for National Statistics (ONS) has created this cookies and privacy statement in order to demonstrate our firm commitment to privacy.") }}</p>

  <p>{{ _("The following is a description of what data is collected when you use the Survey Data Collection (SDC) service, how it is stored and what it is used for.") }}</p>

  <h2 class="u-fs-m">{{ _("Privacy") }}</h2>

  <p>{{ _("Your privacy is very important to us. We comply with confidentiality requirements set out in the Statistics and Registration Service Act 2007 and the Data Protection Act 1998.") }}</p>

  <p>{{ _("We can only use your information for research and statistical purposes. None of your personal information is disclosed through our statistics.") }}</p>

  <h2 class="u-fs-m">{{ _("Security") }}</h2>

  <p>{{ _("We ensure that the information you provide is kept safe and secure. We have security measures in place to protect the loss, misuse and alteration of information under our control.") }}</p>

  <p>{{ _("We use leading security technologies such as industry-standard encryption software. This service has been accredited in accordance with government technical and security standards.") }}</p>

  <h2 class="u-fs-m">{{ _("Cookies") }}</h2>

  <p>{{ _("We use small files (known as ‘cookies’) to collect information about how you browse the site.") }}</p>

  <p>{{ _("Cookies are used to") }}:
    <ul>
        <li>{{ _("Measure how you use the website so it can be updated and improved based on your needs") }}</li>
        <li>{{ _("Remember the notifications you’ve seen so that we don’t show them to you again") }}</li>
    </ul>
  </p>

  <p><em>{{ _("Our cookies are not used to identify you personally.") }}</em></p>

  <h2 class="u-fs-m">{{ _("How cookies are used") }}</h2>

  <h3 class="u-fs-r--b">{{ _("Measuring website usage (Google Analytics)") }}</h3>

  <p>{{ _("We use Google Analytics software to collect information about how you use this service. We do this to help make sure the site is meeting the needs of its users and to help us make improvements, for example improving site search.") }}</p>

  <p>{{ _("Google Analytics stores information about") }}:
    <ul>
        <li>{{ _("The pages you visit") }}</li>
        <li>{{ _("How long you spend on each page") }}</li>
        <li>{{ _("How you got to the site") }}</li>
        <li>{{ _("What you click on while you’re visiting the site") }}</li>
    </ul>
  </p>

  <p>{{ _("We don’t use Google Analytics to collect or store your personal information (for example your name or address).") }}</p>

  <p>{{ _("The information we collect through our cookies does not include personal details such as your name, age, telephone number, postal address or email address, nor does it allow personal identification of a user.") }}</p>

  <p>{{ _("You can manage these small files yourself and learn more about them through <a %(href)s>internet browser cookies – what they are and how to manage them.</a>", href='href="https://www.aboutcookies.org/"') }}</p>

  <h3 class="u-fs-r--b">{{ _("Find out more information") }}</h3>

  <p>{{ _("If you have any questions about this privacy statement, you can contact us at %(email_link)s", email_link='<a href="mailto:surveys@ons.gov.uk" target="_top">surveys@ons.gov.uk</a>') }}</p>

  <h2 class="u-fs-m u-mt-l">{{ _("Universal Analytics") }}</h2>

  {{ onsTable({
    "ths": [
      {
        "value": _("Name")
      },
      {
        "value": _("Purpose")
      },
      {
        "value": _("Expires")
      }
    ],
    "trs": [
      {
        "tds": [
          {
            "value": "_ga"
          },
          {
            "value": _("This helps us count how many people visit our website by tracking if you’ve visited before")
          },
          {
            "value": _("2 years")
          }
        ]
      },
      {
        "tds": [
          {
            "value": "_gid"
          },
          {
            "value": _("This helps us count how many people visit our website by tracking if you’ve visited before")
          },
          {
            "value": _("24 hours")
          }
        ]
      },
      {
        "tds": [
          {
            "value": "_gat"
          },
          {
            "value": _("Used to manage the rate at which page view requests are made")
          },
          {
            "value": _("10 minutes")
          }
        ]
      }
    ]
  }) }}


  <h2 class="u-fs-m u-mt-m">{{ _("Completing a survey (eq.ons.gov.uk)") }}</h2>

  {{ onsTable({
    "ths": [
      {
        "value": _("Name")
      },
      {
        "value": _("Purpose")
      },
      {
        "value": _("Expires")
      }
    ],
    "trs": [
      {
        "tds": [
          {
            "value": _("Session")
          },
          {
            "value": _("To keep you signed in when completing a survey")
          },
          {
            "value": _("When a user logs out or closes the browser. Or when their cookie cache is cleared")
          }
        ]
      }
    ]
  }) }}

  <h2 class="u-fs-m u-mt-m">{{ _("Your account") }} (surveys.ons.gov.uk)</h2>

  {{ onsTable({
    "ths": [
      {
        "value": _("Name")
      },
      {
        "value": _("Purpose")
      },
      {
        "value": _("Expires")
      }
    ],
    "trs": [
      {
        "tds": [
          {
            "value": "COOKIE_SUPPORT"
          },
          {
            "value": _("To check that your browser can support cookies")
          },
          {
            "value": _("When a user closes the browser or when their cookie cache is cleared")
          }
        ]
      },
      {
        "tds": [
          {
            "value": "GUEST_LANGUAGE_ID"
          },
          {
            "value": _("To store your preferred language so that certain content can be displayed in your own language")
          },
          {
            "value": _("When a user closes the browser or when their cookie cache is cleared")
          }
        ]
      },
      {
        "tds": [
          {
            "value": "JSESSIONID"
          },
          {
            "value": _("To keep your session active when using your account to access portfolio and messages")
          },
          {
            "value": _("When a user closes the browser or when their cookie cache is cleared")
          }
        ]
      },
      {
        "tds": [
          {
            "value": "ID"
          },
          {
            "value": _("To store an encrypted identifier which is used to retrieve the information associated to your account")
          },
          {
            "value": _("When a user closes the browser or when their cookie cache is cleared")
          }
        ]
      },
      {
        "tds": [
          {
            "value": "COMPANY_ID"
          },
          {
            "value": _("To store an encrypted identifier which is used to retrieve the information associated to your account")
          },
          {
            "value": _("When a user closes the browser or when their cookie cache is cleared")
          }
        ]
      },
      {
        "tds": [
          {
            "value": "USER_UUID"
          },
          {
            "value": _("To store the universally unique identifier created for your account")
          },
          {
            "value": _("When a user closes the browser or when their cookie cache is cleared")
          }
        ]
      },
      {
        "tds": [
          {
            "value": "LFR_SESSION_STATE_*"
          },
          {
            "value": _("To store the timestamp of the last request so that the session expiry warning message can be displayed")
          },
          {
            "value": _("When a user closes the browser or when their cookie cache is cleared")
          }
        ]
      },
      {
        "tds": [
          {
            "value": "csfcfc"
          },
          {
            "value": _("To store the flash object identifier for the most recent action you have performed")
          },
          {
            "value": _("When a user closes the browser or when their cookie cache is cleared")
          }
        ]
      }
    ]
  }) }}

  <h2 class="u-fs-m">{{ _("Data controller") }}</h2>

  <p>{{ _("The Data Controller for ONS Surveys is") }}:<br><br>Office for National Statistics<br>Government Buildings<br>Cardiff Road<br>Newport<br>South Wales<br>NP10 8XG</p>

  <p>{{ _("For questions regarding the Survey Data Collection service please contact us on") }}:
    <ul class="list list--bare">
      <li>{{ _("Telephone") }}: 0300 1234 931</li>
      <li>{{ _("Email") }}: <a href="mailto:surveys@ons.gov.uk">surveys@ons.gov.uk</a></li>
    </ul>
  </p>

  <h2 class="u-fs-m">{{ _("Why we collect your data") }}</h2>

  <p>{{ _("The Survey Data Collection service is used as the online collection mechanism for a number of our surveys. More surveys will be offered via this service over time.") }}</p>

  <p>{{ _("Individual survey teams are responsible for the content (the questions asked) and form (Excel spreadsheet to download, complete and return; or online questionnaire) of their respective surveys. Survey Data Collection does need some personal data in its own right for the functioning of the platform.") }}</p>

  <p>{{ _("The lawful reason for which your personal data is collected through the Survey Data Collection platform is Public task. The processing is necessary for us to perform a task in the public interest or for our official functions, and the task or function has a clear basis in law.") }}</p>

  <h2 class="u-fs-m">{{ _("When we collect your data") }}</h2>

  <p>{{ _("Your data is collected when") }}:
    <ul>
        <li>{{ _("you create an account and sign in to the ONS Surveys platform") }}</li>
        <li>{{ _("you complete a survey") }}</li>
        <li>{{ _("you contact us by any means") }}</li>
        <li>{{ _("you visit a website that comprises the Survey Data Collection platform") }}</li>
    </ul>
  </p>

  <h2 class="u-fs-m">{{ _("What data we collect") }}</h2>

  <h3 class="u-fs-r--b">{{ _("Personal data items required for the operation of the Survey Data Collection Platform") }}:</h3>

  {{ onsTable({
    "ths": [
      {
        "value": _("Data item")
      },
      {
        "value": _("Description")
      }
    ],
    "trs": [
      {
        "tds": [
          {
            "value": _("Email address")
          },
          {
            "value": "<p>" +
                      _("Survey Data Collection captures and stores the email address of those who register with the platform. Registration is required in order to complete a survey return.")
                      + "</p><p>" +
                      _("Email address is used as a unique user identifier. Once registered the email address and password created is required to identify you each time you use the service.")
                      + "</p><p>" +
                      _("Additionally, the email address is used to send communications for purposes of account management and reminders of survey responses.")
                      + "</p>"
          }
        ]
      },
      {
        "tds": [
          {
            "value": _("Business Name")
          },
          {
            "value": "<p>" +
                      _("Business names are pre-loaded into the Survey Data Collection platform as part of a business having been selected for a survey.")
                      + "</p><p>" +
                      _("The name of the business that has been selected for a given survey will have been provided to Survey Data Collection by another part of the Office for National Statistics responsible for the survey in question. Survey Data Collection stores and processes this.")
                      + "</p>"
          }
        ]
      },
      {
        "tds": [
          {
            "value": _("IP address")
          },
          {
            "value": "<p>" +
                      _("Internet Protocol address")
                      + "</p><p>" +
                      _("All devices connected to the internet will have an IP address and this is used for one device (e.g. the computer you use to provide a survey response at your place of work) to be able to talk to another (e.g. the Survey Data Collection web site) over the internet.")
                      + "</p><p>" +
                      _("The logs of IP address activity against the Survey Data Collection service are kept for a limited period of time to facilitate investigations in the case of any problems.")
                      + "</p>"
          }
        ]
      },
    ]
  }) }}

  <p>{{ _("Surveys that are conducted on the Survey Data Collection platform may collect additional items of personal data.") }}</p>

  <h3 class="u-fs-r--b">{{ _("Business surveys that require personal data") }}</h3>

  <p class="u-mb-no"><a href="https://www.ons.gov.uk/surveys/informationforbusinesses/businesssurveys/annualsurveyofhoursandearningsashe">{{ _("Annual Survey of Hours and Earnings") }}</a></p>

  <p>{{ _("The legal basis for undertaking the Annual Survey of Hours and Earnings (ASHE) is the Statistics of Trade Act 1947. This means the General Data Protection Regulation has not changed the fact that this is mandatory for the organisations selected to be part of the sample. The personal data an organisation returns as part of this submission does not require the permission of the employees who form the data subjects and the subjects do not have any option to opt-out. The ASHE survey collects the following items of personal data") }}:
    <ul>
        <li>{{ _("National insurance number") }}</li>
        <li>{{ _("Date of birth") }}</li>
        <li>{{ _("Postcode") }}</li>
    </ul>
  </p>

  <h3 class="u-fs-r--b">{{ _("Communication outside of the Survey Data Collection Platform") }}</h3>

  <p>{{ _("The Survey Data Collection platform contains both a telephone number and email address which can be used for both queries and issues with the platform and survey hosted on the platform.") }}</p>

  <p>{{ _("If you contact us via email, we will process the following data items") }}:
    <ul>
        <li>{{ _("Email address") }}</li>
        <li>{{ _("IP address of the server from which the email was sent") }}</li>
        <li>{{ _("Any items of personal data within the email") }}</li>
    </ul>
  </p>

  <p>{{ _("If you contact us via telephone, we will process the following data items") }}:
    <ul>
        <li>{{ _("Telephone number") }}</li>
        <li>{{ _("Name of the caller") }}</li>
        <li>{{ _("Any items of personal data disclosed during the call") }}</li>
    </ul>
  </p>

  <h2 class="u-fs-m">{{ _("Who we share your personal data with") }}</h2>

  <p>{{ _("We use several (1st and 3rd) parties to collect and process personal data. These include (but are not limited to) government departments and approved researchers. Further information can be found on the following articles") }}:
    <ul class="list list--bare">
      <li>
        <a href="https://www.ons.gov.uk/aboutus/whatwedo/statistics/requestingstatistics/approvedresearcherscheme">{{ _("Approved Researcher Scheme") }}</a>
      </li>
      <li class="u-mt-s">
        <a href="https://www.ons.gov.uk/aboutus/whatwedo/statistics/requestingstatistics/accesstounpublishedonsresearchdatabygovernmentorganisationsforstatisticalresearch">{{ _("Access to unpublished ONS research data by government organisations for statistical research") }}</a>
      </li>
    </ul>
  </p>

  <p>{{ _("Data is also processed by 3rd party IT companies who support our systems for the following purposes") }}:
    {{ onsTable({
      "ths": [
        {
          "value": _("Purpose")
        },
        {
          "value": _("Description")
        }
      ],
      "trs": [
        {
          "tds": [
            {
              "value": _("Cloud infrastructure")
            },
            {
              "value": _("Used to support the platform on which the Survey Data Collection service runs.")
            }
          ]
        },
        {
          "tds": [
            {
              "value": _("Email notification service")
            },
            {
              "value": _("A service used to send email messages to the active accounts registered to the Survey Data Collection service.")
            }
          ]
        },
        {
          "tds": [
            {
              "value": _("Secure file transfer")
            },
            {
              "value": _("This is used for the behind the scenes transfer of data that identify the businesses that have been selected for participation in a given survey.")
            }
          ]
        }
      ]
    }) }}
  </p>

  <h2 class="u-fs-m">{{ _("How long we keep your data") }}</h2>

  <h3 class="u-fs-r--b">{{ _("Log Retention") }}</h3>

  <p>{{ _("Standard logs from the Survey Data Collection service are retained for a period of 30 days. Exceptional events may be retained for longer.") }}</p>

  <p>{{ _("Our general retention period for data collected via annual surveys is 3 years.") }}</p>

  <p>{{ _("Personal data used for account access will be retained as long as the account is active.") }}</p>

  <h2 class="u-fs-m">{{ _("Your rights over your personal data") }}</h2>

  <p>{{ _("The General Data Protection Regulation (GDPR) details eight rights of individuals") }}:
    <ol>
        <li>{{ _("The right to be informed") }}</li>
        <li>{{ _("The right of access") }} *</li>
        <li>{{ _("The right to rectification") }} *</li>
        <li>{{ _("The right to erasure") }} *</li>
        <li>{{ _("The right to restrict processing") }} *</li>
        <li>{{ _("The right to data portability") }} * <br><emphasis>{{ _("This right only exists if the lawful basis used is either consent or contract. Neither the Survey Data Collection service nor any surveys hosted on this platform rely on either of the lawful basis and therefore this right is not applicable.") }}</emphasis></li>
        <li>{{ _("The right to object") }} *</li>
        <li>{{ _("Rights in relation to automated decision making and profiling.") }}<br><emphasis>{{ _("No automated decision making or profiling occurs at the personal level.") }}</emphasis></li>
    </ol>
    * {{ _("These rights are subject to exemptions.") }}
  </p>

  <h2 class="u-fs-m">{{ _("Contacting the Data Protection Office") }}</h2>

  <p>{{ _("The Data Protection Officer for the Office for National Statistics can be contacted as follows") }}:
    <ul class="list list--bare">
      <li>Office for National Statistics<br>Segensworth Road<br>Titchfield<br>Fareham<br>PO15 5RR</li>
      <li class="u-mt-m">{{ _("Telephone") }}: 0845 601 3034</li>
      <li>{{ _("Email") }}: <a href="mailto:dpo@statistics.gov.uk">dpo@statistics.gov.uk</a></li>
    </ul>
  </p>

  <h2 class="u-fs-m">{{ _("Contacting the Information Commissioner’s Office") }}</h2>

  <p>{{ _("We welcome the opportunity to be able to answer any questions or concerns you may have around the information provided here. If you are unhappy with our response to any of your requests or you have concerns around how your data has been handled, you have the right to lodge a complaint with the Information Commissioner’s Office.") }}</p>

  <p>Information Commissioner’s Office<br>Wycliffe House<br>Water Lane<br>Wilmslow<br>Cheshire<br>SK9 5AF</p>

  <p class="u-mb-no">{{ _("Telephone") }}: 0303 123 1113</p>

  <p>{{ _("Email") }}: <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a></p>

  <p>{{ _("The Information Commissioner’s Office provides guidance to the public on raising a concern with an organisation at the following location") }}: <a href="https://ico.org.uk/for-the-public/raising-concerns/">https://ico.org.uk/for-the-public/raising-concerns/</a></p>
{% endblock %}
