{% extends 'layouts/_base.html' %}
{% import 'macros/helpers.html' as helpers %}

{% set survey_title = survey_title or _("ONS Business Surveys") %}
{% set use_transactional_footer = true %}

{% block main %}
  {% do page | setAttribute("feedback", "") %}

  <h1>{{ _("Privacy and data protection") }}</h1>
  <p>{{ _("The information you provide when you fill in your census rehearsal questionnaire is protected by law.") }}</p>
  <p>{{ _("Here we detail why we need your information. We also describe all the steps that we take to make sure your
  information and your privacy are safe.") }}</p>

  <br>
  <h2>{{ _("How and why we use your information") }}</h2>

  <p>{{ _("We collect information from your questionnaire under our statutory objective to promote and
  safeguard the production of official statistics that serve the public good. This means that any personal data we collect will only
  ever be used to produce statistics or undertake statistical research. People will not be identified within those statistics or research.") }}</p>

  <p>{{ _("Every 10 years, the census gathers vital information that helps the government and local authorities
  plan services like health services, roads and libraries.") }}</p>

  <p>{{ _("By running a rehearsal for Census 2021, we can test our processes, systems and services and make
  sure everything goes smoothly for the real thing. The personal data you provide on your questionnaire will also be used to undertake
  research and produce statistics that serve the public good, both by the Office for National Statistics (ONS) and accredited
  researchers from other organisations.") }}</p>

  <p>{{ _("We may occasionally record information about a property or an individual, in the interests of safeguarding the wellbeing
  of both those being interviewed and interviewers, as well as to assist people in the completion of their questionnaires. We’ll hold the minimum
  amount of personal data needed to meet these purposes.") }}</p>

  <p>{{ _("For online completion, we’ll collect information about how people fill in their questionnaires online to provide us with
  knowledge of how to improve our online services.") }}</p>

  <br>
  <h2>{{ _("Who can access the information?") }}</h2>

  <p>{{ _("During the rehearsal we’ll employ third-party providers to assist us with parts of the operation.
  These third parties work under our instruction.") }}</p>
  <p>{{ _("We treat the information we hold with respect, keeping it secure and confidential. Data may be made available to approved
  researchers where there is a clear public value and it’s safe and lawful to do so. More information on") }}
  <a href="https://www.ons.gov.uk/aboutus/transparencyandgovernance/lookingafterandusingdataforpublicbenefit/policies">
  {{ _("how we allow access to data for research") }}</a> {{ _("is available. We also publish a full list of all the") }}
  <a href="https://www.ons.gov.uk/aboutus/whatwedo/statistics/requestingstatistics/approvedresearcherscheme">{{ _("approved researchers") }}</a>
  {{ _("who we’ve granted access to.") }}</p>

  <br>
  <h2>{{ _("How long are personal data kept?") }}</h2>

  <p>{{ _("Data protection law requires that personal data are kept for no longer than is needed to fulfil the purposes
  for which they were originally collected.") }}</p>

  <p>{{ _("The law allows that information held for statistical purposes only, such as information from your questionnaire,
  may be kept for longer periods. We’ll only continue to hold personal data where they are still used to produce statistics.
  Data used by approved researchers will be held within our ") }}
  <a href="https://www.ons.gov.uk/aboutus/whatwedo/paidservices/virtualmicrodatalaboratoryvml">{{ _("Secure Research Service") }}</a>
  {{ _(". Any personal data that we do not need, such as names and addresses, will be removed from the data at the earliest opportunity.
  The data will undergo regular reviews and will be deleted when they are no longer required.") }}</p>

  <p>{{ _("Safeguarding data, such as information about a property or an individual, will be held for the duration of the rehearsal.
  Most of the information will be deleted at the end of the rehearsal. In some instances, data will be held for longer periods, where
  keeping them continues to serve safeguarding purposes.") }}</p>

  <p>{{ _("Metrics containing information about how people fill in their questionnaires will be held in an identifiable form only until the necessary
  statistical matching has taken place. After this point the data will be de-identified and used for the purposes of improving our services.") }}</p>

  <br>
  <h2>{{ _("How the law protects your information") }}</h2>

  <p>{{ _("The ") }} <a href="https://eugdpr.org/">{{ _("General Data Protection Regulation") }}</a>
  {{ _(" and the ") }} <a href="http://www.legislation.gov.uk/ukpga/2018/12/contents/enacted">{{ _("Data Protection Act 2018") }}</a>
  {{ _("determine how, when and why any organisation can process your personal data. Personal data is any information that can identify a living
  individual. These laws exist to make sure your data are managed safely and used responsibly. They also give you certain rights about
  your data and create a responsibility on the ONS, as a user of personal data, to provide you with certain information.") }}</p>

  <p>{{ _("The ONS is a statutory body, meaning it was created by legislation, specifically the ") }}
  <a href="https://www.legislation.gov.uk/ukpga/2007/18/contents">{{ _("Statistics and Registration Service Act 2007") }}</a>
  {{ _(". Our objective is to promote and safeguard the production and publication of official statistics that serve the public good.
  All our collection and use of data comes from powers that can be found in that Act or other UK legislation.") }}</p>

  <p>{{ _("The census rehearsal questionnaire has been assessed as compatible with the ") }}
  <a href="https://www.legislation.gov.uk/ukpga/1998/42/contents">{{ _("Human Rights Act 1998") }}</a>{{ _(", specifically Article 8
  (right to respect for a private and family life) and Article 9 (freedom of thought, conscience and religion) of the convention rights.") }}</p>

  <br>
  <h2>{{ _("Legal basis for processing your data") }}</h2>

  <p>{{ _("Data protection legislation requires that all processing of personal data is undertaken under one or more conditions.") }}</p>

  <p>{{ _("For the census rehearsal, we’ll process information from your questionnaire, information about a property or an individual and
  information about how people fill in their questionnaires under the following condition:") }}</p>

    <ul>
        <li>{{ _("processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller.") }}</li>
    </ul>

  <p>{{ _("Under data protection legislation, an additional condition is required for the processing of special category personal data.
  These data include information about your racial or ethnic origin, political opinions, religious or philosophical beliefs,
  trade union membership, sex life or sexual orientation. They also include genetic and biometric data.") }}</p>

  <p>{{ _("For the rehearsal, we’ll process special category personal data on race, ethnicity, religion, philosophical beliefs and sexual orientation.
  nformation from your questionnaire is processed under the following two conditions:") }}</p>

    <ul>
        <li>{{ _("processing is necessary for archiving in the public interest, scientific or historical research purposes or statistical purposes based on UK law.") }}</li>
        <li>{{ _("processing is necessary for reasons of substantial public interest.") }}</li>
    </ul>

  <p>{{ _("We’ll process special category data on information about a property or an individual under the following condition:") }}</p>

    <ul>
        <li>{{ _("processing is necessary for reasons of substantial public interest.") }}</li>
    </ul>

  <p>{{ _("We’ll ensure the principle of data minimisation and have measures in place to delete or de-identify personal data where appropriate.") }}</p>

  <p>{{ _("The census rehearsal gives us invaluable information about the systems and processes required for Census 2021. It’ll help us complete one of
  our main functions in delivering Census 2021, which will subsequently provide numerous benefits for the wider society.") }}</p>

  <p>{{ _("There’s substantial public interest in the collection of safeguarding data to ensure the safety of both interviewers and respondents.
  We’re required to ensure the safety of our staff and the public.") }}</p>

  <br>
  <h2>{{ _("Your rights") }}</h2>

  <p>{{ _("As a data subject (someone whose personal data we hold), you have rights available to you under data protection law.
  If you wish to exercise any of these rights, please contact our data protection officer. However, please be aware that we may
  not be required to comply if the data are being held for statistical purposes only.
  Compliance requirements are set out in the Data Protection Act 2018.") }}</p>

  <p>{{ _("You have the right to request from any controller that holds your personal data access to the information they
  hold about you. You can ask them to amend any wrong or inaccurate information they hold about you. You have the right to
  object to your personal data being processed.") }}</p>

  <p>{{ _("You have the right, in some circumstances, to ask for any controller to:") }}</p>

    <ul>
        <li>{{ _("erase any personal data they may hold about you") }}</li>
        <li>{{ _("stop processing your personal data") }}</li>
        <li>{{ _("pass any information they hold about you to another controller") }}</li>
    </ul>

  <p>{{ _("You can get further information on the rights available to you and the circumstances under which you can exercise them from the ") }}
  <a href="https://ico.org.uk/">{{ _("Information Commissioner’s Office") }}</a>
  {{ _(".") }}</p>

  <br>
  <h2>{{ _("The data controller") }}</h2>

  <p>{{ _("The controller is the person or organisation that decides which personal data will be processed and for what purpose. For the census rehearsal, the
  ONS is the controller and makes those decisions.") }}</p>

  <p>{{ _("You can contact us by:") }}</p>

  <p>{{ _("Telephone: %(telephone_number)s",telephone_number = helpers.telephone_number(tel="01329 444972")) }}</p>

  <p>{{ _("Email: %(email_address)s",email_address = helpers.email_address(email="census.customerservices@ons.gov.uk")) }}</p>

  <p>{{ _("Post:") }}</p>

  <p>Census Customer Services
  <br>Office for National Statistics
  <br>Titchfield
  <br>Fareham
  <br>Hampshire
  <br>PO15 5RR</p>

  <br>
  <h2>{{ _("How to contact the data protection officer") }}</h2>

  <p>{{ _("Our data protection officer is the person charged with providing us with advice and guidance on the ways we can best protect the information
  we collect and use. They are involved in all the major decisions we make in relation to personal data. If you have any queries or concerns regarding our
  use of your data, or wish to exercise any of your rights.") }}</p>

  <p>{{ _("You can contact the data protection officer by:") }}</p>

  <p>{{ _("Telephone: %(telephone_number)s",telephone_number = helpers.telephone_number(tel="0845 601 3034")) }}</p>

  <p>{{ _("Email: %(email_address)s",email_address = helpers.email_address(email="DPO@statistics.gov.uk")) }}</p>

  <p>{{ _("Post:") }}</p>

  <p>Data Protection Officer
  <br>Census Customer Services
  <br>Office for National Statistics
  <br>Titchfield
  <br>Fareham
  <br>Hampshire
  <br>PO15 5RR</p>

  <br>
  <h2>{{ _("The Information Commissioner’s Office") }}</h2>

  <p>{{ _("The Information Commissioner’s Office (ICO) is the independent organisation tasked with regulating data protection in the UK. The ICO can give you ") }}
  <a href="https://ico.org.uk/your-data-matters/">{{ _("extra information about data protection") }}</a>
  {{ _(" and your rights and will deal with any complaints you may have
  about our use of your information.") }}</p>

  <p>{{ _("You can contact the ICO by:") }}</p>

  <p>{{ _("Telephone: %(telephone_number)s",telephone_number = helpers.telephone_number(tel="0303 123 1113")) }}</p>

  <p>{{ _("Email: %(email_address)s",email_address = helpers.email_address(email="casework@ico.org.uk")) }}</p>

  <p>{{ _("Post:") }}</p>

  <p>Information Commissioner’s Office
  <br>Wycliffe House
  <br>Water Lane
  <br>Wilmslow
  <br>Cheshire
  <br>SK9 5AF</p>


{% endblock %}
