*.py[cod]
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
coverage.xml
.tox
coverage/

.cache

*.log
eq.log.*

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env
env*
venv

# intellij
.idea/
*.ipr
*.iml
*.iws

.DS_Store

node_modules/
static/
tests/results
tests/coverage
tests/a11y

**/_sprite.scss

## OS X
._*
.Spotlight-V100
.Trashes

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
newrelic.ini

# Added to prevent committing coverage reports.
htmlcov/
