{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["**/_sprite.scss", "styles/vendor/**/*.scss"],
  "rules": {
    "at-rule-empty-line-before": ["always", "ignore": ["all-nested", "after-comment"]]
  }
}
