{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["**/_sprite.scss", "styles/vendor/**/*.scss"],
  "rules": {
    "at-rule-empty-line-before": null,
    "rule-nested-empty-line-before": null
  }
}
