language: python
sudo: required
dist: trusty
python:
- '3.5'
env:
- EQ_SCHEMA_BUCKET=""
before_install:
  - pip install codecov
install:
- ". $HOME/.nvm/nvm.sh"
- rm -rf node_modules
- npm cache clean
- nvm install v5.4.1
- npm config set strict-ssl true
- npm install
- pip install -U pip wheel
- pip install --require-hashes -r requirements.txt
- pip install -r requirements_for_test.txt
before_script:
- "./scripts/run_app.sh"
script:
- "./scripts/run_tests.sh"
# fail travis if under X% test coverage
# - coverage report --fail-under=80
notifications:
-  slack: digitaleq:LDxJXRGeVmg3PpdUhp90eY3Z
addons:
  sauce_connect:
    username:
      secure: sld9cAvecVCU8wpW1kNa+n28n+ix/ghTI+kv7Cw/Qul7F6PJjyboFDeynSGKqAjmk0O5zDpJTgsjxqOUtL6xqSE8tlNKd2O9dt8OXfcvnDlI8wSzhNT8CghmDWyzT0vVrASw170VY1ECMyKBBqVSnoxzgIFPHGo9zfQ0aEpwRcg8zBWsG2bdbHbb86hJCSrz8UUDg9jqv5CmkGoW7NboVJi0q6cXVsLctKivKD175BXmhROSc8UFEpOvFreJvL3ud/7pWaicPDQ9dTbyxo085wtC5/5lhqxj5od0awOgDH99lx76uG+remyMp2fFGEzrahPLjY/J1XnEUOSefaHu9U2j3FvpQFWDeXJF5fDP/MmkvfbIMRo6cwE2K7bqRZW9l5CA3faPNXpCCKGehX1OBdFQ1hZgEg671xiUFgomPt+yvnQ4sQNJdmLFSymwzrMKiiEcpVrfOPkTgNZmIPp5r1awCJoWb8PGjYWL6WOCIce8A+B63nZOMWCeKCEcF2WmIb2gYAMPP/VQF7BJ814GnV2pI6ANnbp2EFEbHihOp7c+JiSoEA+q/e5L58BCotHXTdt/9JzbWlx5EMDSMleeZbncgkSBkt4yMSNvtDKF1U9O/G4LRI65lxvgA0B1ob0X/Q0lcm8Y0twL9Bp/SQSnPfPJJchSbv5Nfn7EHLpdPjg=
    access_key:
      secure: WOKiHo0E8e3lKwt8Jt9/T1TW8L2h3+HSjaWdisJ/fzWSxZs9CILxJ75qb61+0kxRragF6ts7a7YQQzZXm44WDoQNJUXe4wp18hKaCO+sqIueuGbWCLQzxe/6gwg3cSVvIdPw7MNkdS4Kxga6iReh9mU4tz0LQ5y6XYJ33t3XxqXvvZPwTOEzWFhRidpKh/ASRLP9iEsOjUdifSQ34Zw4ShS93qKdmOMSECDcekbFMWf47OwDkDUJQFg5TAQinxjBdTnsIcT5g3R1EbR8iS7bf3oesKfYgab2GsYIL4fwLG6oK6Xjj3a+7HSiv6ts5nmgU/OUlDQ+E0asPHKgBEKMVDq0M9l+KKhY2c2Ioaee9doeYa8oi9jhkzhF3OIVYugginQFiBaLkwC+K10yHAeZxjXIeyCCUqz8IpQ8+B7cI93JJzmLUUQWocrc/vXJ7RPkVcSTlUdH8Nyzb/BzAJfvUAUsFjpm1xqokV5M0ZxUeGq66OjXJpPE2gXkpXFObGRkasSQc52Lc6Q7OOfV3mJZ/VdTBUX9mfEjaEZ1dC5E2SpwGtTnubb6AYqgma/Hu01jimnOOqiLzVfxi80JXPzHQhGvCnpxTrfmMHG+Lrdgrte54MsVyZOKo4O7hPHLwTXcV08S0Nck0GPXs/IR4o0paPk0JR4B/YQTojAA/TwH5ak=
after_success:
 - codecov
 - bash <(curl -s https://codecov.io/bash)
