version: '2'

services:

  rabbit:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - eq-env
    environment:
      RABBITMQ_DEFAULT_USER: digitaleq
      RABBITMQ_DEFAULT_PASS: digitaleq

  db:
    image: postgres:9.4
    environment:
      POSTGRES_PASSWORD: digitaleq
      POSTGRES_USER: digitaleq
      POSTGRES_DB: runner
    ports:
      - "5433:5432"
    networks:
      - eq-env

  eq-survey-runner:
    build: ./
    environment:
      EQ_DEV_MODE: "True"
      EQ_ENABLE_CACHE: "True"
      EQ_DEVELOPER_LOGGING: "True"
      EQ_RABBITMQ_ENABLED: "True"
      EQ_SECRET_KEY: "NOT_SECRET_DOCKER_KEY"
      EQ_SERVER_SIDE_STORAGE_DATABASE_URL: postgres://digitaleq:digitaleq@db:5432/runner
      EQ_RABBITMQ_URL: amqp://digitaleq:digitaleq@rabbit:5672/%2F
      EQ_RABBITMQ_URL_SECONDARY: amqp://digitaleq:digitaleq@rabbit:5672/%2F
      EQ_SERVER_SIDE_STORAGE_USER_ID_SALT: "developer.user.id.salt"
      EQ_SERVER_SIDE_STORAGE_USER_IK_SALT: "developer.user.ik.salt"
      EQ_SERVER_SIDE_STORAGE_ENCRYPTION_USER_PEPPER: "developer.storage.encryption.pepper"
    restart: always
    depends_on:
      - db
      - rabbit
    networks:
      - eq-env
    ports:
      - "80:80"


networks:
  eq-env:
    driver: bridge
