[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
pytest = "*"
"pep8" = "*"
mock = "*"
pytest-cov = "*"
jsonschema = "*"
pylint = "*"
flask-debugtoolbar = "*"
pylint-mccabe = "*"
pylint-quotes = "*"
"beautifulsoup4" = "*"
httmock = "*"
"flake8" = "*"
"flake8-blind-except" = "*"
"flake8-commas" = "*"
"flake8-debugger" = "*"
"flake8-mock" = "*"
"flake8-print" = "*"
"flake8-tuple" = "*"
moto = "*"
freezegun = "*"
pytest-xdist = "*"
pytest-sugar = "*"
snakeviz = "*"

[packages]
colorama = "*"
flask = "*"
flask-babel = "*"
flask-caching = "*"
flask-login = "*"
flask-script = "*"
flask-sqlalchemy = "*"
"flask-themes2" = "*"
flask-wtf = "*"
gevent = {version = "*",platform_python_implementation = "=='CPython'"}
google-cloud-datastore = "*"
grpcio = "*"
gunicorn = "*"
newrelic = "*"
pika = "*"
"psycopg2" = "*"
pyyaml = "*"
requests = "*"
sdc-cryptography = "*"
structlog = "*"
ua-parser = "*"
blinker = "*"
"boto3" = "*"
humanize = "*"
flask-talisman = "*"
marshmallow = "*"
python-snappy = "*"
google-cloud-storage = "*"
jsonpointer = "*"

[requires]
python_version = "3.7"
