{% import 'macros/helpers.html' as helpers %}
{% set form = content.form %}
{% set errors = form.answer_errors[answer.id] %}
{% from "components/error/_macro.njk" import onsError %}

{% if render_guidance != False %}
  {%- set answer_guidance %}
    {% if answer.guidance %}
      {% with answer_guidance = {
        'id': answer.id,
        'label': answer.label,
        'schema_item': answer.guidance
      } %}
        {% include 'partials/answer-guidance.html' %}
      {% endwith %}
    {% endif %}
  {% endset -%}
{% endif %}

{% if errors | length > 0 %}
  {% set error = {
    "text": errors[0],
    "attributes": {
      "data-ga": "error",
      "data-ga-category": "Error",
      "data-ga-action": errors[0],
      "data-ga-label": question.id
    }
  } %}
{% endif %}

{% include 'partials/answers/' ~ answer.type|lower ~ '.html' %}
{{ answer_guidance }}
