{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/field/_macro.njk" import onsField %}

{% set form = content.form %}

{% set question_title = question.title %}
{% set question_description = format_paragraphs(question.description) if question.description else None %}
{% set question_guidance = "" %}
{% set question_definition = "" %}
{% set answers_require_legend = answers_require_legend(question) %}
{% set answer_requires_legend = answer_requires_legend(question) %}

{%- set question_definition -%}
  {%- if question.definitions -%}
    {%- include 'partials/question-definition.html' -%}
  {%- endif -%}
{%- endset -%}

{% set question_guidance %}
  {%- if question.guidance -%}
    {% set contents = question.guidance.contents %}
    {% from "components/panel/_macro.njk" import onsPanel %}
    {% call onsPanel({
      "id": "question-guidance-" + question.id,
      "classes": "u-mb-m"
    }) %}
      {% set contents = question.guidance.contents %}
      {% include 'partials/contents.html' %}
    {% endcall %}
  {% endif %}
{% endset %}

{%- set mutually_exclusive_question = question.type == 'MutuallyExclusive' -%}

{% set question_answers %}
  {% if mutually_exclusive_question %}
    {%- set answer = question.answers[0] -%}

    {%- set deselectionMessage = _("Selecting this will clear your answer") -%}
    {%- set deselectGroupAdjective = _("cleared") -%}

    {%- if answer.type == 'checkbox' -%}
      {%- set deselectionMessage = _("Selecting this will deselect any selected options") -%}
      {%- set deselectGroupAdjective = _("deselected") -%}
    {%- endif -%}

    {%- set mutuallyExclusive = {
      "or": _("Or"),
      "checkbox": map_checkbox_config(form, question.answers[-1])[0],
      "deselectionMessage": deselectionMessage,
      "deselectGroupAdjective": deselectGroupAdjective,
      "deselectCheckboxAdjective": _("deselected"),
    } %}
    {% include 'partials/answer.html' %}
  {%- else -%}
    {%- set answers -%}
      {%- for answer in question.answers -%}
        {% include 'partials/answer.html' %}
      {%- endfor -%}
    {%- endset -%}

    {%- if answers_require_legend -%}
      {%- call onsField({
        "legend": question_title
      }) -%}
        {{ answers }}
      {%- endcall -%}
    {%- else -%}
      {{ answers }}
    {%- endif -%}
  {%- endif -%}
{% endset %}

{% call onsQuestion({
  "id": question.id,
  "title": question_title,
  "description": question_description
}) %}
  {%- if content.list_items -%}
    {% include 'partials/summary/list-summary.html' %}
  {% endif %}
  {{ question_definition }}
  {{ question_guidance }}

  {% if invalid %}
    {% include 'partials/questions/errors.html' %}
  {% else %}
    {{ question_answers }}
  {% endif %}
{% endcall %}
