{% from "components/details/_macro.njk" import onsDetails %}

{% for definition in question.definitions %}
  {% call onsDetails({
      "title": definition.title,
      "classes": "u-mb-s",
      "summaryAttributes": {
        "data-ga": "click",
        "data-ga-category": "Question definition",
        "data-ga-action": "Open panel",
        "data-ga-label": definition.title
      },
      "button": {
        "close": _("Hide this"),
        "contextSuffix": _("content"),
        "attributes": {
          "data-ga": "click",
          "data-ga-category": "Question definition",
          "data-ga-action": "Close panel",
          "data-ga-label": definition.title
        }
      }
  }) %}
    {% set contents = definition.contents %}
    {% include 'partials/contents.html' %}
  {% endcall %}
{% endfor %}
