{% from "components/question/_macro.njk" import onsQuestion %}

{% set form = content.form %}

{% set question_title = question.title %}
{% set question_description = format_paragraphs(question.description) if question.description else None %}
{% set question_guidance = "" %}
{% set question_definition = "" %}
{% set wrap_question_in_fieldset = question_as_legend(question) %}

{%- set question_definition -%}
  {%- if question.definitions -%}
    {%- include 'partials/question-definition.html' -%}
  {%- endif -%}
{%- endset -%}

{% set question_guidance %}
  {%- if question.guidance -%}
    {% set content_block = question.guidance.content %}
    {% from "components/panel/_macro.njk" import onsPanel %}
    {% call onsPanel({
      "id": "question-guidance-" + question.id,
      "classes": "u-mb-m"
    }) %}
      {% include 'partials/content-block.html' %}
    {% endcall %}
  {% endif %}
{% endset %}

{%- set mutually_exclusive_quesstion = question.type == 'MutuallyExclusive' -%}

{% set question_answers %}
  {% if mutually_exclusive_quesstion %}
    {%- set answer = question.answers[0] -%}
    {%- set mutuallyExclusiveAnswer = question.answers[1] -%}
    {%- set mutuallyExlusiveOptions = mutuallyExclusiveAnswer.options[0] -%}

    {%- set deselectionMessage = _("Selecting this will clear your answer") -%}
    {%- set deselectGroupAdjective = _("cleared") -%}

    {%- if answer.type == 'checkbox' -%}
      {%- set deselectionMessage = _("Selecting this will deselect any selected options") -%}
      {%- set deselectGroupAdjective = _("deselected") -%}
    {%- endif -%}

    {%- set mutuallyExclusive = {
      "or": _("Or"),
      "checkbox": {
        "id": mutuallyExclusiveAnswer.id + "-0",
        "label": {
          "text": mutuallyExlusiveOptions.label
        },
        "value": mutuallyExlusiveOptions.value,
        "name": mutuallyExclusiveAnswer.id
      },
      "deselectionMessage": deselectionMessage,
      "deselectGroupAdjective": deselectGroupAdjective,
      "deselectCheckboxAdjective": _("deselected"),
    } %}
    {% include 'partials/answer.html' %}
  {%- else -%}
    {%- for answer in question.answers -%}
      {% include 'partials/answer.html' %}
    {%- endfor -%}
  {%- endif -%}
{% endset %}

{% call onsQuestion({
  "id": question.id,
  "title": question_title,
  "description": question_description,
  "useFieldset": wrap_question_in_fieldset
}) %}
  {%- if content.list_items -%}
    {% include 'partials/summary/list-summary.html' %}
  {% endif %}
  {{ question_definition }}
  {{ question_guidance }}

  {% if invalid %}
    {% include 'partials/questions/errors.html' %}
  {% else %}
    {{ question_answers }}
  {% endif %}
{% endcall %}
