$color-white: #ffffff;
$color-black: #2B2B2B;
$color-grey: #b2b2b3;
$color-yellow: #fff4d3;
$color-blue: #238AB7;
$color-light-blue: lighten(#238AB7, 15%);

$color-dark-grey: #4f4f51;
$color-light-grey: #F4F4F4;

// brand

$color-primary: #ea662c;
$color-secondary: #bee1e6;
$color-secondary--light: #d5ebed;
$color-tertiary: #fff388;

// assignment

$color-selection: $color-secondary;
$color-selection-text: $color-black;
$color-text: #4F5054;
$color-links: #13b3c0;
$color-borders: $color-black;
$color-placeholder: $color-dark-grey;
