$color-white: #ffffff;
$color-black: #4C4B4B;
$color-grey: #b2b2b3;
$color-dark-grey: #4f4f51;
$color-light-grey: #F4F4F4;


// brand

$color-blue: #003d59;
$color-green: #a8bd3a;
$color-primary: $color-blue;
$color-secondary: $color-green;

$color-light-blue: tint($color-blue, 40);


$color-red: #C50B0B;

// assignment

$color-selection: $color-secondary;
$color-selection-text: $color-black;
$color-text: $color-black;
$color-links: $color-blue;
$color-borders: $color-grey;
$color-placeholder: $color-grey;

$color-errors: $color-red;
