$font-sans: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$font-serif: Georgia, serif;

$base-font-size: 18px;
$base-line-height: 1.5;

$font-size-h1: 51px;
$font-size-h2: 38px;
$font-size-h3: 28px;
$font-size-h4: 21px;
