::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $color-placeholder;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $color-placeholder;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $color-placeholder;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $color-placeholder;
}

fieldset,
legend {
  padding: 0;
  margin: 0;
  border: none;
}

input {
  box-sizing: border-box;
}

.form {
  margin-bottom: 1rem;
}

.field {
  width: 100%;
  margin: 0.5rem 0;

  @include mq(s) {
    margin: 1rem 0;
  }
}

.field--inline {
  display: flex;
  align-items: center;
  .label,
  .input {
    display: inline-block;
    display: flex;
    margin-bottom: 0;
  }
  .label {
    width: auto;
  }
  .input {
    margin-left: 0.5rem;
    flex: 1;
  }
}

.field--radio,
.field--checkbox {
  .radio,
  .label {
    display: inline-block;
    vertical-align: middle;
  }
  .label {
    margin: 0 1rem 0 0.5rem;
  }
}

.input {
  border: 1px solid $color-borders;
  padding: 10px 1rem;
  border-radius: 0;
  display: block;
  width: 100%;
  color: inherit;
  font-size: 16px;
  &:focus {
    outline: none;
    border: 1px solid tint($color-blue, 50%);
  }
  &.has-error {
    border-color: $color-red;
  }
}

.label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: inherit;
  .field--required & {
    &::after {
      content: "*";
      margin-left: 5px;
      font-size: 12px;
    }
  }
}

.legend {
  margin-bottom: 1rem;
}

.errors {
  color: $color-errors;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.errors__item {
  margin: 5px 0;
  font-size: 12px;
  padding: 0;
  color: $color-errors;
}
