::-webkit-input-placeholder { /* WebKit browsers */
		color: $color-placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $color-placeholder;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $color-placeholder;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: $color-placeholder;
}

fieldset,
legend {
  padding: 0;
  margin: 0;
  border: none;
}

input {
  box-sizing: border-box;;
}

.form {
  margin-bottom: 18px;
}

.field {
  width: 100%;
  margin: 0 0 18px 0;
}

.field--inline {
  display: flex;
  align-items: center;
  .label,
  .input {
    display: inline-block;
    display: flex;
    margin-bottom: 0;
  }
  .label {
    width: auto;
  }
  .input {
    margin-left: 9px;
    flex: 1;
  }
}

.field--radio,
.field--checkbox {
  .radio,
  .label {
    display: inline-block;
    vertical-align: middle;
  }
  .label {
    margin: 0 18px 0 9px;
  }
}

.input {
  border: 1px solid $color-borders;
  padding: 10px 18px;
  border-radius: 3px;
  display: block;
  width: 100%;
  color: inherit;
  font-size: 16px;
  &:focus {
    outline: none;
    border: 1px solid tint($color-blue, 50%);
  }
  &.has-error {
    border-color: $color-red;
  }
}

.label {
  display: block;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  color: inherit;
  .field--required & {
    &:after {
      content: "*";
      margin-left: 5px;
      font-size: 12px;
    }
  }
}

.legend {
  margin-bottom: 18px;
}

.errors {
  color: $color-errors;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.errors__item {
	margin: 5px 0;
  font-size: 12px;
  padding: 0;
  color: $color-errors;
}
