::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: $color-placeholder;
  font-weight: 700;
}

fieldset,
legend {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  // float: left;
  // width: 100%;
}

input {
  box-sizing: border-box;
}
