.svg-icons--account-login-dims {
	width: 52px;
	height: 48.12px;
}

.svg-icons--account-logout-dims {
	width: 52px;
	height: 48.12px;
}

.svg-icons--action-redo-dims {
	width: 52px;
	height: 44.24px;
}

.svg-icons--action-undo-dims {
	width: 52px;
	height: 43.53px;
}

.svg-icons--align-center-dims {
	width: 52px;
	height: 47.29px;
}

.svg-icons--align-left-dims {
	width: 52px;
	height: 47.29px;
}

.svg-icons--align-right-dims {
	width: 52px;
	height: 47.29px;
}

.svg-icons--arrow-bottom-dims {
	width: 41.33px;
	height: 52px;
}

.svg-icons--arrow-circle-bottom-dims {
	width: 52px;
	height: 51.06px;
}

.svg-icons--arrow-circle-left-dims {
	width: 52px;
	height: 51.06px;
}

.svg-icons--arrow-circle-right-dims {
	width: 52px;
	height: 51.06px;
}

.svg-icons--arrow-circle-top-dims {
	width: 52px;
	height: 51.06px;
}

.svg-icons--arrow-left-dims {
	width: 52px;
	height: 40.36px;
}

.svg-icons--arrow-right-dims {
	width: 52px;
	height: 40.36px;
}

.svg-icons--arrow-thick-bottom-dims {
	width: 43.53px;
	height: 52px;
}

.svg-icons--arrow-thick-left-dims {
	width: 52px;
	height: 43.53px;
}

.svg-icons--arrow-thick-right-dims {
	width: 52px;
	height: 43.53px;
}

.svg-icons--arrow-thick-top-dims {
	width: 45.21px;
	height: 52px;
}

.svg-icons--arrow-top-dims {
	width: 41.33px;
	height: 52px;
}

.svg-icons--audio-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--audio-spectrum-dims {
	width: 48.24px;
	height: 52px;
}

.svg-icons--ban-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--bar-chart-dims {
	width: 52px;
	height: 48.24px;
}

.svg-icons--bell-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--bold-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--bolt-dims {
	width: 40.36px;
	height: 52px;
}

.svg-icons--book-dims {
	width: 47.29px;
	height: 52px;
}

.svg-icons--bookmark-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--box-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--briefcase-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--british-pound-dims {
	width: 44.47px;
	height: 52px;
}

.svg-icons--browser-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--brush-dims {
	width: 52px;
	height: 51.06px;
}

.svg-icons--calculator-dims {
	width: 48.24px;
	height: 52px;
}

.svg-icons--camera-slr-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--caret-bottom-dims {
	width: 52px;
	height: 36px;
}

.svg-icons--caret-left-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-right-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-top-dims {
	width: 52px;
	height: 36.48px;
}

.svg-icons--chat-dims {
	width: 52px;
	height: 49.09px;
}

.svg-icons--check-dims {
	width: 52px;
	height: 45.41px;
}

.svg-icons--chevron-bottom-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--chevron-left-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-right-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-top-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--circle-check-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--circle-x-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--clipboard-dims {
	width: 48.24px;
	height: 52px;
}

.svg-icons--clock-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--code-dims {
	width: 52px;
	height: 44.47px;
}

.svg-icons--cog-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--collapse-down-dims {
	width: 51.06px;
	height: 52px;
}

.svg-icons--collapse-left-dims {
	width: 51.06px;
	height: 52px;
}

.svg-icons--collapse-right-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--collapse-up-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--comment-square-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--compass-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--contrast-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--copywriting-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--credit-card-dims {
	width: 52px;
	height: 44.47px;
}

.svg-icons--crop-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--dashboard-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--data-transfer-download-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--data-transfer-upload-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--delete-dims {
	width: 52px;
	height: 45.21px;
}

.svg-icons--dial-dims {
	width: 52px;
	height: 45.21px;
}

.svg-icons--document-dims {
	width: 48.24px;
	height: 52px;
}

.svg-icons--double-quote-sans-left-dims {
	width: 52px;
	height: 44.47px;
}

.svg-icons--double-quote-sans-right-dims {
	width: 52px;
	height: 44.47px;
}

.svg-icons--double-quote-serif-left-dims {
	width: 52px;
	height: 44.47px;
}

.svg-icons--double-quote-serif-right-dims {
	width: 52px;
	height: 44.47px;
}

.svg-icons--droplet-dims {
	width: 43.77px;
	height: 52px;
}

.svg-icons--eject-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--elevator-dims {
	width: 44.47px;
	height: 52px;
}

.svg-icons--ellipses-dims {
	width: 52px;
	height: 29.41px;
}

.svg-icons--envelope-closed-dims {
	width: 52px;
	height: 44.47px;
}

.svg-icons--envelope-open-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--euro-dims {
	width: 51.06px;
	height: 52px;
}

.svg-icons--external-link-dims {
	width: 51.06px;
	height: 52px;
}

.svg-icons--eye-dims {
	width: 52px;
	height: 44.47px;
}

.svg-icons--file-dims {
	width: 48.24px;
	height: 52px;
}

.svg-icons--flag-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--flash-dims {
	width: 36.94px;
	height: 52px;
}

.svg-icons--folder-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--fork-dims {
	width: 48.24px;
	height: 52px;
}

.svg-icons--fullscreen-enter-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--fullscreen-exit-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--grid-four-up-dims {
	width: 50px;
	height: 50px;
}

.svg-icons--grid-three-up-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--grid-two-up-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--hard-drive-dims {
	width: 47.29px;
	height: 52px;
}

.svg-icons--heart-dims {
	width: 52px;
	height: 48.12px;
}

.svg-icons--home-dims {
	width: 52px;
	height: 49.09px;
}

.svg-icons--image-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--inbox-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--infinity-dims {
	width: 52px;
	height: 36.94px;
}

.svg-icons--info-dims {
	width: 36.94px;
	height: 52px;
}

.svg-icons--italic-dims {
	width: 48.24px;
	height: 52px;
}

.svg-icons--justify-center-dims {
	width: 52px;
	height: 48.24px;
}

.svg-icons--justify-left-dims {
	width: 52px;
	height: 48.24px;
}

.svg-icons--justify-right-dims {
	width: 52px;
	height: 48.24px;
}

.svg-icons--laptop-dims {
	width: 52px;
	height: 44.47px;
}

.svg-icons--layers-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--link-broken-dims {
	width: 51.06px;
	height: 52px;
}

.svg-icons--link-intact-dims {
	width: 51.06px;
	height: 52px;
}

.svg-icons--list-dims {
	width: 52px;
	height: 48.24px;
}

.svg-icons--location-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--lock-locked-dims {
	width: 46px;
	height: 50px;
}

.svg-icons--lock-unlocked-dims {
	width: 44.47px;
	height: 52px;
}

.svg-icons--loop-dims {
	width: 52px;
	height: 48.24px;
}

.svg-icons--loop-circular-dims {
	width: 52px;
	height: 44.47px;
}

.svg-icons--loop-square-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--magnifying-glass-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--map-marker-dims {
	width: 44.47px;
	height: 52px;
}

.svg-icons--media-pause-dims {
	width: 46px;
	height: 46px;
}

.svg-icons--media-play-dims {
	width: 45px;
	height: 46px;
}

.svg-icons--media-record-dims {
	width: 45px;
	height: 46px;
}

.svg-icons--menu-dims {
	width: 52px;
	height: 48.12px;
}

.svg-icons--minus-dims {
	width: 52px;
	height: 28.47px;
}

.svg-icons--monitor-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--move-dims {
	width: 50px;
	height: 50px;
}

.svg-icons--paperclip-dims {
	width: 48.24px;
	height: 52px;
}

.svg-icons--pencil-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--people-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--person-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--phone-dims {
	width: 40.71px;
	height: 52px;
}

.svg-icons--pie-chart-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--pin-dims {
	width: 47.29px;
	height: 52px;
}

.svg-icons--play-circle-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--plus-dims {
	width: 51.06px;
	height: 52px;
}

.svg-icons--power-standby-dims {
	width: 47.29px;
	height: 52px;
}

.svg-icons--print-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--project-dims {
	width: 52px;
	height: 48.24px;
}

.svg-icons--question-mark-dims {
	width: 40.71px;
	height: 52px;
}

.svg-icons--reload-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--resize-both-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--resize-height-dims {
	width: 40.71px;
	height: 52px;
}

.svg-icons--resize-width-dims {
	width: 52px;
	height: 39.76px;
}

.svg-icons--right-arrow-dims {
	width: 39.39px;
	height: 52px;
}

.svg-icons--rss-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--rss-alt-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--share-dims {
	width: 52px;
	height: 48.12px;
}

.svg-icons--share-boxed-dims {
	width: 52px;
	height: 48.24px;
}

.svg-icons--signal-dims {
	width: 47.29px;
	height: 52px;
}

.svg-icons--spreadsheet-dims {
	width: 52px;
	height: 48.12px;
}

.svg-icons--star-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--tablet-dims {
	width: 48.24px;
	height: 52px;
}

.svg-icons--tag-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--tags-dims {
	width: 52px;
	height: 39.76px;
}

.svg-icons--target-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--task-dims {
	width: 52px;
	height: 47.29px;
}

.svg-icons--text-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--thumb-down-dims {
	width: 50px;
	height: 49px;
}

.svg-icons--thumb-up-dims {
	width: 50px;
	height: 50px;
}

.svg-icons--transfer-dims {
	width: 52px;
	height: 47.29px;
}

.svg-icons--trash-dims {
	width: 47.29px;
	height: 52px;
}

.svg-icons--underline-dims {
	width: 47.29px;
	height: 52px;
}

.svg-icons--warning-dims {
	width: 48.12px;
	height: 52px;
}

.svg-icons--x-dims {
	width: 52px;
	height: 51.06px;
}

