@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic");

html {
  font-size: 112.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-sans;
  color: $color-text;
}

p {
  font-size: 18px;
  max-width: 50rem;
  margin: 0 0 20px 0;
}

h1,
.h1 {
  font-size: $font-size-h1;
  font-weight: 700;
}

h2,
.h2 {
  font-size: $font-size-h2;
  font-weight: 600;
}

h3,
.h3 {
  font-size: $font-size-h3;
  font-weight: 600;
}

h4,
.h4 {
  font-size: $font-size-h4;
  font-weight: 600;
}

code {
  font-size: 14px;
}
