<div class="summary">
  <h2 class="summary__title neptune">{{ content.summary.label }}</h2>
  {%- for group in content.summary.groups -%}

  <div class="summary__block u-mb-xs">
    {%- for answer in group.answers -%}
    <div class="summary__item">
      <div class="grid">
        <div class="grid__col col-8@xs mars {{ 'col-10@m' }}">
          <div class="summary__label mars" id="{{ answer.id }}-{{ loop.index }}-label"
               data-qa="{{ answer.id }}-{{ loop.index }}-label">
            <p class="icon--{{content.summary.icon}}" data-qa="{{ answer.id }}-{{ loop.index }}">
              {{ answer.label|striptags }}
            </p>
          </div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="{{ answer.block.link }}#{{ answer.id }}" class="summary__edit-link"
               aria-describedby="{{ answer.id }} {{ answer.id }}-answer" data-qa="{{ answer.id }}-{{ loop.index }}-edit"
               {{helpers.track('click', 'Summary', 'Edit click') }}>{{ _("Change")}}
            <span class="u-vh">
                {{ _("Change your answer for: %(title)s. The current value is: %(value)s",
                title=answer.label|striptags,
                value=answer.label|striptags) }}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
  {%- endfor -%}
  <a class="page__previous page__previous--bottom u-mb-l u-dib"
     {{helpers.track('click', 'Navigation', 'Add Person link click', bottom)}}
  href="{{add_person_location}}" id="add-person-link">{{ _("Add") }} {{ content.summary.label|lower }}
  </a>
</div>
