{% macro answer_with_detail_answer(selected_answer) %}
    {{selected_answer.label}}
    {%- if selected_answer.detail_answer_value -%}
    <ul class="u-m-no">
        <li>
          {{ selected_answer.detail_answer_value }}
        </li>
    </ul>
    {%- endif -%}
{% endmacro %}

{%- if answer.value|length > 1 -%}
    <ul class="u-m-no">
        {% for selected_answer in answer.value %}
            <li>{{ answer_with_detail_answer(selected_answer) }}</li>
        {% endfor %}
    </ul>
{%- else -%}
    {{ answer_with_detail_answer(answer.value[0]) }}
{%- endif -%}
