<div class="collapsible js-collapsible">
    <div class="collapsible__controls">
        <button type="button" class="btn btn--secondary btn--small collapsible__control js-collapsible-toggle-all u-wa--@xs" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Show all" data-ga-label="Show all" data-close-all-label="{{ _('Hide all') }}" data-open-all-label="{{ _('Show all') }}" aria-hidden="true">{{ _("Show all") }}</button>
    </div>

    <div class="js-collapsible-content">
        {%- for group in content.summary.groups -%}
            {%- if group.title -%}
            {%- set outer_loop = loop -%}
                <h3 class="collapsible__title js-collapsible-title u-cf icon--collapsible" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Open panel" data-ga-label="{{group.title}}">
                    <span class="collapsible__title-text">{{group.title}}</span>
                    <button type="button" class="btn btn--secondary btn--small collapsible__title-right js-collapsible-toggle u-wa--@xs" id="{{ group.id }}-button" data-close-label="{{ _('Hide') }}" data-open-label="{{ _('Show') }}" aria-hidden="true" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Open panel" data-ga-label="{{group.title}}">{{ _("Show") }}</button>
                </h3>
            {%- endif -%}

            <div class="collapsible__body u-fs-r js-collapsible-body">
                {%- for block in group.blocks -%}
                    {%- set question = block.question -%}
                        {%- set has_multiple_answers = question.answers|length > 1 -%}

                        {%- if has_multiple_answers -%}
                            {%- include theme(['partials/summary/question-multiple-answers.html']) -%}
                        {%- else -%}
                            {%- include theme(['partials/summary/question-single-answer.html']) -%}
                        {%- endif -%}

                        {%- for answers in question.answers -%}
                            <div class="u-mb-s">
                                {%- if answers.list -%}
                                    <ul>
                                        {%- for li in answers.list -%}
                                            <li>{{ li }}</li>
                                        {%- endfor -%}
                                    </ul>
                                {%- endif -%}
                            </div>
                        {%- endfor -%}
                {%- endfor -%}
            </div>
        {%- endfor -%}
    </div>
</div>
