{% set answer_value %}
  {% include ['partials/summary/answer.html'] %}
{% endset %}
<div class="grid__col col-4@xs col-2@m">
    <div class="summary__link {{ 'summary__link--textarea' if is_textarea }} u-fs-r">
        <a href="{{ block.link }}#{{ answer.id }}" class="summary__edit-link" aria-describedby="{{ answer.id }} {{ answer.id }}-answer" data-qa="{{ answer.id }}-edit" {{ helpers.track('click', 'Summary', 'Edit click') }}>{{ _("Change") }}<span class="u-vh">
        {{ _("Change your answer for: %(title)s. The current value is: %(value)s",
        title=answer.label|striptags if has_multiple_answers else question.title|striptags,
        value=answer_value) }}
    </span></a>
    </div>
</div>
