<div class="summary__item summary__item--multiple">
    <div class="grid">
        <div class="grid__col col-12@m">
            {%- include ['partials/summary/display-question.html'] -%}
        </div>
    </div>

{%- for answer in question.answers -%}
    {% set is_textarea = answer_is_type(answer, 'textarea') %}
    <div class="grid">
        <div class="grid__col col-12@xs {{ 'col-10@m' if is_textarea else 'col-6@m' }}">
            {%- include ['partials/summary/display-answer-label.html'] -%}
        </div>

        {%- include ['partials/summary/display-answer.html'] -%}

        {%- if content.summary.answers_are_editable -%}
            {% include ['partials/summary/edit-link.html'] -%}
        {%- endif -%}

    </div>
{%- endfor -%}

</div>
