<div class="summary">
    {%- if content.summary.collapsible -%}
        {%- include 'partials/summary/collapsible-summary.html' -%}
    {%- else -%}
        {%- for group in content.summary.groups if group.blocks -%}
            {%- if group.title -%}
                <h2 class="summary__title u-fs-m" id="{{ group.id }}">{{ group.title }}</h2>
                <div class="summary__block u-mb-l">
            {%- elif loop.first -%}
                <div class="summary__block u-mb-l">
            {%- endif -%}

                {%- for block in group.blocks -%}
                    {%- set question = block.question -%}

                    {%- set has_multiple_answers = question.answers|length > 1 -%}

                    {%- if has_multiple_answers -%}
                        {%- include theme(['partials/summary/question-multiple-answers.html']) -%}
                    {%- else -%}
                        {%- include theme(['partials/summary/question-single-answer.html']) -%}
                    {%- endif -%}

                {%- endfor -%}
                {%- if content.summary.summary_type == 'CalculatedSummary' -%}
                    {%- include theme(['partials/summary/calculated-summary-answer.html']) -%}
                {%- endif -%}
            {%- if loop.last or loop.nextitem.title -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
</div>
