{% extends 'layouts/_base.html' %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% import 'macros/helpers.html' as helpers %}

{% set survey_title = _("Error") + " " + status_code | string %}

{% block main %}
  <h1 class="u-fs-l">{{ _("Error") }} {{status_code}}</h1>
  {% call onsPanel({
    "type": "error",
    "spacious": true
  }) %}
     <strong>{{ _("Sorry, something has gone wrong") }}.</strong>
    {%- if tx_id -%}
      <p>{{ _("Please quote this reference for any support queries") }}.</p>
      <ul class="list list--boxes">
        {%- for id_part in tx_id -%}
          <li class="list__item">{{id_part}}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  {% endcall %}

  {{answer_guidance}}

  <div class="u-mt-m u-mb-s">
    <div class="u-fw-b">{{ _("Your system information") }}</div>
    <div>{{ua.user_agent.family}} ({{ua.user_agent.major or '0'}}.{{ua.user_agent.minor or '0'}}.{{ua.user_agent.patch or '0'}})</div>
    <div>{{ua.os.family}} ({{ua.os.major or '0'}}.{{ua.os.minor or '0'}}.{{ua.os.patch or '0'}})</div>
  </div>
{% endblock %}

