{% extends 'layouts/_base.html' %}
{% import 'macros/helpers.html' as helpers %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}

{% set block = content.block %}
{% set form = content.form %}

{% block preHeader %}
  <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>

  {{
    onsCookiesBanner({
        "html": _('We use cookies to improve your experience of census.gov.uk'),
        "secondaryButtonUrl": '#'
    })
  }}

{% endblock %}

{% block main %}
  {% if previous_location_url %}
    <div class="u-mb-s">
      <a {{ helpers.track('click', 'Navigation', 'Previous link click', position )}} href="{{ previous_location_url }}" id="top-previous">{{ _("Previous") }}</a>
    </div>
  {% endif %}

  {% block form_errors %}{% endblock %}

  {% block form_content %}
      <div class="group" id="{{current_location.group_id}}">
        {% include 'partials/block.html' %}
      </div>
  {% endblock %}

  {% block submit_button %}
      {{
          onsButton({
              "text": continue_button_text | default(_("Save and continue")),
              "name": "action[save_continue]",
              "classes": "u-mt-xl",
              "attributes": {
                  "data-qa": "btn-submit"
              }
          })
      }}
  {% endblock %}

  {% if content.return_to_hub_url %}
      <p class="u-mt-xl">{{ _("Can't complete this question?") }}<br>
      <a href="{{ content.return_to_hub_url }}">{{ _("Choose another section and return to this later") }}</a></p>
  {% endif %}


{% endblock %}
