{% extends 'layouts/_base.html' %} {% block page_title %}EQ Development{% endblock %} {% block content %}


<div class="container">
  <div class="panel u-mt-l">
    <div role="main" class="panel__body" id="main" tabindex="-1">
      <form action="" method="POST" xmlns="http://www.w3.org/1999/html">
        <p>
          User ID:
          <input name="user_id" type="text" value="{{user}}" class="qa-user-id">
        </p>
        <p>
          Schemas:
          <select name="schema" class="qa-select-schema">
            {% for id in available_schemas %}
            <option name="{{id}}" value="{{id}}">{{id}}</option>
            {% endfor %}
          </select>
        </p>
        <p>
          Token Expiry (seconds):
          <input name="exp" type="text" value="1800" class="qa-token-expiry">
        </p>
        <p>
          Period String:
          <input name="period_str" type="text" value="May 2016" class="qa-period-str">
        </p>
        <p>
          Period ID:
          <input name="period_id" type="text" value="201605" class="qa-period-id">
        </p>
        <p>
          Collection Exercise SID:
          <input name="collection_exercise_sid" type="text" value="789" class="qa-collection-sid">
        </p>
        <p>
          RU REF:
          <input name="ru_ref" type="text" value="12346789012A" class="qa-ru-ref">
        </p>
        <p>
          RU NAME:
          <input name="ru_name" type="text" value="Apple" class="qa-ru-name">
        </p>
        <p>
          REF P Start Date:
          <input name="ref_p_start_date" type="text" value="2016-05-01" class="qa-ref-p-start-date">
        </p>
        <p>
          REF P End Date:
          <input name="ref_p_end_date" type="text" value="2016-05-31" class="qa-ref-p-end-date">
        </p>
        <p>
          RETURN BY:
          <input name="return_by" type="text" value="2016-06-12" class="qa-return-by">
        </p>
        <p>
          TRAD AS:
          <input name="trad_as" type="text" value="Apple" class="qa-trad-as">
        </p>
        <p>
          EMPLOYMENT_DATE:
          <input name="employment_date" type="text" value="2016-06-10" class="qa-employment-date">
        </p>
        <p>
          REGION_CODE:
          <select name="region_code" class="qa-region-code">
            <option name="GB-ENG" value="GB-ENG">GB-ENG</option>
            <option name="GB-GBN" value="GB-GBN">GB-GBN</option>
            <option name="GB-NI" value="GB-NI">GB-NI</option>
            <option name="GB-WLS" value="GB-WLS">GB-WLS</option>
          </select>
        </p>
        <p>
            Sexual Identity Flag:
            <input type="checkbox" name="sexual_identity" class="qa-sexual-identity" value="true">
        </p>

        <input type="submit" value="submit" class="qa-btn-submit-dev"/>
      </form>
    </div>
  </div>
</div>

{% endblock %}
