%svg-common {
	background: url("app/static/img/sprite.svg") no-repeat;
}

.svg-icons--caret-bottom {
	@extend %svg-common;
	background-position: 25% 0;
}

.svg-icons--caret-bottom-dims {
	width: 52px;
	height: 36px;
}

.svg-icons--caret-left {
	@extend %svg-common;
	background-position: 69.64285714285714% 27.30128205128205%;
}

.svg-icons--caret-left-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-right {
	@extend %svg-common;
	background-position: 0 33.333333333333336%;
}

.svg-icons--caret-right-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-top {
	@extend %svg-common;
	background-position: 17.307692307692307% 30.317164179104477%;
}

.svg-icons--caret-top-dims {
	width: 52px;
	height: 36.48px;
}

.svg-icons--check {
	@extend %svg-common;
	background-position: 50% 0;
}

.svg-icons--check-dims {
	width: 52px;
	height: 45.02px;
}

.svg-icons--chevron-bottom {
	@extend %svg-common;
	background-position: 50% 27.21721782238075%;
}

.svg-icons--chevron-bottom-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--chevron-down {
	@extend %svg-common;
	background-position: 98.5781990521327% 15.409356725146198%;
}

.svg-icons--chevron-down-dims {
	width: 49px;
	height: 37px;
}

.svg-icons--chevron-left {
	@extend %svg-common;
	background-position: 18.11784186559956% 66.66666666666667%;
}

.svg-icons--chevron-left-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-right {
	@extend %svg-common;
	background-position: 37.707557150085094% 66.66666666666667%;
}

.svg-icons--chevron-right-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-top {
	@extend %svg-common;
	background-position: 75% 0;
}

.svg-icons--chevron-top-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--circle-check {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icons--circle-check-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--circle-x {
	@extend %svg-common;
	background-position: 75% 60.63461538461539%;
}

.svg-icons--circle-x-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--external-link {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-icons--external-link-dims {
	width: 51.06px;
	height: 52px;
}

.svg-icons--info {
	@extend %svg-common;
	background-position: 22.89070205325921% 100%;
}

.svg-icons--info-dims {
	width: 36.94px;
	height: 52px;
}

.svg-icons--info-circle {
	@extend %svg-common;
	background-position: 42.30769230769231% 100%;
}

.svg-icons--info-circle-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--lock {
	@extend %svg-common;
	background-position: 94.7910495374379% 38.6280487804878%;
}

.svg-icons--lock-dims {
	width: 40.57px;
	height: 44px;
}

.svg-icons--logo {
	@extend %svg-common;
	background-position: 66.48620411264663% 100%;
}

.svg-icons--logo-dims {
	width: 49.43px;
	height: 52px;
}

.svg-icons--phone {
	@extend %svg-common;
	background-position: 92.85714285714286% 62.41279069767442%;
}

.svg-icons--phone-dims {
	width: 36px;
	height: 36px;
}

.svg-icons--right-arrow {
	@extend %svg-common;
	background-position: 0 66.66666666666667%;
}

.svg-icons--right-arrow-dims {
	width: 39.39px;
	height: 52px;
}

.svg-logo {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-logo-dims {
	width: 52px;
	height: 26.35px;
}

