packages:
    yum:
        git: []
        libffi-devel: []
        openssl-devel: []
        postgresql94-devel: []

commands:
    01-upgrade-pip:
        command: "/opt/python/run/venv/bin/pip  install --upgrade pip"
    02-install-cryptography:
        command: "source /opt/python/run/venv/bin/activate; pip install -e git+https://github.com/ONSdigital/cryptography.git@4a90c254278231d7defeac304a3cfd752e96e786#egg=cryptography"
