.bar {
  background: $color-black;
  color: $color-white;
  padding: 0.3rem 0;
  margin-bottom: 0.5rem;

  @include mq(m) {
    padding: 1rem 0;
    margin-bottom: 3rem;
  }
}

.bar__inner {
  display: flex;
  align-items: center;
  line-height: 1.2;
}

.bar__title {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}
