.cover {
  display: block;
}

.cover__info {
  // margin-bottom: 3rem;
}

.cover__address {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-light-grey;
  @include mq(s) {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .address {
    color: $color-text-light;
  }
}

.cover__address-link {
  font-size: 0.8rem;
}

.cover__notice {
  color: $color-text-light;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-light-grey;
  @include mq(s) {
    text-align: right;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin-bottom: 0;
    font-size: 1rem;
    @include mq(m) {
      font-size: 1rem;
    }
  }
}

.cover__main {
  border-bottom: 1px solid $color-light-grey;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.cover__header {
  margin: 0 0 1rem 0;
  @include mq(s) {
    margin: 3rem 0;
  }
}
