.guidance {
  margin: 0;
}

.guidance__link {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  color: $color-black;
  font-size: 0.95rem;
  padding-right: 0.5rem;
  span {
    font-size: 0.8rem;
    display: inline-block;
    vertical-align: middle;
  }
  &::before {
    $size: 2rem;
    speak: none;
    content: "";
    background: url("#{$s}/img/icons/icons--info-circle.svg") no-repeat center center;
    background-size: 100%;
    text-align: center;
    width: $size;
    height: $size;
    vertical-align: middle;
    display: inline-block;
  }

  .no-js & {
    display: none;
  }
}

.guidance__main {
  overflow: hidden;
  width: 100%;
  border-radius: 3px;
  opacity: 0;
  transition: all 0;
  max-height: 0;
  .no-js &,
  .is-expanded & {
    max-height: 10000em;
    height: auto;
    opacity: 1;
    transition: opacity 300ms ease-out, max-height 300ms ease-out;
  }
}

.guidance__content {
  padding: 0;
  font-size: 0.9rem;
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-top: 1rem;
  div {
    @include mq(s) {
      display: table-cell;
      &:first-of-type {
        padding-left: 0.25rem;
        padding-right: 0.5rem;
      }
      &:last-of-type {
        padding-left: 1rem;
      }
    }
    ul {
      padding-left: 1rem;
      @include mq(s) {
        margin-bottom: 0;
      }
      @include lt-ie8 {
        margin-bottom: 1rem;
      }
    }
  }
}
