.header {
  background: $color-black;
  color: $color-white;
  padding: 0.2rem;
  margin-bottom: 0.5rem;

  @include mq(m) {
    padding: 0.4rem;
    margin-bottom: 3rem;
  }
}

.header__title {
  font-size: 0.8rem;
  font-weight: 600;
}
