.survey-header {
  display: block;
}

.survey-header__logo {
  margin-bottom: 1rem;

  @include mq(m) {
    margin-bottom: 0;
  }

}

.survey-header__info {
  @include mq($from: xs, $to: m) {
    max-width: 100%;
  }

  @include mq(m) {
    float: right;
  }
}
