{% import 'macros/patterns.html' as m %}

<form action="" class="form">

  <div class="ptn-section">
    <h2>Text and input fields</h2>
    {{m.field('text', data.forms.text)}}
    <h3>Typed input fields</h3>
    <p>Typed input fields have an associated icon to visually indicate the expected "type" of input, eg. Currency. </p>
    {{m.field('currency', data.forms.currency)}}
  </div>

  <div class="ptn-section">
    <h2>Radios &amp; Checkboxes</h2>
    <h3>Radios</h3>
    {{m.field('radios', data.forms.radios)}}
    <h3>Checkboxes</h3>
    {{m.field('checkboxes', data.forms.checkboxes)}}
  </div>

  <div class="ptn-section">
    <h2>Dates</h2>
    {{m.field('date', data.forms.date)}}
  </div>

  <div class="ptn-section">
    <h2>Buttons</h2>
    {% set buttons %}
    <button class="btn btn--neutral" type="button" name="button">Save &amp; Exit</button>
    <button class="btn" type="button" name="button">Save &amp; Continue</button>
    {% endset %}
    <div class="ptn-example">
      {{buttons|safe}}
    </div>
    {{m.code(buttons)}}
  </div>

</form>
