{% extends 'layouts/_twocol.html' %}
{% import 'macros/helpers.html' as helpers %}

{% set survey_title  = _("ONS Business Surveys") %}

{% block header %}
{% include 'partials/header.html' %}
{% endblock %}

{% block subheader_container %}
{% endblock subheader_container %}

<div class="page">
    <div class="page__content">
        <div class="grid grid--reverse">
            <div class="grid__col col-4@m">
            </div>
            <div class="grid__col col-7@m pull-1@m">
                <main role="main" id="main" class="page__main">
                    {% block content %}
                    <br>
                    <div class="'group" id="rsi">
                        <div class="block" id>
                            <section class="section id">
                                <h1 class="section__title u-fs-l">
                                    {{ _("Contact us") }}
                                </h1>
                                <div class="question">
                                    <h2 class="question__title u-fs-m">
                                        {{ _("Telephone") }}
                                    </h2>
                                    <div class="question__description u-fs-r">
                                        <p>{{helpers.telephone_number()}}</p>
                                    </div>
                                    {% if session %}
                                    <p>
                                        {{ _("Please quote the reference <b>%(ru_ref)s</b> when contacting ONS about this survey.", ru_ref=session.ru_ref) }}
                                    </p>
                                    <p>
                                        {{ _("Your Survey ID is <b>%(survey_id)s</b>.", survey_id=survey_id) }}
                                    </p>
                                    {% endif %}
                                    <div class="question__description u-fs-r">
                                        <h3 class="question__title u-fs-r--b">{{ _("Opening hours") }}:</h3>
                                        <p>
                                            {{ _("Monday to Thursday 8:30am – 5:00pm") }}<br>
                                            {{ _("Friday 8:30am - 4:30pm") }}
                                        </p>
                                    </div>
                                    <p>{{ _("This office is closed during public holidays") }}</p>
                                    <h2 class="question__title u-fs-m">
                                        {{ _("Email") }}
                                    </h2>
                                    <div class="question__description u-fs-r">
                                        <p>{{helpers.email_address(subject=session.ru_ref)}}</p>
                                    </div>
                                    <h2 class="question__title u-fs-m">
                                        {{ _("Post") }}
                                    </h2>
                                    <div class="question__description u-fs-r">
                                        <p>Office for National Statistics<br>Government Buildings<br>Cardiff Road<br>Newport<br>South Wales<br>NP10 8XG</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </main>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}
