{% extends 'layouts/_twocol.html' %}

{% set survey_title  = 'Legal Information' %}

<header class="page__header">
    {% block header %}
    {% include theme('partials/header2.html') %}
    {% include theme('partials/topbar.html') %}
    {% endblock %}
</header>

{% block subheader_container %}
{% endblock subheader_container %}


<div class="container">
    <div class="page__container container">
        {% block content %}
        <div class="grid grid--reverse">
            <div class="grid__col col-4@m">
            </div>
            <div class="grid__col col-8@m">
                <main role="main" id="main" class="page__main">
                    <div class="block">
                        <section class="section">
                            <br>

                            <h1 class="section__title saturn">
                                Cookies and Privacy
                            </h1>

                            <p>The Office for National Statistics (ONS) has created this cookies and privacy
                                statement in order to demonstrate our firm commitment to privacy.</p>

                            <p>The following is a description of what data is collected when you use this service,
                                how it is stored and what it is used for.</p>

                            <div class="question">
                                <h2 class="question__title neptune">
                                    Privacy
                                </h2>

                                <div class="question__description mars">
                                    <p>Your privacy is very important to us. We comply with confidentiality
                                        requirements set out in the Statistics and Registration Service Act 2007 and
                                        the Data Protection Act 1998.</p>

                                    <p>We can only use your information for research and statistical purposes. None
                                        of your personal information is disclosed through our statistics.</p>

                                </div>

                                <h2 class="question__title neptune">
                                    Security
                                </h2>

                                <div class="question__description mars">
                                    <p>We ensure that the information you provide is kept safe and secure. We have
                                        security measures in place to protect the loss, misuse and alteration of
                                        information under our control.</p>

                                    <p>We use leading security technologies such as industry-standard encryption
                                        software. This service has been accredited in accordance with government
                                        technical and security standards.</p>
                                </div>

                                <h2 class="question__title neptune">
                                    Cookies
                                </h2>

                                <div class="question__description mars">
                                    <p>We use small files (known as ‘cookies’) to collect information about how you
                                        browse the site.</p>

                                    <p>Cookies are used to:</p>

                                    <ul>
                                        <li>Measure how you use the website so it can be updated and improved based
                                            on your needs
                                        </li>
                                        <li>Remember the notifications you’ve seen so that we don’t show them to you
                                            again
                                        </li>
                                    </ul>

                                    <p><b>Our cookies are not used to identify you personally.</b></p>
                                </div>

                                <h2 class="question__title neptune">
                                    How cookies are used
                                </h2>

                                <div class="question__description mars" id="">
                                    <p><b>Measuring website usage (Google Analytics)</b></p>

                                    <p>We use Google Analytics software to collect information about how you use
                                        this service. We do this to help make sure the site is meeting the needs of
                                        its users and to help us make improvements, for example improving site
                                        search.</p>

                                    <p>Google Analytics stores information about:</p>

                                    <ul>
                                        <li>The pages you visit</li>
                                        <li>How long you spend on each page</li>
                                        <li>How you got to the site</li>
                                        <li>What you click on while you’re visiting the site</li>
                                    </ul>

                                    <p>We don’t use Google Analytics to collect or store your personal information
                                        (for example your name or address).</p>

                                    <p>The information we collect through our cookies does not include personal
                                        details such as your name, age, telephone number, postal address or email
                                        address, nor does it allow personal identification of a user.</p>

                                    <p>You can manage these small files yourself and learn more about them through
                                        <a href="https://www.aboutcookies.org/">internet browser cookies – what they
                                            are and how to manage them.</a></p>

                                    <p><b>Find out more information</b></p>

                                    <p>If you have any questions about this privacy statement, you can contact us at
                                        <a href="mailto:surveys@ons.gov.uk" target="_top">surveys@ons.gov.uk</a></p>
                                </div>
                                <br>
                                <h2 class="question__title neptune">
                                    Universal Analytics
                                </h2>
                                <table class="table">
                                    <thead class="table--head table-head-align">
                                    <tr>
                                        <th class="table--header--cell table-head-align">Name</th>
                                        <th class="table--header--cell">Purpose</th>
                                        <th class="table--header--cell">Expires</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table--row">
                                        <td class="table--cell">_ga</td>
                                        <td class="table--cell">This helps us count how many people visit our
                                            website by tracking if you’ve visited before
                                        </td>
                                        <td class="table--cell">2 years</td>
                                    </tr>
                                    <tr class="table--row">
                                        <td class="table--cell">_gid</td>
                                        <td class="table--cell">This helps us count how many people visit our
                                            website by tracking if you’ve visited before
                                        </td>
                                        <td class="table--cell">24 hours</td>
                                    </tr>
                                    <tr class="table--row">
                                        <td class="table--cell">_gat</td>
                                        <td class="table--cell">Used to manage the rate at which page view requests
                                            are made
                                        </td>
                                        <td class="table--cell">10 minutes</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <br>

                                <h2 class="question__title neptune">
                                    Completing a survey (eq.ons.gov.uk)
                                </h2>

                                <table class="table">
                                    <thead class="table--head">
                                    <tr>
                                        <th class="table--header--cell">Name</th>
                                        <th class="table--header--cell">Purpose</th>
                                        <th class="table--header--cell">Expires</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table--row">
                                        <td class="table--cell">Session</td>
                                        <td class="table--cell">To keep you signed in when completing a survey</td>
                                        <td class="table--cell">When a user logs out or closes the browser. Or when
                                            their cookie cache is cleared
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <br>

                                <h2 class="question__title neptune">
                                    Your account (surveys.ons.gov.uk)
                                </h2>

                                <table class="table">
                                    <thead class="table--head">
                                    <tr>
                                        <th class="table--header--cell">Name</th>
                                        <th class="table--header--cell">Purpose</th>
                                        <th class="table--header--cell">Expires</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="table--cell">COOKIE_SUPPORT</td>
                                        <td class="table--cell">To check that your browser can support cookies</td>
                                        <td class="table--cell">When a user closes the browser or when their cookie
                                            cache is cleared
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table--cell">GUEST_LANGUAGE_ID</td>
                                        <td class="table--cell">To store your preferred language so that certain
                                            content can be displayed in your own language
                                        </td>
                                        <td class="table--cell">When a user closes the browser or when their cookie
                                            cache is cleared
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table--cell">JSESSIONID</td>
                                        <td class="table--cell">To keep your session active when using your account
                                            to access portfolio and messages
                                        </td>
                                        <td class="table--cell">When a user closes the browser or when their cookie
                                            cache is cleared
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table--cell">ID</td>
                                        <td class="table--cell">To store an encrypted identifier which is used to
                                            retrieve the information associated to your account
                                        </td>
                                        <td class="table--cell">When a user logs out or closes the browser or when
                                            their cookie cache is cleared
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table--cell">COMPANY_ID</td>
                                        <td class="table--cell">To store an identifier which is used to retrieve the
                                            permissions associated to your account
                                        </td>
                                        <td class="table--cell">When a user logs out or closes the browser or when
                                            their cookie cache is cleared
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table--cell">USER_UUID</td>
                                        <td class="table--cell">To store the universally unique identifier created
                                            for your account
                                        </td>
                                        <td class="table--cell">When a user closes the browser or when their cookie
                                            cache is cleared
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table--cell">LFR_SESSION_STATE_*</td>
                                        <td class="table--cell">To store the timestamp of the last request so that
                                            the session expiry warning message can be displayed
                                        </td>
                                        <td class="table--cell">When a user closes the browser or when their cookie
                                            cache is cleared
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table--cell">csfcfc</td>
                                        <td class="table--cell">To store the flash object identifier for the most
                                            recent action you have performed
                                        </td>
                                        <td class="table--cell">When a user closes the browser or when their cookie
                                            cache is cleared
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </main>
            </div>
        </div>
        {% endblock %}
    </div>
</div>


{% block footer %}
{% include 'partials/footer2.html' %}
{% endblock %}
