{% extends 'layouts/_twocolwithoutform.html' %}

{% set survey_title  = _("ONS Business Surveys") %}

{% block header %}
{% include theme('partials/header.html') %}
{% endblock %}

{% block subheader_container %}
{% endblock subheader_container %}

<div class="container">
    <div class="page__container container">
        {% block content %}
        <div class="grid grid--reverse">
            <div class="grid__col col-4@m">
            </div>
            <div class="grid__col col-8@m">
                <main role="main" id="main" class="page__main">
                    <div class="block">
                        <section class="section">
                          <div class="panel panel--success panel--simple u-mb-s u-d-no cookies-confirmation-message">
                            <div class="panel__body">
                              <p class="u-fs-r-b">Your cookie settings have been saved</p>
                              <p>Some parts of the ONS Business Surveys site may use additional cookies and will have their own cookie policy and banner.</p>

                              <p><b>Need to redirect to home here?</b></p>
                            </div>
                          </div>

                            <h1 class="section__title u-fs-l">
                                {{ _("Cookies on this website?") }}
                            </h1>

                            <p>{{ _("Cookies are small files saved on your phone, tablet or computer when you visit a website.") }}</p>
                            <p>{{ _("We use cookies to store information about how you use this service, such as the pages you visit.") }}</p>
                            
                            <h2 class="question__title u-fs-m">
                              {{ _("Cookie settings") }}
                            </h2>
                            
                            <p>{{ _("We use <b>X</b> types of cookie. You can choose which cookies you're happy for us to use.") }}</p>

                                <h3 class="question__title u-fs-m">
                                    {{ _("Cookies that measure website use") }}
                                </h3>
                                <form data-module="cookie-settings">
                                <div class="question__description u-fs-r" id="">
                                    <!-- <p><b>{{ _("Measuring website usage (Google Analytics)") }}</b></p> -->

                                    <p>{{ _("We use Google Analytics software to collect information about how you use this service. We do this to help make sure the site is meeting the needs of its users and to help us make improvements, for example improving site search.") }}</p>

                                    <p>{{ _("Google Analytics stores information about") }}:</p>

                                    <ul>
                                        <li>{{ _("The pages you visit") }}</li>
                                        <li>{{ _("How long you spend on each page") }}</li>
                                        <li>{{ _("How you got to the site") }}</li>
                                        <li>{{ _("What you click on while you’re visiting the site") }}</li>
                                    </ul>

                                    <div class="collapsible js-collapsible u-mb-s">
                                      <div class="js-collapsible-content">
                                          
                                          <h3 class="collapsible__title js-collapsible-title u-cf icon--collapsible" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Open panel" data-ga-label="another label">
                                              <span class="collapsible__title-text">Learn more about Google Analytics cookies</span>
                                              <button type="button" class="btn btn--secondary btn--small collapsible__title-right js-collapsible-toggle u-wa--@xs" data-close-label="{{ _('Hide') }}" data-open-label="{{ _('Show') }}" aria-hidden="true" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Open panel" data-ga-label="ga label">{{ _('Show') }}</button>
                                          </h3>
                              
                                          <div class="collapsible__body u-fs-r js-collapsible-body">
                                          
                                              <div class="u-mb-s">
                                          
                                                <table class="table">
                                                  <thead class="table--head table-head-align">
                                                  <tr>
                                                      <th class="table--header--cell table-head-align">{{ _("Name") }}</th>
                                                      <th class="table--header--cell">{{ _("Purpose") }}</th>
                                                      <th class="table--header--cell">{{ _("Expires") }}
                                                  </thead>
                                                  <tbody>
                                                  <tr class="table--row">
                                                      <td class="table--cell">_ga</td>
                                                      <td class="table--cell">{{ _("This helps us count how many people visit our website by tracking if you’ve visited before") }}</td>
                                                      <td class="table--cell">{{ _("2 years") }}</td>
                                                  </tr>
                                                  <tr class="table--row">
                                                      <td class="table--cell">_gid</td>
                                                      <td class="table--cell">{{ _("This helps us count how many people visit our website by tracking if you’ve visited before") }}</td>
                                                      <td class="table--cell">{{ _("24 hours") }}</td>
                                                  </tr>
                                                  <tr class="table--row">
                                                      <td class="table--cell">_gat</td>
                                                      <td class="table--cell">{{ _("Used to manage the rate at which page view requests are made") }}</td>
                                                      <td class="table--cell">{{ _("10 minutes") }}</td>
                                                  </tr>
                                                  </tbody>
                                              </table>
                                                  
                                              </div>
                                              
                                              
                                          </div>
                              
                                          
                                      </div>
                                    </div>
                                    <p>{{ _("We do not allow Google to use or share the data about how you use this site.") }}</p>
                                
                                <div class="u-mb-s">
                                  <fieldset id="cookies-measure-website-use" class="fieldset">
                                    <legend class="fieldset__legend u-vh">Do you want to allow usage tracking?
                                    </legend>
                                    <div class="radios__items">
                                      <p class="radios__item">
                                        <span class="radio">
                                          <input type="radio" id="on-1" class="radio__input js-radio" value="on" name="cookies-usage">
                                          <label class="radio__label  " for="on-1" id="on-1-label">On
                                          </label>
                                        </span>
                                      </p>
                                      <br>
                                      <p class="radios__item">
                                        <span class="radio">
                                          <input type="radio" id="off-1" class="radio__input js-radio" value="off" name="cookies-usage">
                                          <label class="radio__label  " for="off-1" id="off-1-label">Off
                                          </label>
                                        </span>
                                      </p>
                                    </div>
                                  </fieldset>
                                </div>

                                <p>{{ _("This selection will expire after two years.") }}</p>

                                <br>
                                <h2 class="question__title u-fs-m">
                                    {{ _("Strictly necessary cookies") }}
                                </h2>

                                <p> {{ _('These essential cookies do things like:') }} </p>
                                <ul>
                                  <li>{{ _("remember the notifications you've seen so we do not show them to you again") }}</li>
                                  <li>{{ _("remember your progress through a form (for example, online business surveys)") }}</li>
                                </ul>
                                
                                <p> {{ _('They always need to be on.') }} </p>

                                <div class="collapsible js-collapsible u-mb-s">
                                  <div class="js-collapsible-content">
                                      
                                      <h3 class="collapsible__title js-collapsible-title u-cf icon--collapsible" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Open panel" data-ga-label="another label">
                                          <span class="collapsible__title-text">{{ _('Learn more about these essential cookies') }}</span>
                                          <button type="button" class="btn btn--secondary btn--small collapsible__title-right js-collapsible-toggle u-wa--@xs" data-close-label="{{ _('Hide') }}" data-open-label="{{ _('Show') }}" aria-hidden="true" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Open panel" data-ga-label="ga label">{{ _('Show') }}</button>
                                      </h3>
                                      <div class="collapsible__body u-fs-r js-collapsible-body">
                                          <div class="u-mb-s">
                                            <div  class="u-mb-s u-fs-r--b"> {{ _('Your progress')}}</div>
                                            <div class="u-mb-s">{{ _('We’ll set a cookie to remember your progress while logged in. These cookies do not store your personal data.') }}</div>
                                            <table class="table">
                                              <thead class="table--head">
                                              <tr>
                                                  <th class="table--header--cell">{{ _("Name") }}</th>
                                                  <th class="table--header--cell">{{ _("Purpose") }}</th>
                                                  <th class="table--header--cell">{{ _("Expires") }}</th>
                                              </tr>
                                              </thead>
                                              <tbody>
                                                <tr class="table--row">
                                                  <td class="table--cell">{{ _("Session") }}</td>
                                                  <td class="table--cell">{{ _("To keep you signed in when completing a survey") }}</td>
                                                  <td class="table--cell">{{ _("When a user logs out or closes the browser. Or when their cookie cache is cleared") }}
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="table--cell">COOKIE_SUPPORT</td>
                                                  <td class="table--cell">{{ _("To check that your browser can support cookies") }}</td>
                                                  <td class="table--cell">{{ _("When a user closes the browser or when their cookie cache is cleared") }}
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="table--cell">GUEST_LANGUAGE_ID</td>
                                                  <td class="table--cell">{{ _("To store your preferred language so that certain content can be displayed in your own language") }}
                                                  </td>
                                                  <td class="table--cell">{{ _("When a user closes the browser or when their cookie cache is cleared") }}
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="table--cell">JSESSIONID</td>
                                                  <td class="table--cell">{{ _("To keep your session active when using your account to access portfolio and messages" ) }}
                                                  </td>
                                                  <td class="table--cell">{{ _("When a user closes the browser or when their cookie cache is cleared") }}
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="table--cell">ID</td>
                                                  <td class="table--cell">{{ _("To store an encrypted identifier which is used to retrieve the information associated to your account") }}
                                                  </td>
                                                  <td class="table--cell">{{ _("When a user logs out or closes the browser or when their cookie cache is cleared") }}
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="table--cell">COMPANY_ID</td>
                                                  <td class="table--cell">{{ _("To store an identifier which is used to retrieve the permissions associated to your account") }}
                                                  </td>
                                                  <td class="table--cell">{{ _("When a user logs out or closes the browser or when their cookie cache is cleared") }}
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="table--cell">USER_UUID</td>
                                                  <td class="table--cell">{{ _("To store the universally unique identifier created for your account") }}
                                                  </td>
                                                  <td class="table--cell">{{ _("When a user closes the browser or when their cookie cache is cleared") }}
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="table--cell">LFR_SESSION_STATE_*</td>
                                                  <td class="table--cell">{{ _("To store the timestamp of the last request so that the session expiry warning message can be displayed") }}
                                                  </td>
                                                  <td class="table--cell">{{ _("When a user closes the browser or when their cookie cache is cleared") }}
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="table--cell">csfcfc</td>
                                                  <td class="table--cell">{{ _("To store the flash object identifier for the most recent action you have performed") }}
                                                  </td>
                                                  <td class="table--cell">{{ _("When a user closes the browser or when their cookie cache is cleared") }}
                                                  </td>
                                              </tr>
                                              </tbody>
                                          </table>
                                          <div  class="u-mb-s u-fs-r--b"> {{ _('Cookie message')}}</div>
                                          <div class="u-mb-s">{{ _('You may see a banner when you visit surveys.ons.gov.uk inviting you to accept cookies or review your settings. We’ll set cookies so that your computer knows you’ve seen it and not to show it again, and also to store your settings.') }}</div>
                                          <table class="table ">
                                            <thead class="table--head">
                                              <tr>
                                                  <th class="table--header--cell">{{ _("Name") }}</th>
                                                  <th class="table--header--cell">{{ _("Purpose") }}</th>
                                                  <th class="table--header--cell">{{ _("Expires") }}</th>
                                              </tr>
                                              </thead>
                                            <tbody class="table__body">
                                                <tr>
                                                  <td class="table--cell">ons_cookie_message_displayed</td>
                                                  <td class="table--cell">{{ _("Lets us know that you’ve seen our cookie message") }}
                                                  </td>
                                                  <td class="table--cell">{{ _("1 year") }}
                                                  </td>
                                              </tr>
                                                <tr>
                                                  <td class="table--cell">ons_cookie_policy</td>
                                                  <td class="table--cell">{{ _("Saves your cookie consent settings") }}
                                                  </td>
                                                  <td class="table--cell">{{ _("1 year") }}
                                                  </td>
                                              </tr>
                                            </tbody>
                                        </table>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <button type="submit" class="btn">
                                  <span class="btn__inner">
                                    Save changes
                                  </span>
                                </button>
                              </form>
                        </section>
                    </div>
                </main>
            </div>
        </div>
        {% endblock %}
    </div>
</div>


{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}
