%svg-common {
	background: url("static/img/sprite.svg") no-repeat;
}

.svg-icons--caret-bottom {
	@extend %svg-common;
	background-position: 25.365853658536587% 0;
}

.svg-icons--caret-bottom-dims {
	width: 52px;
	height: 36px;
}

.svg-icons--caret-left {
	@extend %svg-common;
	background-position: 70.58823529411765% 49.78421052631579%;
}

.svg-icons--caret-left-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-right {
	@extend %svg-common;
	background-position: 0 27.36842105263158%;
}

.svg-icons--caret-right-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-top {
	@extend %svg-common;
	background-position: 17.5609756097561% 25.3016738030362%;
}

.svg-icons--caret-top-dims {
	width: 52px;
	height: 36.48px;
}

.svg-icons--check {
	@extend %svg-common;
	background-position: 50.73170731707317% 0;
}

.svg-icons--check-dims {
	width: 52px;
	height: 45.02px;
}

.svg-icons--chevron-bottom {
	@extend %svg-common;
	background-position: 50.73170731707317% 22.576600972869965%;
}

.svg-icons--chevron-bottom-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--chevron-down {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-icons--chevron-down-dims {
	width: 49px;
	height: 37px;
}

.svg-icons--chevron-left {
	@extend %svg-common;
	background-position: 18.37134462012033% 54.73684210526316%;
}

.svg-icons--chevron-left-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-right {
	@extend %svg-common;
	background-position: 38.235156942306794% 54.73684210526316%;
}

.svg-icons--chevron-right-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-top {
	@extend %svg-common;
	background-position: 76.09756097560975% 0;
}

.svg-icons--chevron-top-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--circle-check {
	@extend %svg-common;
	background-position: 76.09756097560975% 22.41578947368421%;
}

.svg-icons--circle-check-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--circle-x {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icons--circle-x-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--external-link {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-icons--external-link-dims {
	width: 34px;
	height: 34px;
}

.svg-icons--guidance {
	@extend %svg-common;
	background-position: 91.62995594713657% 57.5609756097561%;
}

.svg-icons--guidance-dims {
	width: 30px;
	height: 37px;
}

.svg-icons--guidance-white {
	@extend %svg-common;
	background-position: 91.62995594713657% 39.51219512195122%;
}

.svg-icons--guidance-white-dims {
	width: 30px;
	height: 37px;
}

.svg-icons--info {
	@extend %svg-common;
	background-position: 46.09197491593202% 82.10526315789474%;
}

.svg-icons--info-dims {
	width: 36.94px;
	height: 52px;
}

.svg-icons--info-circle {
	@extend %svg-common;
	background-position: 24.11219512195122% 82.10526315789474%;
}

.svg-icons--info-circle-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--lock {
	@extend %svg-common;
	background-position: 96.10497620477753% 18.68686868686869%;
}

.svg-icons--lock-dims {
	width: 40.57px;
	height: 44px;
}

.svg-icons--logo {
	@extend %svg-common;
	background-position: 0 82.10526315789474%;
}

.svg-icons--logo-dims {
	width: 49.43px;
	height: 52px;
}

.svg-icons--phone {
	@extend %svg-common;
	background-position: 94.11764705882354% 75.24271844660194%;
}

.svg-icons--phone-dims {
	width: 36px;
	height: 36px;
}

.svg-icons--right-arrow {
	@extend %svg-common;
	background-position: 0 54.73684210526316%;
}

.svg-icons--right-arrow-dims {
	width: 39.39px;
	height: 52px;
}

.svg-logo {
	@extend %svg-common;
	background-position: 67.49756097560976% 72.33943890563413%;
}

.svg-logo-dims {
	width: 52px;
	height: 26.35px;
}

