%svg-common {
	background: url("static/img/sprite.svg") no-repeat;
}

.svg-icons--caret-bottom {
	@extend %svg-common;
	background-position: 27.956989247311828% 0;
}

.svg-icons--caret-bottom-dims {
	width: 52px;
	height: 36px;
}

.svg-icons--caret-left {
	@extend %svg-common;
	background-position: 77.22772277227723% 28.26086956521739%;
}

.svg-icons--caret-left-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-right {
	@extend %svg-common;
	background-position: 0 28.26086956521739%;
}

.svg-icons--caret-right-dims {
	width: 36px;
	height: 52px;
}

.svg-icons--caret-top {
	@extend %svg-common;
	background-position: 19.35483870967742% 26.06255012028869%;
}

.svg-icons--caret-top-dims {
	width: 52px;
	height: 36.48px;
}

.svg-icons--check {
	@extend %svg-common;
	background-position: 55.913978494623656% 0;
}

.svg-icons--check-dims {
	width: 52px;
	height: 45.02px;
}

.svg-icons--check-green {
	@extend %svg-common;
	background-position: 55.913978494623656% 23.621386221732514%;
}

.svg-icons--check-green-dims {
	width: 52px;
	height: 45.41px;
}

.svg-icons--chevron-bottom {
	@extend %svg-common;
	background-position: 0 53.77178015614498%;
}

.svg-icons--chevron-bottom-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--chevron-down {
	@extend %svg-common;
	background-position: 0 99.79396984924622%;
}

.svg-icons--chevron-down-dims {
	width: 49px;
	height: 37px;
}

.svg-icons--chevron-left {
	@extend %svg-common;
	background-position: 99.98976510925746% 0;
}

.svg-icons--chevron-left-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-right {
	@extend %svg-common;
	background-position: 99.98976510925746% 28.26086956521739%;
}

.svg-icons--chevron-right-dims {
	width: 42.59px;
	height: 52px;
}

.svg-icons--chevron-top {
	@extend %svg-common;
	background-position: 27.956989247311828% 53.77178015614498%;
}

.svg-icons--chevron-top-dims {
	width: 52px;
	height: 42.59px;
}

.svg-icons--circle-check {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icons--circle-check-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--circle-x {
	@extend %svg-common;
	background-position: 0 79.66847826086956%;
}

.svg-icons--circle-x-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--external-link {
	@extend %svg-common;
	background-position: 41.666666666666664% 98.31188118811882%;
}

.svg-icons--external-link-dims {
	width: 34px;
	height: 34px;
}

.svg-icons--guidance {
	@extend %svg-common;
	background-position: 75% 52.26130653266332%;
}

.svg-icons--guidance-dims {
	width: 30px;
	height: 37px;
}

.svg-icons--guidance-white {
	@extend %svg-common;
	background-position: 93.9375% 52.26130653266332%;
}

.svg-icons--guidance-white-dims {
	width: 30px;
	height: 37px;
}

.svg-icons--info {
	@extend %svg-common;
	background-position: 76.31055406346364% 79.66847826086956%;
}

.svg-icons--info-dims {
	width: 36.94px;
	height: 52px;
}

.svg-icons--info-circle {
	@extend %svg-common;
	background-position: 54.53225806451613% 79.66847826086956%;
}

.svg-icons--info-circle-dims {
	width: 52px;
	height: 52px;
}

.svg-icons--lock {
	@extend %svg-common;
	background-position: 96.42404903003596% 76.34895833333333%;
}

.svg-icons--lock-dims {
	width: 40.57px;
	height: 44px;
}

.svg-icons--logo {
	@extend %svg-common;
	background-position: 27.57596648459458% 79.66847826086956%;
}

.svg-icons--logo-dims {
	width: 49.43px;
	height: 52px;
}

.svg-icons--phone {
	@extend %svg-common;
	background-position: 24.257425742574256% 99.295%;
}

.svg-icons--phone-dims {
	width: 36px;
	height: 36px;
}

.svg-icons--right-arrow {
	@extend %svg-common;
	background-position: 78.54589396304314% 0;
}

.svg-icons--right-arrow-dims {
	width: 39.39px;
	height: 52px;
}

.svg-logo {
	@extend %svg-common;
	background-position: 55.913978494623656% 49.60648700214643%;
}

.svg-logo-dims {
	width: 52px;
	height: 26.35px;
}

