/* stylelint-disable */
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('/s/fonts/lato/latolatin-regular-webfont.eot');
  src: url('/s/fonts/lato/latolatin-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/s/fonts/lato/latolatin-regular-webfont.woff2') format('woff2'),
    url('/s/fonts/lato/latolatin-regular-webfont.woff') format('woff'),
    url('/s/fonts/lato/latolatin-regular-webfont.ttf')  format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: url('/s/fonts/lato/latolatin-bold-webfont.eot');
  src: url('/s/fonts/lato/latolatin-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/s/fonts/lato/latolatin-bold-webfont.woff2') format('woff2'),
    url('/s/fonts/lato/latolatin-bold-webfont.woff') format('woff'),
    url('/s/fonts/lato/latolatin-bold-webfont.ttf')  format('truetype');
}
/* stylelint-enable */

html {
  font-size: 18px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  @include mq(xs, s) {
    font-size: 16px;
  }
}

body {
  font-family: $font-sans;
  color: $color-text;
}

p {
  margin: 0 0 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
  margin: 0 0 1rem;
  line-height: 1.2;
}

code {
  font-size: 0.8rem;
}

ul {
  margin: 0 0 1rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.3rem;
}

em {
  font-style: normal;
  font-weight: $font-weight-bold;
}
