@import "vars/*.scss";
@import "vendor/prism";
@import "helpers/*";
@import "eq-sass";
@import "gfm.scss";

.ptn {
  background: $color-white;
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.1rem;
  }
}

.ptn-header {
  background: $color-light-grey;
  padding: 0.9rem 0;
}

.ptn-title {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  width: 33.4px;
  height: 37.8px;
  overflow: hidden;
  &::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: url("#{$s}/img/eq.png") no-repeat left center;
    width: 100%;
    height: 100%;
    background-size: 100%;
  }
}

.ptn-nav {
  margin: 1rem 0 0 0;
  padding: 0;

  @include mq(m) {
    margin: 4rem 0 0 0;
    &.is-fixed {
      position: fixed;
      top: 0;
    }
  }
}

.ptn-nav-title {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  color: $color-dark-grey;
  letter-spacing: 0.1rem;
}

.ptn-nav-list {
  padding: 0;
  margin: 0.5rem 0 2rem;
  font-size: 1rem;
}

.ptn-nav-item {
  list-style: none;
  display: block;
  margin-bottom: 0.5rem;
  &.is-active {
    font-weight: bold;
  }
}

.ptn-nav-link {
  padding: 0.2rem 0;
  color: $color-text;
  display: block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.ptn-main {
  padding: 3rem 0;
}

.ptn-section {
  padding: 1rem 0;
  border-bottom: 1px solid $color-light-grey;
  margin: 1rem 0;
}

.ptn-main-title {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
  padding-bottom: 0.6rem;
  font-weight: 400;
}

.ptn-section-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
}

.ptn-grid {
  background: tint($color-blue, 70);
  padding: $grid-gutters $grid-gutters 0 $grid-gutters;
  margin-bottom: $grid-gutters;
}

.ptn-col {
  background: tint($color-blue, 60);
  padding: 7px;
  margin-bottom: $grid-gutters;
  color: $color-white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

pre[class*="language-"] {
  margin: 1rem 0;
}

.ptn {
  .container {
    max-width: 60rem;
  }
  .ptn-example {
    border-left: 5px solid #f4f4f4;
    padding: 0.5rem 0 0.5rem 1.5rem;
  }
  .question__fieldset {
    padding: 0;
  }
}

.ptn-code {
  overflow: hidden;
  margin: 1rem 0 2rem;
}

.ptn-code-toggle {
  display: none;
}

.is-toggleable {
  .ptn-code-highlight {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-out, opacity 400ms ease-out;
  }
  .ptn-code-toggle:checked ~ {
    .ptn-code-highlight {
      opacity: 1;
      max-height: 40em;
      height: auto;
      overflow: hidden;
    }
    .ptn-code-toggle-label {
      &::after {
        transform: rotateX(90deg);
      }
    }
  }
  .ptn-code-toggle-label {
    display: inline-block;
    color: $color-blue;
    font-size: 0.8rem;
    &::after {
      content: " \00BB";
    }
  }
}

.prism-show-language {
  display: none;
}
