$responsive: true;

@import "partials/helpers/**/*.scss";
@import "partials/vars/*.scss";
@import "theme_vars.scss";
@import "partials/vendor/normalize.scss";
@import "partials/base/**/*.scss";
@import "partials/objects/**/*.scss";
@import "partials/components/**/*.scss";
@import "partials/utilities/**/*.scss";
@import "partials/hacks/**/*.scss";

.bar {
  background-color: $color-black;
}

.logo {
  width: 100%;
  text-align: center;
  margin: 3rem auto;
}
