$responsive: true;

@import "partials/vars/*.scss";
@import "theme_vars.scss";
@import "partials/vendor/normalize.scss";
@import "eq-sass";
@import "partials/helpers/**/*.scss";
@import "partials/base/**/*.scss";
@import "partials/objects/**/*.scss";
@import "partials/components/**/*.scss";
@import "partials/utilities/**/*.scss";
@import "partials/hacks/**/*.scss";

body {
  background: #efefef;
}

.bar {
   background-color: $color-secondary;
}

.logo {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
