@import "../../themes-common/config";

/**
 * Theme override
 */
@import "theme_vars.scss";

  /**
   * Below exist because of compile-time overrides from theme_vars
   */
  @import "../../partials/components/bar";
  @import "../../partials/components/buttons";
  @import "../../partials/components/feedback";
  @import "../../partials/components/header";
  @import "../../partials/components/nav";
  @import "../../partials/components/panel";
  @import "../../partials/components/skip";
  @import "../../partials/utilities/colors";

@import "../../themes-common/ui";

.bar {
  background-color: $color-black;
}

.logo {
  width: 100%;
  text-align: center;
  margin: 3rem auto;
}
