{% extends 'layouts/_base.html' %}

{% set page_title = _("Page not found") + " - " + _("Office for National Statistics") %}

{% set contact_us_url = "https://census.gov.uk/contact-us/" %}
{% if schema_theme == "census-nisra" %}
  {% set contact_us_url = "https://census.gov.uk/ni/contact-us/" %}
{% elif language == "cy" %}
  {% set contact_us_url = "https://cyfrifiad.gov.uk/cysylltu-a-ni/" %}
{% endif %}

{% block main %}
<h1>{{ _("Page not found") }}</h1>
<p>{{ _("If you entered a web address, check it is correct.") }}</p>
<p>{{ _("If you pasted the web address, check you copied the whole address.") }}</p>
<p>{{ _("If the web address is correct or you selected a link or button, <a href='{url}'>contact us</a> for more help.").format(url = contact_us_url) }}</p>
{% endblock %}

