{% extends 'layouts/_base.html' %}

{% set page_title = _("An error has occurred") + " - " + _("Office for National Statistics") %}

{% set contact_us_url = "https://census.gov.uk/contact-us/" %}
{% if schema_theme == "census-nisra" %}
  {% set contact_us_url = "https://census.gov.uk/ni/contact-us/" %}
{% elif language_code == "cy" %}
  {% set contact_us_url = "https://cyfrifiad.gov.uk/cysylltu-a-ni/" %}
{% endif %}

{% block main %}
<h1>{{ _("Sorry, there is a problem with this service") }}</h1>
<p>{{ _("Try again later.") }}</p>
<p>{{ _("If you have started a survey, your answers have been saved.") }}</p>
<p>{{ _("<a href='{url}'>Contact us</a> if you need to speak to someone about your survey.").format(url = contact_us_url)  }}</p>
{% endblock %}
