<header class="header u-mb-s">
  <div class="header__top" role="banner">
    <div class="container">
      <div class="grid grid--gutterless">
        <div class="grid__col col-6@s">
          {% block logo %}
          <div>
            <img
              src="{{ url_for('static', filename='img/theme/orr/Office_of_Rail_and_Road_logo.png') }}"
              alt="Office of Rail and Road logo"
              class="logo__img header__logo"
            />
          </div>
          {% endblock logo %}
        </div>
        {% if account_service_url %} {% include 'partials/services-navigation.html' %} {% endif %}
      </div>
    </div>
  </div>
  <div class="header__main">
    <div class="container">
      <div class="grid grid--gutterless grid--align-mid u-cf">
        <div class="grid__col col-10@xs col-6@s col-8@m">
          {% if header_as_h1 %}
          <h1 class="header__title header__title--nav-adj">{{ survey_title }}</h1>
          {% else %}
          <div class="header__title header__title--nav-adj">{{ survey_title }}</div>
          {% endif %}
        </div>
        {% include 'partials/sign-out-button.html' %} {% include 'partials/mobile-navigation-button.html' %}
      </div>
    </div>
  </div>
  {% include 'partials/main-navigation.html' %}
</header>
