{% import 'macros/patterns.html' as patterns %}

<div class="ptn-section">
<p>A question is composed of a number of components:
<ul>
  <li>Title</li>
  <li>Sub-title (optional)</li>
  <li>Description (optional)</li>
  <li>Response</li>
  <li>Guidance (optional)</li>
</ul>
{{patterns.question(data.questions.example)}}
</div>

<h2>Question Types</h2>

<div class="ptn-section">
  <h3>Text</h3>
  <p>The most basic type of question simple text response that will accept any alphanumeric character.</p>
  {{patterns.question(data.questions.simple)}}
</div>

<div class="ptn-section">
  <h3>Numeric Entry</h3>
  <h4>Currency</h4>
  <p>A currency field accepts a numeric entry in currency format, typically in £ or €. </p>
  {{patterns.question(data.questions.currency)}}
  <h4>Precision</h4>
  <p>A precision field will be accurate to a defined decimal place.</p>
  {{patterns.question(data.questions.precision)}}
  <h4>Percentage</h4>
  <p>Accepts a percentage.</p>
  {{patterns.question(data.questions.percentage)}}
</div>

<div class="ptn-section">
  <h3>Multiple Choice</h3>
  <p>A multiple choice question will typically use either radios or checkboxes.</p>
  {{patterns.question(data.questions.multiple_choice)}}
</div>

<div class="ptn-section">
  <h3>Multiple Answer</h3>
  <p>A multiple answer will have several different fields requiring input.</p>
  {{patterns.question(data.questions.multiple_answer)}}
</div>

<div class="ptn-section">
  <h3>Dates</h3>
  <p>A date question will require one or more dates to be entered.</p>
  {{patterns.question(data.questions.date)}}
</div>

<h2>Errors</h2>
<div class="ptn-section">
  <p>Validation errors use the <a href="/pattern-library/patterns/alert">alert component</a>:</p>
  {% with %}
    {% set alert_title = "This is a validation error message." %}
    {% set question = data.questions.currency %}
    {% set alert_body %}
      {% include 'partials/question.html' %}
    {% endset %}
    {% set code %}
        {% include 'partials/alert.html' %}
    {% endset %}
    {{patterns.example(code)}}
  {% endwith %}
</div>
