{% do page | setAttribute("feedback", {
   "id": "feedback",
        "title": _("Give us feedback and help us improve this service"),
        "pageTitle": {
            "value": page.title
        },
        "pageURL": {
            "value": page.url
        },
        "mailto": {
            "address": "census2021.feedback@ons.gov.uk",
            "textBefore": _("Tell us what you think of this website by emailing"),
            "textAfter": _("This email is for feedback only and we will not be able to reply, do not include any personal details."),
            "subject": "Census%202021%20Feedback: ",
            "body": "body=Your%20feedback%3A%0d%0a",
            "classes": "u-mb-m"
        },
        "button":{
          "close": {},
          "send": {}
        }
}) %}
