{% do page | setAttribute("feedback", {
  "id": "feedback",
    "title": _("Give us feedback and help us improve this service"),
    "pageTitle": {
      "value": page.title
    },
    "pageURL": {
      "value": page.url
    },
    "mailto": {
      "address": "census2021.feedback@ons.gov.uk",
      "textBefore": _("Give us feedback and help us improve this service.<br>Tell us what you think of this service by emailing"),
      "textAfter": _("If you need help with your census, get in touch with our contact centre."),
      "subject": _("Census 2021 feedback: ") | urlencode,
      "body": ("\n\n\n---\n" ~ _("This email is for feedback on the census rehearsal, which will help us to improve Census 2021.\nIf you need help with your census, visit https://www.census.gov.uk/contact-us.")) | urlencode
    },
    "button":{
      "close": {},
      "send": {}
    }
}) %}
