{% set footer = {
  "assetsURL": page.assetsURL,
  "OGLLink": {
    "HTML": _("All content is available under the Open Government Licence v3.0, except where otherwise stated")
  }
} %}

{% if schema_theme == "census-nisra" %}

  {% set contact_us_url = "https://census.gov.uk//ni/contact-us/" %}
  {% set cookies_url = "https://census.gov.uk/ni/cookies-information/" %}

{% elif language_code == "cy" %}

  {% set contact_us_url = "https://cyfrifiad.gov.uk/cysylltu-a-ni/" %}
  {% set cookies_url = "https://cyfrifiad.gov.uk/cwcis/" %}

{% else %}

  {% set contact_us_url = "https://census.gov.uk/contact-us/" %}
  {% set cookies_url = "https://census.gov.uk/cookies-information/" %}

{% endif %}

{% do footer | setAttribute("cols", [
    {
        "itemsList": [
            {
                  "text": _('Contact us'),
                  "url": contact_us_url,
                  "target": "_blank"
            },
            {
                  "text": _('Help'),
                  "url": '#',
                  "target": "_blank"
            }
        ]
    },
    {
        "itemsList": [
            {
                "text": _("Cookies"),
                "url": cookies_url,
                "target": "_blank"
            },
            {
                "text": _("Privacy and data protection"),
                "url": "/privacy",
                "target": "_blank"
            },
            {
                "text": _("Accessibility"),
                "url": "#",
                "target": "_blank"
            }
        ]
    }
  ]) %}

{% do page | setAttribute("footer", footer) %}
