{% extends 'layouts/_survey.html' %}

{% block header %}
  {% include theme('partials/header.html') %}
{% endblock %}

{%- block styles %}
<link href='https://fonts.googleapis.com/css?family=Lato:400,600,700,900' rel='stylesheet' type='text/css'>
<!--[if (gt IE 9) | (IEMobile)]><!-->
  {%- if request.args.get('fixed') == 'true' %}
    <link href="{{ url_for('static', filename='css/census/fixed.css') }}" rel="stylesheet">
  {%- else %}
    <link href="{{ url_for('static', filename='css/census/responsive.css') }}" rel="stylesheet">
  {%- endif %}
<!--<![endif]-->
<!--[if (lte IE 9) & (!IEMobile)]>
  <link href="{{ url_for('static', filename='css/census/fixed.css') }}" rel="stylesheet">
<![endif]-->
{% endblock styles -%}

{% block footer %}
  {% include theme('partials/footer.html') %}
{% endblock %}
