{% extends 'layouts/_survey.html' %}

{% block top_bar %}
<!-- Theme selected: Star Wars -->
{% include 'partials/topbar.html' %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="logo">
    <img src="{{ theme_static('star-wars-logo.svg') }}" alt="Star Wars" class="logo__img" />
  </div>
  <div class="panel">
    <div role="main" class="panel__body" id="main">
      {% block main %} {% endblock %}
    </div>
  </div>
</div>
<!-- Theme selected: Star Wars -->
{% endblock %}
