.alert {
  border-radius: 0;
  a {
    color: $color-secondary;
    &:focus {
      color: white;
    }
  }
}

.alert__header {
  color: $color-white;
  margin: 0;
  padding: 0.75rem 1rem;
  border-radius: 0;
}

.alert__title {
  margin: 0;
}

.alert__body {
  padding: 1rem;
}

@mixin alert_type($name, $color, $color-tint:tint($color, 90%)) {
  .alert--#{$name} {
    background: $color-tint;
    .alert__header {
      background: $color;
    }
  }
  .alert--simple {
    &.alert--#{$name} {
      border-color: $color;
    }
  }
}

@include alert_type(error, $color-red);
@include alert_type(warn, $color-amber);
@include alert_type(success, $color-primary-dark);
@include alert_type(neutral, $color-secondary, #f5f6ff);

.alert--simple {
  border: none;
  border-left: 8px solid transparent;
  color: $color-black;
  padding: 1rem;
  .alert__header {
    background: none;
    padding: 0 0 1rem;
  }
  .alert__body {
    background: none;
    padding: 0;
  }
}

.alert--spacious {
  padding: 1rem;
  @include mq(m) {
    padding: 2rem;
  }
}
