@mixin btn($bg, $color) {
  background-color: $bg;
  color: $color;
  border: none;
  padding: 0.75rem 2.5rem;
  margin: 0 0 1rem;
  font-size: 1rem;
  border-radius: 3px;
  display: inline-block;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $color;
    background-color: darken($bg, 5%);
  }
  &:focus {
    background-color: $color-focus;
    outline: none;
  }

  &.btn--border {
    background: $color;
    border: 3px solid $bg;
    color: $bg;
    padding: 0.5rem 2rem;
    &:hover,
    &:focus {
      background: $bg;
      color: $color;
    }
  }
}

.btn {
  @include btn($color-primary, $color-white);
}

.btn--secondary {
  @include btn($color-secondary, $color-white);
}

.btn--neutral {
  @include btn($color-dark-grey, $color-white);
}

.btn--lg {
  font-weight: $font-weight-semibold;
  padding: 0.9rem 5rem;
}

.btn--link {
  padding: 0.1rem;
  margin: 0;
  display: inline-block;
  color: $color-links;
  background: transparent;
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
    color: $color-links;
    background: transparent;
  }
  &:focus {
    color: white;
    background: $color-links;
  }
}

.btn-group {
  font-size: 0;
  .btn {
    display: inline-block;
    margin-right: 18px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.btn-group__btn {
  display: inline-block;
}
