.feedback__inline {
  overflow: hidden;
  width: 100%;
  opacity: 0;
  transition: max-height 500ms ease-out, opacity 500ms ease-out;
  max-height: 0;
  &.is-expanded {
    max-height: 36em;
    opacity: 1;
    overflow: initial;
  }
  &.is-collapsed {
    display: none;
  }
}

.feedback__border {
  border-bottom: 8px solid $color-secondary;
  padding-bottom: 1rem;
}

.feedback__message {
  margin: 3rem 0;
}

.feedback__field {
  padding: 0;
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}