.field {
  background: none;
}

.field__item {
  margin: 0 0.5rem 0.5rem 0;
  position: relative;
  width: 100%;
  display: inline-block;
  @include mq(s) {
    width: auto;
    min-width: 20rem;
  }
}

.field:not(.field--cols) {
  .field__item:last-of-type {
    margin-bottom: 0;
  }
}

.field__other {
  display: none;
  clear: both;
  background-color: $color-lighter-grey;
  padding: 0 0.5rem 0.5rem;
  .has-focus & {
    background-color: transparent;
  }
  @include fixed {
    display: block;
    background-color: white;
  }
}

input:checked ~ .field__other {
  display: block;
}

.field--radio,
.field--checkbox {
  .field__item {
    background: white;
    border: 1px solid $color-borders;
    border-radius: 0.2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    &:hover {
      border-color: $color-dark-grey;
    }
    &.is-checked {
      border-color: $color-dark-grey;
      background-color: white;
      box-shadow: 0 0 0 1px $color-dark-grey;
    }
    &.has-focus {
      border-color: $color-focus;
      background-color: #f5f6ff;
      box-shadow: 0 0 0 1px $color-focus;
    }
  }

  &.field--cols {
    @include mq(s) {
      display: flex;
      flex-wrap: wrap;
      .field__item {
        width: calc(50% - 1rem);
        min-width: 0;
      }
      .label {
        width: 100%;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.fieldgroup--date {
  .fieldgroup__title {
    font-weight: 700;
    display: inline-block;
    width: 100%;
    margin: 0 0 0.5rem;
  }

  .fieldgroup__fields {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .field {
    margin: 0 0.5rem 0 0;
    flex: 1 1 0;
    clear: right;

    @include mq(s) {
      margin-right: 1rem;
    }

    @include fixed {
      display: block;
      float: left;
      width: 100%;
      margin-right: 1rem;
    }

    @include ie7() {
      input {
        width: 80%;
      }
    }
  }

  .field--day {
    max-width: 6rem;
    @include fixed {
      width: 6rem;
    }
  }

  .field--month {
    flex: 2;
    max-width: 10rem;
    @include fixed {
      width: 10rem;
    }
  }

  .field--year {
    margin-right: 0;
    max-width: 6rem;
    @include fixed {
      width: 6rem;
    }
  }

  .input {
    width: 100%;
  }
}
