.footer2 {
  padding: 90px 0;
  padding: 2rem 0;
  margin-top: 36px;
  margin-top: 2rem;
  background-color: #595959;
  color: #e4e8eb;
}

.footer2_container {
  width: 1080px;
  margin: -20px;
  padding: 0px;
}

a {
  color: #4263c2;
}

.footer2__link {
  color: #e4e8eb;
}

.footer2__link:focus {
  color: white;
}

.footer2__link:hover {
  color: #e4e8eb;
}

.footer2 ul li {
  list-style-type: none;
}

.footer2 .venus {
  margin: 2rem 0 1rem 0;
}

.footer2-nav {
  padding: 0 0 2rem 0;
}

.footer2 .dl__data {
  padding-left: 15px;
}
