.guidance {
  margin: 0.7rem 0 0 -0.1rem;
}

.guidance__link {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-decoration: underline;
  padding: 0.2rem;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  &::before {
    $size: 1rem;

    transition: transform 300ms ease-in-out;
    margin-right: 0.3rem;
    speak: none;
    content: "";
    background: url("#{$s}/img/icons/icons--guidance.svg") no-repeat center center;
    background-size: auto;
    text-align: center;
    width: $size;
    height: $size;
    position: relative;
    left: -0.1rem;
    vertical-align: middle;
    display: inline-block;
    bottom: 1px;
  }

  &:focus {
    outline: none;
    &::before {
      background: url("#{$s}/img/icons/icons--guidance-white.svg") no-repeat center center;
    }
  }

  .is-expanded & {
    &::before {
      transform: rotate(90deg);
    }
  }

  .no-js & {
    display: none;
  }
}

.guidance__main {
  overflow: hidden;
  width: 100%;
  border-radius: 3px;
  opacity: 0;
  transition: all 0;
  max-height: 0;
  padding-left: 0.5rem;
  .no-js &,
  .is-expanded & {
    max-height: 10000em;
    height: auto;
    opacity: 1;
    transition: opacity 300ms ease-out, max-height 300ms ease-out;
  }
}

.guidance__content {
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-top: 1rem;
  border-left: 2px solid $color-borders;
  padding-left: 1rem;
  margin-left: 0.6rem;
  div {
    @include mq(s) {
      display: table-cell;
      &:first-of-type {
        padding-left: 0.25rem;
        padding-right: 0.5rem;
      }
      &:last-of-type {
        padding-left: 1rem;
      }
    }
    ul {
      padding-left: 1rem;
      @include mq(s) {
        margin-bottom: 0;
      }
      @include lt-ie8 {
        margin-bottom: 1rem;
      }
    }
  }
}
