$header-bp: 36em;

.header {
  display: block;
  overflow: hidden;
  padding: 1.284rem 0;
  @include mq(m) {
    padding: 1.284rem 0;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: $color-secondary;
    position: absolute;
    top: 0;
    left: 0;
  }
  @include mq($header-bp) {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  margin-bottom: 1rem;
  @include mq($header-bp) {
    margin-bottom: 0;
    flex: 1 1 50%;
  }
}

.header__info {
  @include mq($from: xs, $to: m) {
    max-width: 100%;
  }

  @include mq($header-bp) {
    float: right;
    flex: 1 1 10rem;
    margin-left: 2rem;
    position: relative;
    text-align: right;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 8px;
      background-color: #a8bd3a;
      position: absolute;
      top: -1.3rem;
      right: 0;
    }
  }

  @include fixed {
    width: 20em;
    float: right;
    position: relative;
  }
}
