.info {
  display: block;
  font-size: 0.9rem;
  @include mq(m) {
    font-size: 1rem;
  }
}

.info__title {
  display: inline-block;
  margin: 0;
  font-size: 1em;
}

.info__tel {
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  margin-left: 1em;
  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    @include icon('phone');

    width: 1.5em;
    height: 1.5em;
    background-size: 2.5em;
  }
}

.info__link {
  text-decoration: none;
  color: $color-text;
  &:focus {
    color: white;
  }
}

.info__list {
  display: flex;
  border-top: 1px solid $color-borders;
  padding-top: 0.5em;
  margin: 0.1em 0 0;
  @include mq(m) {
    display: inline-flex;
  }
}

.info__dt,
.info__dd {
  display: inline-block;
  font-size: 0.7em;
  margin: 0;
  line-height: 1.2;
  white-space: nowrap;
  &.first {
    padding-left: 0;
    margin-left: 0;
  }
  &.last {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
  }
}

.info__dt {
  font-weight: 600;
  margin-right: 0.2rem;
}

.info__dd {
  border-right: 1px solid $color-borders;
  padding-right: 1em;
  margin-right: 1em;
}
