.input-type {
  display: flex;
  position: relative;
  align-items: center;
  max-width: $input-width;
  @include fixed {
    font-size: 0;
  }

  .input-type__input {
    display: inline-block;
    vertical-align: middle;
    border-radius: $input-radius 0 0 $input-radius;
    border-right: 0;
    line-height: normal;
    position: relative;
    width: 100%;
    @include fixed {
      font-size: 1rem;
      z-index: 1;
    }

    &:focus ~ .input-type__type {
      border-color: $color-focus;
      box-shadow: 0 0 0 1px $color-focus;
    }
  }

  .input-type__type {
    background-color: $color-lighter-grey;
    border: 1px solid $color-borders;
    border-radius: 0 $input-radius $input-radius 0;
    padding: $input-padding 0.8rem;
    width: auto;
    font-weight: $font-weight-regular;
    font-size: 1rem;
    text-align: center;
    line-height: normal;
    order: 1;
    @include fixed {
      position: absolute;
      right: 0;
      z-index: 2;
    }
    @include ie7 {
      width: 1.15rem;
      height: 1.15rem;
    }
  }
}

.input-type--reversed {
  overflow: hidden;
  .input-type__input {
    order: 2;
    border-radius: 0 $input-radius $input-radius 0;
    border: 1px solid $color-borders;
    @include fixed {
      padding-left: 3.5rem;
    }
  }
  .input-type__type {
    border-radius: $input-radius 0 0 $input-radius;
    border-right: 0;
    @include fixed {
      left: 0;
      right: auto;
      width: 3rem;
      border: 1px solid $color-borders;
    }
  }
}
