.input-type {
  display: flex;
  position: relative;
  align-items: center;
  max-width: $input-width;

  .input-type__input {
    border-radius: $input-radius 0 0 $input-radius;
    border-right: 0;
    line-height: normal;
    position: relative;
    width: 100%;
    @include fixed {
      margin-left: 2.5rem;
      border-left: 0;
    }

    &:focus ~ .input-type__type {
      border-color: $color-focus;
      box-shadow: 0 0 0 1px $color-focus;
    }
  }

  .input-type__type {
    display: inline-block;
    background-color: $color-lighter-grey;
    border: 1px solid $color-borders;
    border-radius: 0 $input-radius $input-radius 0;
    padding: $input-padding 0.8rem;
    width: auto;
    font-weight: $font-weight-regular;
    font-size: 1rem;
    text-align: center;
    line-height: normal;
    order: 1;
    @include fixed {
      left: 0;
      width: 2.5rem;
      height: 100%;
      border: 1px solid $color-borders;
    }
    @include ie7 {
      width: 1.15rem;
      height: 1.15rem;
    }
  }
}

.input-type--reversed {
  .input-type__input {
    order: 2;
    border-radius: 0 $input-radius $input-radius 0;
    border: 1px solid $color-borders;
  }
  .input-type__type {
    border-radius: $input-radius 0 0 $input-radius;
    border-right: 0;
  }
}

.input-type--hours,
.input-type--mins {
  max-width: 10rem;
  .input-type__type {
    width: 5rem;
    padding: $input-padding 0;
  }
}
