$input-padding: 0.6rem;
$input-type-width: 2.4rem;
$input-width: 20rem;

.input {
  position: relative;
  z-index: 3;
  padding: $input-padding;
  display: block;
  color: inherit;
  font-size: 1rem;
  border: 1px solid $color-borders;
  border-radius: $input-radius;
  width: 100%;
  transition: border-color 200ms ease-in;
  @include mq(s) {
    width: $input-width;
  }
  &:hover {
    border-color: $color-links-hover;
  }
  &:focus {
    outline: none;
    border-color: $color-focus;
    box-shadow: 0 0 0 1px $color-focus;
    @include fixed() {
      outline: 2px solid $color-focus;
    }
  }
}

.input__helper {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.2rem;
}

.input--select {
  appearance: none;
  padding: $input-padding 2rem $input-padding 0.5rem;
  background: $color-white url("/s/img/icons/icons--chevron-down.svg") no-repeat center right 6px;
  background-size: 1.5rem;
  line-height: 1.25rem;
  &::-ms-expand {
    display: none;
  }
  @include fixed() {
    padding-right: 0.5rem;
  }
}

.input--textarea {
  width: 100%;
}

.input--radio,
.input--checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #9b9b9b;
  padding: 0.5rem;
  font-size: 1rem;
  background: #eee;
  box-shadow: inset 0 0 0 3px white;
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  left: 0.6rem;
  transition: background-color 200ms ease-in, color 200ms ease-in;
  &:checked {
    border-color: $color-links-hover;
  }
  &:focus {
    border-color: $color-focus;
    outline: none;
  }
  @include mq(m) {
    top: 0.85rem;
  }
  @include fixed() {
    border: none;
    background: none;
    &:focus {
      outline: 2px solid $color-focus;
    }
  }
}

.input--radio {
  border-radius: 100px;
  box-shadow: inset 0 0 0 3px white;
  &:checked {
    background: $color-links-hover;
    box-shadow: inset 0 0 0 3px white;
  }
  &:focus {
    border-color: $color-focus;
    box-shadow: inset 0 0 0 3px white;
    outline: none;
    &:checked {
      border-color: $color-focus;
      background-color: $color-focus;
    }
  }
}

.input--checkbox {
  background: url("/s/img/icons/icons--check.svg") no-repeat center center;
  background-size: 0;
  transition: background-size 50ms ease-out;
  &:checked {
    background-size: 20px;
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}

.input--number {
  padding-right: 0.3rem;
}

.input--block {
  display: block;
  width: 100%;
}

.input-type {
  display: flex;
  position: relative;
  align-items: center;
}

.input-type__input {
  $width: calc(#{$input-width} - #{$input-type-width});

  border-radius: $input-radius;
  line-height: normal;
  position: relative;
  z-index: 1;
  width: $width;
  padding-left: $input-type-width + 0.5rem;
  @include fixed {
    margin-left: 2.5rem;
    border-left: 0;
  }
}

.input-type__type {
  content: attr(data-type);
  display: inline-block;
  background-color: $color-lighter-grey;
  border-right: 1px solid $color-borders;
  border-radius: $input-radius 0 0 $input-radius;
  padding: $input-padding 0.9rem;
  width: $input-type-width;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: normal;
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: 2;
  @include fixed {
    position: absolute;
    left: 0;
    width: 2.5rem;
    height: 100%;
    border: 1px solid $color-borders;
    z-index: 2;
  }
  @include ie7 {
    width: 1.15rem;
    height: 1.15rem;
  }
}
