.pdf-button {
    line-height: normal;
    background-image: url("/s/img/icons/icons--pdf.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 2.34rem;
  }
