.pdf-button {
  margin-left: 1em;
  line-height: normal;
  background-image: url("/s/img/icons/icons--pdf.svg");
  opacity: 0.2s ease-in-out, transform 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 2.34rem;

  &:hover {
    background-image: url("/s/img/icons/icons--pdf-hover.svg");
  }
}
