.question {
  border: 2px solid transparent;
  margin-bottom: 1rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include mq(m) {
    margin-bottom: 2rem;
  }
}

.question--has-errors {
  border-color: $color-red;
  background: rgba($color-red, 0.1);
}

.question__error {
  background: $color-red;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.question__legend {
  margin-bottom: 1rem;
  float: none;
}

.question__title {
  clear: both;
  // NOTE: do not enable display block as it breaks any instance
  //       where this appears inside a `legend`
  // display: block;
  color: inherit;
  margin-bottom: 1rem;
}

.question__subtitle {
  margin-top: 0.5rem;
  clear: both;
  display: block;
  color: #888;
  font-weight: 700;
  font-size: 1rem;
}

.question__description {
  margin-bottom: 1rem;
  clear: both;
}

.question__guidance {
  margin-bottom: 1rem;
  clear: both;
}

.question__actions {
  margin-top: 1rem;
  @include mq(s) {
    margin-top: 2rem;
  }
}

.question__answers {
  clear: both;
}

.question__answer {
  margin: 0 0 1rem;
  transition: opacity 300ms ease-in-out, transform 100ms ease-out;
  opacity: 1;
  transform: translateX(0);
  &.is-hidden {
    opacity: 0;
    transform: translateX(-1rem);
  }
  &.is-removed {
    opacity: 0.5;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
