$bp: 36em;
// $bp: 32em;
// $bp: 30rem;

.survey-header {
  display: block;
  overflow: hidden;
  @include mq($bp) {
    display: flex;
    align-items: center;
  }
}

.survey-header__logo {
  margin-bottom: 1rem;
  @include mq($bp) {
    margin-bottom: 0;
    flex: 1 1 50%;
  }
}

.survey-header__info {
  @include mq($from: xs, $to: m) {
    max-width: 100%;
  }

  @include mq($bp) {
    margin-left: auto;
    float: right;
    flex: 1 1 19rem;
    margin-left: 2rem;
  }

  @include fixed {
    width: 20em;
    float: right;
    position: relative;
  }
}
