{%- from "macros/field/_macro.njk" import onsField -%}
{%- from "macros/checkboxes/_checkbox-macro.njk" import onsCheckbox -%}

{% call onsField({
    "id": params.id,
    "legend": params.legend,
    "description": params.description,
    "classes": params.classes,
    "mutuallyExclusive": params.mutuallyExclusive
}) %}
    {% for checkbox in params.checkboxes -%}
        {%- if params.mutuallyExclusive -%}
            {% set exclusiveClass = ' js-exclusive-group' %}
        {%- endif -%}

        <div class="field__item">
            {% set checkboxConfig = {
                "id": checkbox.id,
                "name": checkbox.name,
                "value": checkbox.value,
                "checked": checkbox.checked,
                "classes": checkbox.classes,
                "inputClasses": exclusiveClass,
                "label": {
                    "for": checkbox.id,
                    "text": checkbox.label.text,
                    "description": checkbox.label.description,
                    "classes": checkbox.label.classes | default('')
                }
            } %}

            {% if checkbox.other %}
                {% set x= checkboxConfig.__setitem__('other', {
                    "id": checkbox.other.id,
                    "name": checkbox.other.name,
                    "type": checkbox.other.type,
                    "classes": checkbox.other.classes | default('') + exclusiveClass | default(''),
                    "attributes": checkbox.other.attributes,
                    "label": {
                        "text": checkbox.other.label.text
                    }
                }) %}
            {% endif %}

            {{ checkbox.other }}
            {{
                onsCheckbox(checkboxConfig)
            }}
        </div>
    {%- endfor %}
{% endcall %}
