$font-sans: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$font-serif: Georgia, serif;

$base-font-size: 1rem;
$base-line-height: 1.5;

$font-size-h1: 2rem;
$font-size-h2: 1.7rem;
$font-size-h3: 1.3rem;
$font-size-h4: 0.9rem;
$font-size-h5: 0.9rem;
