<h3 class="u-fs-m">{{ intro.title }}</h3>
<div class="collapsible__introduction">
{% for content in intro.content %}
{% if content.title  %}
<h4 class="u-fs-r--b u-mt-s">{{ content.title }}</h4>
{% endif %}
<p class="u-fs-r qa-intro-description" data-qa="intro-preview-description">
    {{ content.description }}
</p>
{% if content.list %}
<ul>
    {% for li in content.list %}
    <li>{{ li }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endfor %}
</div>
{% if intro.questions %}
<div id="collapsible" class="collapsible js-collapsible" data-btn-close="Hide this">
    <div class="collapsible__heading js-collapsible-heading">
      <div class="collapsible__controls">
        <h2 class="collapsible__title">What is a photovoltaic system?</h2>
        <span class="collapsible__icon">
          <svg class="svg-icon" viewBox="0 0 7.5 12.85" xmlns="http://www.w3.org/2000/svg" focusable="false">
            <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
          </svg>
        </span>
      </div>
    </div>
    <div id="collapsible-content" class="collapsible__content js-collapsible-content">
      <p>A typical photovoltaic system employs solar panels, each comprising a number of solar cells, which generate electrical power. PV installations may be ground-mounted, rooftop mounted or wall mounted. The mount may be fixed, or use a solar tracker to follow the sun across the sky.</p>
      <button type="button" class="btn btn--small js-collapsible-button u-d-no btn--secondary" name="btn-submit" aria-hidden="true">
        <span class="btn__inner js-collapsible-button-inner">Hide this</span>
        <span class="btn__context u-vh">What is a photovoltaic system? content</span>
      </button>
    </div>
  </div>
  <!-- 
<div class="collapsible js-collapsible u-mb-s">
        <div class="collapsible__controls">
            <button type="button" class="btn btn--secondary btn--small collapsible__control js-collapsible-toggle-all u-wa--@xs" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Show all" data-ga-label="Show all" data-close-all-label="{{ _('Hide all') }}" data-open-all-label="{{ _('Show all') }}" aria-hidden="true">
                {{ _('Show all') }}</button>
        </div>

        <div class="js-collapsible-content">
            {% for question in intro.questions %}
            {% set outer_loop = loop %}
            <div class="collapsible__heading js-collapsible-heading">
                <div class="collapsible__controls">
                  <h2 class="collapsible__title">{{question.question}}</h2>
                  <span class="collapsible__icon">
                    <svg class="svg-icon" viewBox="0 0 7.5 12.85" xmlns="http://www.w3.org/2000/svg" focusable="false">
                      <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                    </svg>
                  </span>
                </div>
              </div>
    
            <div id="collapsible" class="collapsible js-collapsible" data-btn-close="Hide this">
                <div class="collapsible__heading js-collapsible-heading">
                  <div class="collapsible__controls">
                    <h2 class="collapsible__title">What is a photovoltaic system?</h2>
                    <span class="collapsible__icon">
                      <svg class="svg-icon" viewBox="0 0 7.5 12.85" xmlns="http://www.w3.org/2000/svg" focusable="false">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                      </svg>
                    </span>
                  </div>
                </div>
                <div id="collapsible-content" class="collapsible__content js-collapsible-content">
                  <p>A typical photovoltaic system employs solar panels, each comprising a number of solar cells, which generate electrical power. PV installations may be ground-mounted, rooftop mounted or wall mounted. The mount may be fixed, or use a solar tracker to follow the sun across the sky.</p>
                  <button type="button" class="btn btn--small js-collapsible-button u-d-no btn--secondary" name="btn-submit" aria-hidden="true">
                    <span class="btn__inner js-collapsible-button-inner">Hide this</span>
                    <span class="btn__context u-vh">What is a photovoltaic system? content</span>
                  </button>
                </div>
              </div>

            <div class="collapsible__body u-fs-r js-collapsible-body">
                {% if question.content %}
                {% for qc in question.content %}
                <div class="u-mb-s">
                    {% if qc.title %}
                    <div  class="u-mb-s u-fs-r--b">{{ qc.title }}</div>
                    {% endif %}
                    {% if qc.description %}
                    <div class="u-mb-s">{{ qc.description }}</div>
                    {% endif %}
                    {% if qc.list %}
                    <ul>
                        {% for li in qc.list %}
                        <li>{{ li }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            </div>

            {% endfor %}
        </div> -->
</div>
{% endif %}
