<h3 class="u-fs-m">{{ intro.title }}</h3>
<div class="collapsible__introduction">
{% for content in intro.content %}
{% if content.title  %}
<h4 class="u-fs-r--b u-mt-s">{{ content.title }}</h4>
{% endif %}
<p class="u-fs-r qa-intro-description" data-qa="intro-preview-description">
    {{ content.description }}
</p>
{% if content.list %}
<ul>
    {% for li in content.list %}
    <li>{{ li }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endfor %}
</div>
{% if intro.questions %}
<div class="collapsible js-collapsible u-mb-s">
        <div class="collapsible__controls">
            <button type="button" class="btn btn--secondary btn--small collapsible__control js-collapsible-toggle-all u-wa--@xs" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Show all" data-ga-label="Show all" data-close-all-label="{{ _('Hide all') }}" data-open-all-label="{{ _('Show all') }}" aria-hidden="true">
                {{ _('Show all') }}</button>
        </div>

        <div class="js-collapsible-content">
            {% for question in intro.questions %}
            {% set outer_loop = loop %}
            <h3 class="collapsible__title js-collapsible-title u-cf icon--collapsible" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Open panel" data-ga-label="{{question.question}}">
                <span class="collapsible__title-text">{{question.question}}</span>
                <button type="button" class="btn btn--secondary btn--small collapsible__title-right js-collapsible-toggle u-wa--@xs" data-close-label="{{ _('Hide') }}" data-open-label="{{ _('Show') }}" aria-hidden="true" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Open panel" data-ga-label="{{question.question}}">{{ _('Show') }}</button>
            </h3>

            <div class="collapsible__body u-fs-r js-collapsible-body">
                {% if question.content %}
                {% for qc in question.content %}
                <div class="u-mb-s">
                    {% if qc.title %}
                    <div  class="u-mb-s u-fs-r--b">{{ qc.title }}</div>
                    {% endif %}
                    {% if qc.description %}
                    <div class="u-mb-s">{{ qc.description }}</div>
                    {% endif %}
                    {% if qc.list %}
                    <ul>
                        {% for li in qc.list %}
                        <li>{{ li }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            </div>

            {% endfor %}
        </div>
</div>
{% endif %}
