.page-header {
  background: $color-purple;
  margin: 0 0 1rem;
  padding: 0;
  position: relative;
  overflow: hidden;
  color: white;
  display: block;
  &::before {
    content: none;
  }

  @include mq(s) {
    margin: 0 0 1.5rem;
  }
}

.page-header__container {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  @include mq(m) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.page-header__logo {
  margin-bottom: 0;
  margin-right: auto;

  @include fixed() {
    background: url("/_themes/census/logo.png") no-repeat left center;
    width: 221px;
    height: 51px;
    background-size: auto;
    img {
      display: none;
    }
  }
  img {
    width: 7rem;
    vertical-align: top;
    @include mq(s) {
      width: 10rem;
    }
    @include mq(m) {
      width: auto;
    }
  }
}

.page-header__btn {
  text-align: right;
  line-height: 1;
  color: white;
  margin: 0 0 0 2rem;
  width: auto;
  @include mq($from: xs, $to: s) {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem !important;
  }
  @include fixed() {
    float: right;
    margin-top: 1rem;
  }
}

.page-header__help {
  padding: 0;
  background: darken($color-purple, 9%);
  overflow: hidden;
  transition: max-height 300ms ease-in;
  height: auto;
  .has-js & {
    max-height: 40rem;
    &.is-closed {
      max-height: 0;
      transition: max-height 200ms ease-out;
    }
  }
  @include mq(xs, s) {
    .mars,
    .venus {
      font-size: 0.8rem;
    }
  }
  @include fixed {
    background: transparent;
    position: absolute;
    right: 0;
    top: 1rem;
    width: 100%;
    height: 100%;
    text-align: right;
  }
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  .page-header__container {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    @include mq(m) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    @include fixed {
      height: 100%;
      position: relative;
    }
  }
}

.page-header__title {
  display: none;
  @include fixed {
    display: inline;
  }
}

.page-header__nav {
  margin-left: auto;
  @include fixed {
    display: inline;
  }
}
