<h2 class="u-fs-l u-mt-m">{{ intro.title }}</h2>

<div class="collapsible__introduction">
  {% set contents = intro.contents %}
  {% include "partials/contents.html" %}
</div>

{% if intro.questions %}
  {% from "components/accordion/_macro.njk" import onsAccordion %}

  {% set accordionItems = [] %}

  {% for question in intro.questions %}
    {% set content %}
      {% set contents = question.contents %}
      {% include "partials/contents.html" %}
    {% endset %}

    {% set item = {
      "title": question.question,
      "content": content,
      "summaryAttributes": {
          "data-ga": "click",
          "data-ga-category": "Preview Survey",
          "data-ga-action": "Open panel",
          "data-ga-label": question.question
      },
      "button": {
        "open": _('Show'),
        "close": _('Hide'),
        "attributes": {
          "data-ga": "click",
          "data-ga-category": "Preview Survey",
          "data-ga-action": "Open panel",
          "data-ga-label": question.question
        }
      }
    } %}

    {% do accordionItems.append(item) %}
  {% endfor %}

  {{
      onsAccordion({
          "id": "intro-questions",
          "classes": "u-mb-s",
          "allButton": {
            "open": _('Show all'),
            "close": _('Hide all'),
            "attributes": {
              "data-ga": "click",
              "data-ga-category": "Preview Survey",
              "data-ga-action": "Show all",
              "data-ga-label": "Show all"
            }
          },
          "itemsList": accordionItems
      })
  }}
{% endif %}
