<div class="field">
    {% set label = {
      'for': answer.id,
      'text': answer.label,
      'description': answer.description
    } %}

    {% include 'partials/forms/label.html' %}

    <div class="input-type input-type--currency">

      <span class="input-type__type" id="{{answer.id}}-type">£</span>
        {% set input = {
            'type': 'text',
            'classes': 'input-type__input',
            'hasType': true,
            'data': form.get_data(answer['id'])|e,
            'name': answer.id,
            'id': answer.id,
            'placeholder': ''
        } %}

      {% include 'partials/forms/input.html' %}

    </div>
</div>
