{% set subfields %}
 <div class="fieldgroup fieldgroup--date" data-qa="widget-date">
  <div class="fieldgroup__fields">
    {% if form.fields[answer['id']]['day'] %}
    <div class="field field--input field--day">
      <label class="label mercury" for="{{answer['id']}}-day" id="label-{{answer['id']}}-day" data-qa="label-day">{{ _("Day") }}</label>
      {% set input = form.fields[answer['id']]['day'] %}
      {% set input_placeholder = "DD" %}
      {% include 'partials/forms/input.html' %}
    </div>
    {% endif %}
    {% if form.fields[answer['id']]['month'] %}
    <div class="field field--select field--month">
      <label class="label mercury" for="{{answer['id']}}-month" id="label-{{answer['id']}}-month" data-qa="label-month">{{ _("Month") }}</label>
      {% set select = form.fields[answer['id']]['month'] %}

      {% include 'partials/forms/select.html' %}
    </div>
    {% endif %}
    {% if form.fields[answer['id']]['year'] %}
    <div class="field field--input field--year">
      <label class="label mercury" for="{{answer['id']}}-year" id="label-{{answer['id']}}-year" data-qa="label-year">{{ _("Year") }}</label>
      {% set input = form.fields[answer['id']]['year'] %}
      {% set input_placeholder = "YYYY" %}
      {% include 'partials/forms/input.html' %}
    </div>
    {% endif %}
  </div>
 </div>
{% endset %}

{% if answer.label %}
  <fieldset class="field">
    <legend class="field__legend mars u-vh">{{ question.title }}</legend>
    <div class="field__label venus">{{ answer.label }}:</div>
    {{subfields}}
  </fieldset>
{% else %}
  <div class="fieldgroup fieldgroup--date">
    {{subfields}}
  </div>
{% endif %}
