{% set subfields %}
  <div class="fieldgroup__fields">
    {% if form[answer['id']]['day'] %}
    <div class="field field--input field--day">
      <label class="label mercury" for="input-{{answer['id']}}-day" id="label-{{answer['id']}}-day" data-qa="label-day">Day</label>
      {% set input = form[answer['id']]['day'] %}
      {% set input_placeholder = "DD" %}
      {% include 'partials/forms/input.html' %}
    </div>
    {% endif %}
    {% if form[answer['id']]['month'] %}
    <div class="field field--select field--month">
      <label class="label mercury" for="input-{{answer['id']}}-month" id="label-{{answer['id']}}-month" data-qa="label-month">Month</label>
      {% set select = form[answer['id']]['month'] %}

      {% include 'partials/forms/select.html' %}
    </div>
    {% endif %}
    {% if form[answer['id']]['year'] %}
    <div class="field field--input field--year">
      <label class="label mercury" for="input-{{answer['id']}}-year" id="label-{{answer['id']}}-year" data-qa="label-year">Year</label>
      {% set input = form[answer['id']]['year'] %}
      {% set input_placeholder = "YYYY" %}
      {% include 'partials/forms/input.html' %}
    </div>
    {% endif %}
  </div>
{% endset %}

{% if answer.label %}
  <fieldset class="fieldgroup fieldgroup--date" data-qa="widget-date">
    <legend class="fieldgroup__title venus">{{answer.label}}</legend>
    {{subfields|safe}}
  </fieldset>
{% else %}
  <div class="fieldgroup fieldgroup--date">
    {{subfields|safe}}
  </div>
{% endif %}
