{% if answer.value %}
  {% set answer_value = answer.value.split('/') %}
{% else %}
  {% set answer_value = "0/0".split('/') %}
{% endif %}

<fieldset class="fieldset date">
  <legend class="legend">
    <div>{{answer.label}}</div>
  </legend>
  <div class="subfields">
    {% with name="day" %}
    <div class="field field--{{name}}">
      <label class="label label--small" for="{{answer.id}}-{{name}}">{{_('Day')}}</label>
      {{form.select(name, (range(1, 32)), answer_value[0]|int, answer)}}
    </div>
    {% endwith %}

    {% with name="month" %}
    <div class="field field--{{name}}">
      {% set months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}
      <label class="label label--small" for="{{answer.id}}-{{name}}">{{_('Month')}}</label>
      {{form.select(name, months, answer_value[1]|int, answer)}}
    </div>
    {% endwith %}

    <div class="field field--year">
      <label class="label label--small" for="{{answer.id}}-year">{{_('Year')}}</label>
      <input class="input input--number" type="number" name="{{answer.id}}-year" id="{{answer.id}}-year" value="{{answer_value[2]}}" placeholder="YYYY">
    </div>
  </div>
</fieldset>
