<div class="field">
  <div class="input-type input-type--unit input-type--group">
    {% set args = {
      'class': 'input input--number input--with-unit input--block ' ~ exclusive_class,
      'pattern': '[0-9]*',
      'aria-labelledby': 'duration-label ' + input.id + '-label'
    } %}

    {{ input(**args) }}
    <abbr title="{{ _(input.label.text) }}" class="input-type__type" id="{{input.id}}-label">{{ format_unit_input_label(unit, unit_length='long') | capitalize }}</abbr>
  </div>
</div>
