<div class="field">
    {% set label = {
      'for': answer.id,
      'text': answer.label
    } %}

    {% include 'partials/forms/label.html' %}

    {% set input = form.fields[answer['id']] %}

    {% set attr = {
      "class": "input input--textarea js-charlimit-input " ~ exclusive_class,
      "aria-describedby": "description-" ~ question.id ~ " guidance-" ~ answer.id ~ "-trigger",
      "name": input.name,
      "id": answer.id,
      "data-char-limit-ref": answer.id ~ "-remaining",
      "placeholder": answer.placeholder,
      "rows": "8",
      "cols": "60",
      "maxlength": answer.max_length|default(input.maxlength, true)
    } %}

    {% set answer_helper = answer.name ~ "-helper" %}

    <textarea {{attr|xmlattr}}>{{ input._value() }}</textarea>

    {% set remainingAttr = {
      "id": answer.id ~ "-remaining",
      "class": "input__limit u-mt-xs mercury",
      "data-qa": "textarea-with-limit"
    } %}
    <div {{remainingAttr|xmlattr}}>{{ _("Characters remaining") }}: <span>-</span></div>
</div>
