<fieldset class="fieldgroup fieldgroup--time" data-qa="widget-time">
  <legend class="fieldgroup__title venus">{{answer.label}}</legend>
  <div class="fieldgroup__fields">
    {% for sub_field in ['hours', 'mins'] %}
      {% if form[answer['id']][sub_field] %}
      <div class="field">

        <div class="input-type input-type--{{sub_field}}">

          <label class="input-type__type">{{sub_field}}</label>

          {% set input = {
            'type': 'text',
            'classes': 'input-type__input',
            'hasType': true,
            'data': form[answer['id']][sub_field].data,
            'name': answer.id + "-" + sub_field,
            'id': answer.id,
          } %}

          {% include 'partials/forms/input.html' %}

        </div>
      </div>

      {% endif %}
    {% endfor %}
  </div>
</fieldset>
