$responsive: false;

@import "partials/vars/colors.scss";
@import "partials/vars/forms.scss";
@import "partials/vars/grid.scss";
@import "partials/vars/typography.scss";
@import "partials/vars/vars.scss";

$grid-max-width: 1024px;

@import "partials/vendor/normalize.scss";
@import "partials/helpers/**/*.scss";
@import "partials/base/forms.scss";
@import "partials/base/global.scss";
@import "partials/base/sprite.scss";
@import "partials/base/tables.scss";
@import "partials/base/typography.scss";
@import "partials/objects/container.scss";
@import "partials/objects/grid.scss";
@import "partials/objects/group.scss";
@import "partials/objects/header.scss";
@import "partials/objects/list.scss";
@import "partials/objects/panel.scss";
@import "partials/objects/section.scss";
@import "partials/components/forms/field.scss";
@import "partials/components/forms/form.scss";
@import "partials/components/forms/input.scss";
@import "partials/components/forms/label.scss";
@import "partials/components/forms/question.scss";
@import "partials/components/forms/response.scss";
@import "partials/components/accordion.scss";
@import "partials/components/address.scss";
@import "partials/components/alert.scss";
@import "partials/components/badge.scss";
@import "partials/components/bar.scss";
@import "partials/components/box.scss";
@import "partials/components/buttons.scss";
@import "partials/components/dl.scss";
@import "partials/components/guidance.scss";
@import "partials/components/info.scss";
@import "partials/components/logo.scss";
@import "partials/components/lock.scss";
@import "partials/components/notice.scss";
@import "partials/components/skip.scss";
@import "partials/components/survey-header.scss";
@import "partials/utilities/**/*.scss";
@import "partials/hacks/**/*.scss";
