<form action="" class="form">

  <div class="ptn-section">
    <h3>Text and input fields</h3>
    <div class="field">
    {% with field = data.forms.text %}{% include 'partials/question_fields/text.html' %}{% endwith %}
    </div>

{% filter markdown %}
```markup
<div class="field">
  {% with field = data.forms.text %}{% include 'partials/question_fields/text.html' %}{% endwith %}
</div>
```
{% endfilter %}

<h4>Typed input fields</h4>
<p>Typed input fields have an associated icon to visually indicate the expected "type" of input, eg. Currency. </p>
{% with field = data.forms.currency %}{% include 'partials/question_fields/currency.html' %}{% endwith %}

{% filter markdown %}
```markup
<div class="field">
  {% with field = data.forms.currency %}{% include 'partials/question_fields/currency.html' %}{% endwith %}
</div>
```
{% endfilter %}
  </div>
  <div class="ptn-section">
    <h3>Radios & Checkboxes</h3>
    <h4>Radios</h4>
    {% with field = data.forms.radios %}{% include 'partials/question_fields/radios.html' %}{% endwith %}
{% filter markdown %}
```markup
<div class="field">
  {% with field = data.forms.radios %}{% include 'partials/question_fields/radios.html' %}{% endwith %}
</div>
```
{% endfilter %}
  <h4>Checkboxes</h4>
  {% with field = data.forms.checkboxes %}{% include 'partials/question_fields/checkboxes.html' %}{% endwith %}
{% filter markdown %}
```markup
{% with field = data.forms.checkboxes %}
<div class="field">
{% include 'partials/question_fields/checkboxes.html' %}
</div>
{% endwith %}
```
{% endfilter %}
  </div>

  <div class="ptn-section">
    <h3>Buttons</h3>
    <button class="btn btn--neutral" type="button" name="button">Save &amp; Exit</button>
    <button class="btn" type="button" name="button">Save &amp; Continue</button>
{% filter markdown %}
```markup
<button class="btn btn--neutral" type="button" name="button">Save &amp; Exit</button>
<button class="btn" type="button" name="button">Save &amp; Continue</button>
```
{% endfilter %}
  </div>

  <div class="ptn-section">
    <h3>Dates</h3>
    {% with field = data.forms.date %}
    <div class="field field--date">
    {% include 'partials/question_fields/date.html' %}
    </div>
    {% endwith %}

{% filter markdown %}
```markup
{% with field = data.forms.date %}
<div class="field">
{% include 'partials/question_fields/date.html' %}
</div>
{% endwith %}
```
{% endfilter %}
  </div>

</form>
