<p>
  Brand colours, along with their various shades are defined as Sass variables for easy reference.
</p>


<h2>ONS Digital Blue</h2>

<div class="grid grid--flex">
  <div class="grid__col grid__col--flex m-6">
    <div class="u-bg-blue">
      <p class="u-blue">
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
      </p>
    </div>
  </div>
  <div class="grid__col grid__col--flex m-6">
    <p>This is ONS Digital Blue. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>

<h2>ONS Digital Green</h2>

<div class="grid grid--flex">
  <div class="grid__col grid__col--flex m-6">
    <div class="u-bg-green">
      <p class="u-green">
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
      </p>
    </div>
  </div>
  <div class="grid__col grid__col--flex m-6">
    <p>This is ONS Digital Green. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>

{% filter markdown %}

```css
$color-blue: #003d59;
$color-blue-90: #195069;
$color-blue-80: #33647a;
$color-blue-70: #4c778a;
$color-blue-60: #668b9b;
$color-blue-50: #7f9eac;
$color-blue-40: #99b1bd;
$color-blue-30: #b2c4cd;
$color-blue-20: #ccd8de;
$color-blue-10: #e5ebee;

$color-green: #a8bd3a;
$color-green-90: #b1c34d;
$color-green-80: #b9ca61;
$color-green-70: #c2d175;
$color-green-60: #cbd789;
$color-green-50: #d3de9c;
$color-green-40: #dce5b0;
$color-green-30: #e5ebc4;
$color-green-20: #eef2d8;
$color-green-10: #f6f8eb;
```

{% endfilter %}
