<form action="" class="form">

  <h3>Text fields</h3>

  <div class="ptn-section">
    <fieldset>
      <legend class="legend">Text-fields set in a two column grid above a certain breakpoint.</legend>
      <div class="grid">
        <div class="grid__col m-6">
          <div class="field">
            <label for="name" class="label">Forename</label>
            <input type="text" class="input" name="forename">
          </div>
        </div>
        <div class="grid__col m-6">
          <div class="field">
            <label for="name" class="label">Surname</label>
            <input type="text" class="input" name="surname">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <!-- <div class="ptn-section">
    <fieldset>
      <legend class="legend">Text-fields with inline labels.</legend>
      <div class="grid">
        <div class="grid__col m-6">
          <div class="field field--inline">
            <label for="name" class="label">Forename</label>
            <input type="text" class="input" name="forename">
          </div>
        </div>
        <div class="grid__col m-6">
          <div class="field field--inline">
            <label for="name" class="label">Surname</label>
            <input type="text" class="input" name="surname">
          </div>
        </div>
      </div>
    </fieldset>
  </div> -->

  <h3>Selection inputs</h3>

  <div class="ptn-section">
    <fieldset>
      <legend class="legend">Group of radio buttons</legend>
      <div class="field field--radio">
        {% for i in range(3) %}
        <input class="radio" type="radio" name="radios" id="radio{{i}}"/>
        <label for="radio{{i}}" class="label">Option {{loop.index}}</label>
        {% endfor %}
      </div>
    </fieldset>
  </div>

  <div class="ptn-section">
    <fieldset>
      <legend class="legend">Group of checkboxes</legend>
      <div class="field field--checkbox">
        {% for i in range(3) %}
        <input class="radio" type="checkbox" name="radios" id="checkbox{{i}}"/>
        <label for="checkbox{{i}}" class="label">Option {{loop.index}}</label>
        {% endfor %}
      </div>
    </fieldset>
  </div>

  <h3>Buttons</h3>

  <div class="ptn-section">
    <fieldset>
      <legend class="legend">Vanilla buttons.</legend>
      <button class="btn">Primary</button>
      <button class="btn btn--secondary">Secondary</button>
    </fieldset>
  </div>

</form>

<h3>Form Validation</h3>

<form action="/" method="post" class="form" data-parsley-validate>
  <div class="ptn-section">
    <fieldset>
      <legend class="legend">Basic form validation with required fields.</legend>
      <div class="grid">
        <div class="grid__col m-6">
          <div class="field field--required">
            <label for="name" class="label">Forename</label>
            <input type="text" class="input" name="forename"
                  data-parsley-required-message="Please enter your forename"
                  required>
          </div>
        </div>
        <div class="grid__col m-6">
          <div class="field field--required">
            <label for="name" class="label">Surname</label>
            <input type="text" class="input" name="surname"
                  data-parsley-required-message="Please enter your surname"
                  required>
          </div>
        </div>
      </div>
      <button class="btn">Submit</button>
    </fieldset>
  </div>
</form>

<form action="" method="POST" class="form" data-parsley-validate>
  <div class="ptn-section">
    <fieldset>
      <legend class="legend">Remote validation via AJAX.</legend>
      <div class="grid">
        <div class="grid__col m-12 l-6">
          <div class="field">
            <label for="name" class="label">Say Hello</label>
            <input type="text" name="q" id="name" class="input"
                    data-parsley-trigger="focusout"
                    data-parsley-remote="/validate/"
                    data-parsley-remote-options='{ "type": "POST" }'
                    data-parsley-remote-message="Please enter 'hello'."
                     />
          </div>
        </div>
      </div>
      <button class="btn">Submit</button>
    </fieldset>
  </div>
</form>
