$responsive: true;

@import "partials/vars/*.scss";
@import "theme_vars.scss";
@import "partials/vendor/normalize.scss";
@import "partials/helpers/**/*.scss";
@import "partials/base/**/*.scss";
@import "partials/objects/**/*.scss";
@import "partials/components/**/*.scss";
@import "partials/utilities/**/*.scss";
@import "partials/hacks/**/*.scss";

@import "./components/page-header.scss";
@import "./components/footer.scss";

@include panel_type(neutral, $color-purple, #faf4fc);
