{% extends 'layouts/_base.html' %}
{% from "components/field/_macro.njk" import onsField %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title  = _("Survey feedback") %}

{% block main %}
  <form id="feedback-form" method="POST">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>

    {% call onsField({
      "legend": _("Survey feedback"),
      "questionMode": true
    }) %}
      {{ onsTextarea({
        "id": "feedback-message",
        "name": "message",
        "label": {
          "text": _("How can we improve this survey") + "?"
        },
        "maxlength": 2000,
        "charCountSingular": _("You have {x} character remaining"),
        "charCountPlural": _("You have {x} characters remaining")
      }) }}

      {{ onsInput({
        "id": "feedback-name",
        "name": "name",
        "label": {
          "text": _("Name (optional)"),
          "description": _("Please include your name and email address if you’re interested in taking part in further research to improve this survey")
        }
      }) }}

      {{ onsInput({
        "id": "feedback-email",
        "name": "email",
        "type": "email",
        "label": {
          "text": _("Email address (optional)"),
        }
      }) }}

      {{ onsButton({
        "name": "action[send_feedback]",
        "text": _("Send feedback"),
        "classes": "u-mt-m",
        "attributes": {
          "data-qa": "btn-feedback-submit",
          "data-ga": "click",
          "data-ga-category": "Feedback",
          "data-ga-action": "Send"
        }
      }) }}
    {% endcall %}
  </form>
{% endblock %}
