{% extends 'layouts/_questionnaire.html' %}

{% set save_on_signout = true %}

{% set continue_button_text = _("Continue") %}

{% block form_content %}
  {% if block['section_number'] %}
    <h1 class="u-fs-l">Section {{ block['section_number'] }}: {{ block['title'] }}</h1>
  {% else %}
    <h1 class="u-fs-l">{{ block['title'] }}</h1>
  {% endif %}
  {% if block['description'] %}
    <p>{{ block['description'] | safe }}</p>
  {% endif %}

  {% for item in block.content %}
    {%- if item.title -%}
      <h3 class="u-fs-m">{{ item.title }}</h3>
    {% endif %}
    {%- if item.description -%}
      <p>{{ item.description }}</p>
    {% endif %}
    {%- if item.list -%}
      <ul>
        {%- for list_item in item.list -%}
          <li>{{ list_item }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

{% endblock form_content %}
