{% extends 'layouts/_base.html' %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% import 'macros/helpers.html' as helpers %}

{% set survey_title = _("Session expired") %}

{% block main %}
  <div class="u-mb-s" data-qa="session-expired-error">
    <h1 class="u-fs-l" {{helpers.track('visible', 'Timeout', 'Timeout expired')}}>{{ _("Your session has expired") }}</h1>
  </div>

  {% call onsPanel({
    "type": "success",
    "spacious": true,
    "classes": "u-mb-s"
  }) %}
    <p>{{ _("To help protect your information we have signed you out") }}.</p>
  {% endcall %}

  {% if account_service_url %}
    <a href="{{account_service_url}}">{{ _("Return to your account") }}</a>
  {% endif %}

{% endblock %}
