{% extends 'confirmation.html' %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% import 'macros/helpers.html' as helpers %}

{% set summary_page_title = _("Summary") + " - " + survey_title %}
{% set save_on_signout = true %}

{% block form_content %}
  {% if content.summary.summary_type == 'Summary' %}
    <h1>{{ _("Check your answers and submit") }}</h1>

    {% call onsPanel({
      "classes": "print__hidden u-mb-l"
    }) %}
      <strong>{{ _("Please submit this survey to complete it") }}</strong>
      <p>{{ _("Check your answers before submitting") }}</p>
    {% endcall %}
  {% elif content.summary.summary_type in ('SectionSummary') %}
    {% set group = content.summary.groups %}

    <h1>{{content.summary.title}}</h1>
      {% call onsPanel({
        "classes": "print__hidden u-mb-l"
      }) %}
        <p>{{ _("Check your answers before continuing to the next section") }}</p>
      {% endcall %}
  {% elif content.summary.summary_type == 'CalculatedSummary' %}
    <h1 data-qa="calculated-summary-title">{{content.summary.title}}</h1>

    {% call onsPanel({
      "type": "success",
      "classes": "print__hidden u-mb-l"
    }) %}
      <p>{{ _("Please review your answers and confirm these are correct") }}.</p>
    {% endcall %}
  {% endif %}

  <div class="u-mb-m">
    {% include 'partials/summary/summary.html' %}
  </div>

  {% if content.summary.list_summaries %}
    {% for list_summary in content.summary.list_summaries %}
      <div data-qa="{{list_summary.list_name}}-list-summary">
        <h2>{{list_summary.title}}</h2>
          {% if list_summary.list %}
            {% set list = list_summary.list %}
            {% include 'partials/summary/list-summary.html' %}
          {% else %}
            <div class="u-mb-s">
              {{ list_summary.empty_list_text }}
            </div>
          {% endif %}
          <div class="u-mb-l">
            <a data-qa="add-item-link" href="{{list_summary.add_link}}">{{list_summary.add_link_text}}</a>
          </div>
      </div>
    {% endfor %}
  {% endif %}

  {% if content.summary.is_view_submission_response_enabled %}
    <div class="u-mt-m u-mb-s u-mb-m@s" data-qa="view-submission-text">
      <div class="u-fs-r--b">{{ _("You will have the opportunity to view and print a copy of your answers after submitting this survey") }}</div>
    </div>
  {% endif %}
{% endblock -%}
