{% extends 'confirmation.html' %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% import 'macros/helpers.html' as helpers %}

{% set summary_page_title = _("Summary") + " - " + page_title %}
{% set save_on_signout = true %}

{% block form_content %}
  {% if content.summary.summary_type == 'Summary' %}
    <h1>{{ _("Check your answers and submit") }}</h1>

    {% call onsPanel({
      "classes": "print__hidden u-mb-l"
    }) %}
      <strong>{{ _("Please submit this survey to complete it") }}</strong>
      <p>{{ _("You can check your answers below") }}</p>
    {% endcall %}
  {% elif content.summary.summary_type in ('SectionSummary', 'AnswerSummary') %}
    {% set group = content.summary.groups %}

    <h1>{{content.summary.title}}</h1>

    {% call onsPanel({
      "type": "success",
      "classes": "print__hidden u-mb-l"
    }) %}
      <strong>{{ _("This section is now complete") }}</strong>
      <p>{{ _("You can review your answers below") }}</p>
    {% endcall %}
  {% elif content.summary.summary_type == 'CalculatedSummary' %}
    <h1 data-qa="calculated-summary-title">{{content.summary.title}}</h1>

    {% call onsPanel({
      "type": "success",
      "classes": "print__hidden u-mb-l"
    }) %}
      <p>{{ _("Please review your answers and confirm these are correct") }}.</p>
    {% endcall %}
  {% endif %}

  <div class="u-mb-m">
    {% if content.summary.summary_type == 'AnswerSummary' %}
      {% include 'partials/summary/answer-summary.html' %}
    {% else %}
      {% include 'partials/summary/summary.html' %}
    {% endif %}
  </div>

{% endblock -%}
