{% extends 'layouts/_base.html' %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set page_title = _("We\'ve received your answers") + " - " + survey_title %}
{% set use_transactional_footer = true %}

{% block main %}
  <h1 class="u-fs-l" data-qa="submission-successful-title">{{ _("Submission successful") }}</h1>

  {% call onsPanel({
    "spacious": true,
    "type": "success",
    "classes": "u-mb-s"
  }) %}
    <p>
      {% if metadata.trad_as %}
          {{ _("Your answers were submitted for <span>%(ru_name)s</span> (%(trading_as_name)s) on %(submitted_date_time)s",
          ru_name = metadata.ru_name,
          trading_as_name = metadata.trad_as,
          submitted_date_time=metadata.submitted_time|format_datetime) }}
      {% else %}
          {{ _("Your answers were submitted for <span>%(ru_name)s</span> on %(submitted_date_time)s",
          ru_name = metadata.ru_name,
          submitted_date_time=metadata.submitted_time|format_datetime) }}
      {% endif %}
    </p>
    <p>{{ _("Transaction ID") }}: <b>{{metadata.tx_id}}</b></p>
  {% endcall %}

  <p class="u-mb-s">{{ _("Your answers will be processed in the next few weeks") }}.
      {{ _("We may contact you to query your answers via phone or secure message") }}.</p>

  {% block view_submission %}
    {% if is_view_submitted_response_enabled %}
      {% if view_submission_url %}
          <p class="u-mb-m@s"><a href={{view_submission_url}}  data-qa="view-submission">{{ _("View and print a copy of your answers") }}</a></p>
          <p class="u-mb-s">{{ _("Your answers will only be available for <b>%(duration)s</b> to keep them secure.", duration=view_submission_duration) }}</p>
      {% else %}
        {% call onsPanel({
          "classes": "u-mb-s",
          "attributes": {
            "data-qa": "view-submission-expired"
          }
        }) %}
          <p>{{ _("You are no longer able to view and print your answers") }}.</p>
          <p>{{ _("The link expires to maintain the security of your information") }}.</p>
        {% endcall %}
      {% endif %}
    {% endif %}
  {% endblock %}

  <p class="u-mb-s">{{ _("For more information on how we use this data") }}.<br><a href="https://www.ons.gov.uk/surveys">https://www.ons.gov.uk/surveys</a></p>

{% endblock %}
