{%- macro label(response) %}
  {% set attr = {
    "class": "label",
    "for": response.id,
    "id": "label-" ~ response.id
  } %}
  <label {{attr|xmlattr}}>{{response.label}}</label>
{% endmacro -%}

{%- macro input(type, question, response) %}
  {% set special_types = {
    'currency': '£',
    'percentage': '%'
  } %}

  {% if type in special_types %}
    {% set input_type = 'text' %}
    {% set input_has_special_type = true %}
  {% else %}
    {% set input_type = type %}
    {% set input_has_special_type = false %}
  {% endif %}

  {% set attr = {
    "class": "input input--" ~ input_type,
    "type": input_type,
    "value": (response.value or "")|e,
    "name": response.id,
    "id": response.id,
    "placeholder": response.placeholder,
    "aria-describedby": "description-" ~ question.id ~ " guidance-" ~ response.id ~ "-trigger"
  } %}

  {% set input_element %}
    <input {{attr|xmlattr}}>
  {% endset %}

  {% if input_has_special_type %}
    <div class="input-type input-type--{{type}}" data-type="{{special_types[type]}}">
      {{input_element|safe}}
    </div>
  {% else %}
    {{input_element|safe}}
  {% endif %}

{% endmacro -%}

{% macro textarea(question, response) %}
  {% set maxChars = "2000" %}
  {% set response_helper = response.id ~ "-helper" %}
  {% set attr = {
    "class": "input input--textarea js-charlimit-input",
    "name": response.id,
    "id": response.id,
    "placeholder": response.placeholder,
    "rows": "8",
    "cols": "60",
    "data-maxlength": maxChars,
    "aria-describedby": response_helper
  } %}

  <textarea {{attr|xmlattr}}>{{(response.value or "")|e}}</textarea>

  {% if maxChars %}
    <div class="input__helper" id="{{response_helper}}">
      <span class="js-charlimit-label" data-remaining-msg="{{_('Characters remaining')}}">{{_('Maximum characters')}}</span>: <span class="js-charlimit-msg">{{maxChars}}</span>
    </div>
  {% endif %}
{% endmacro %}

{%- macro select(name, values, default_value, response) %}
  <select class="input input--select" name="{{response.id}}-{{name}}" id="{{response.id}}-{{name}}">
    {% for value in values -%}
      <option value="{{loop.index}}" {{'selected' if loop.index == default_value}}>{{value}}</option>
    {%- endfor -%}
  </select>
{% endmacro -%}

{%- macro errorTracking(id, errorMsg, errorValue) -%}
  {% set attr = {
    "data-error": "true",
    "data-error-id": id,
    "data-error-msg": errorMsg,
    "data-error-value": errorValue
  } %}
  {{attr|xmlattr}}
{%- endmacro -%}
