{% macro include_with(path, data, dataHandle='data') %}
  {% with dataHandle = data %}{% include path %}{% endwith %}
{% endmacro %}

{%- macro track(event, category, action, label) -%}
  {% set attr = {
    "data-ga": event,
    "data-ga-category": category,
    "data-ga-action": action,
    "data-ga-label": label,
  } %}
  {{attr|xmlattr}}
{%- endmacro -%}

{%- macro telephone_number(aria_describedby=None, class=None) -%}
  {% set attr = {
    "aria-describedby": aria_describedby,
    "class": class
  } %}
<a href="tel:03001234931" {{attr|xmlattr}}>0300 1234 931</a>
{%- endmacro -%}
