{% macro field(partial, data) %}
  {%- set markup %}
  <div class="field field--{{partial}}">
  {% with field = data %}{% include 'partials/question_fields/' ~ partial ~ '.html' %}{% endwith %}
  </div>
  {% endset -%}
  <div class="ptn-example">
  {{markup|safe}}
  </div>
  {{code(markup)}}
{% endmacro %}

{% macro question(data) %}
  <div class="ptn-example">
  {%- set markup %}
    {% with question = data %}{% include 'partials/question.html' %}{% endwith %}
  {% endset -%}
  </div>
  {{markup|safe}}
  {{code(markup)}}
{% endmacro %}

{% macro code(markup, toggleable=true) %}
  <div class="ptn-code {{'is-toggleable' if toggleable}}">
    {% if toggleable %}
      {% set id = "ptn-code-" ~ range(10000)|random() %}
      <input class="ptn-code-toggle" type="checkbox" id="{{id}}">
      <label class="ptn-code-toggle-label" for="{{id}}">View code</label>
    {% endif %}
    <div class="ptn-code-highlight">
{% filter markdown %}
```markup
{{markup|safe}}
```
{% endfilter %}
    </div>
  </div>
{% endmacro %}

{% macro grid(max) -%}
<div class="ptn-grid">
  <div class="grid">
    {% for i in range(1, (max + 1)) %}
      <div class="grid__col m-{{(12/max)|round|int}}">
        <div class="ptn-col">1 of {{max}}</div>
      </div>
    {% endfor %}
  </div>
</div>
{%- endmacro %}
