<div class="accordion js-accordion">
  {% for item in accordion_data %}
    <div class="accordion__item js-accordion-item">
      <button class="accordion__head js-accordion-trigger" tabindex="-1" aria-controls="{{item.id}}">
        <h3 class="accordion__title venus">{{item.title}}</h3>
      </button>
      <div class="accordion__body js-accordion-body" id="{{item.id}}">
        <div class="accordion__content mars">
          {{item.body}}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
