{% set content_block = answer_guidance.schema_item.content %}

<div class="collapsible collapsible--simple js-collapsible js-collapsible-simple u-mt-s">
    <div class="js-collapsible-content">
        <h3 class="collapsible__title js-collapsible-title icon--collapsible-simple u-fs-r--b" data-ga="click" data-ga-category="Answer guidance" data-ga-action="Open panel" data-ga-label="{{_(answer_guidance.schema_item.show_guidance)}}">{{_(answer_guidance.schema_item.show_guidance)}}</h3>
        <div class="collapsible__body js-collapsible-body">
            <div class="u-mt-s">
                {% include 'partials/content-block.html' %}
            </div>
            <button class="btn--secondary btn--small js-collapsible-close u-no-js-hide" data-ga="click" data-ga-category="Answer guidance" data-ga-action="Close panel" data-ga-label="{{_(answer_guidance.schema_item.show_guidance)}}">{{ _("Hide this") }}</button>
        </div>
    </div>
</div>
