{% import 'macros/helpers.html' as helpers %}

{% set guidance = {
  "data-show-label": _(answer_guidance.schema_item.show_guidance),
  "data-hide-label": _(answer_guidance.schema_item.hide_guidance)
} %}

{% set guidance_link = {
  "href": "#guidance-" ~ answer_guidance.id,
  "id": "guidance-" ~ answer_guidance.id ~ "-trigger",
  "aria-controls": "guidance-" ~ answer_guidance.id ~ "-body",
  "aria-expanded": 'false',
  "data-guidance-trigger": 'true'
} %}

{% set guidance_body = {
  "id": "guidance-" ~ answer_guidance.id ~ "-body",
  "aria-hidden": "true"
} %}

{% set content_block = answer_guidance.schema_item.content %}

<div class="guidance js-details" {{guidance|xmlattr}}>
  <a class="guidance__link js-details-trigger js-details-label mars"
    {{guidance_link|xmlattr}} {{helpers.track('click', 'Help', 'Guidance click', answer_guidance.id)}}>{{_(answer_guidance.schema_item.show_guidance)}}</a>
  <div class="guidance__main js-details-body" {{guidance_body|xmlattr}}>
    <div class="guidance__content mars">
      {% include 'partials/content-block.html' %}
    </div>
  </div>
</div>
