{% import 'macros/forms.html' as form %}

<div class="response response--{{answer.type|lower}}" id="{{answer.id}}">
  {{ answer.value }}<br />
  {{ answer.input }}<br />
  {{ answer.is_valid }}<br />
  {{ answer.errors }}<br />
  {{ answer.warnings }}<br />

  {% set invalid = answer.is_valid == False %}

  {%- set answer_guidance %}
    {% if answer.guidance %}
      {% include 'partials/guidance.html' %}
    {% endif %}
  {% endset -%}

  {%- set answer_fields %}
    {% if answer.display and answer.display.properties %}
      {% set use_grid = answer.display.properties.columns  %}
    {% endif %}
    {% include 'partials/answers/' ~ answer.type|lower ~ '.html' %}
  {% endset -%}

  {% if invalid %}
    {% with %}
      {% set alert_title %}
        {% if answer.errors %}
        <ul class="list list--bare">
          {% for error in answer.errors %}
          <li class="list__item" {{form.errorTracking(question.id, error)}}>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endset %}
      {% set alert_body = answer_fields %}
      {% include 'partials/alert.html' %}
      {{answer_guidance|safe}}
    {% endwith %}
  {% else %}
    {{answer_fields|safe}}
    {{answer_guidance|safe}}
  {% endif %}
</div>
