{% import 'macros/helpers.html' as helpers %}

{% set invalid = form.answer_errors(answer.id) | length > 0 %}

<div class="answer answer--{{answer.type|lower}} {{'js-has-errors' if invalid}} {{'answer--calculated' if answer.calculated}}" id="{{answer.id}}">

  {% if render_guidance != False %}

  {%- set answer_guidance %}
    {% if answer.guidance %}
      {% with answer_guidance = {
        'id': answer.id,
        'label': answer.label,
        'content': answer.guidance
      } %}
        {% include 'partials/answer-guidance.html' %}
      {% endwith %}
    {% endif %}
  {% endset -%}

  {% endif %}

  {%- set answer_fields %}
    <div class="answer__fields js-fields">
      {% if answer.display and answer.display.properties %}
        {% set use_grid = answer.display.properties.columns %}
      {% endif %}
      {% include 'partials/answers/' ~ answer.type|lower ~ '.html' %}
    </div>
  {% endset -%}

  {% if invalid %}
    {% set answer_id = answer.id %}
    {% include 'partials/errors.html' %}

    {{answer_guidance|safe}}

  {% else %}
    {{answer_fields|safe}}
    {{answer_guidance|safe}}
  {% endif %}
</div>
