{% set block = content.block %}

<div class="block" id="{{current_location.block_id}}">
  {% if block['title'] %}
    <p class="block__title u-fs-m" data-qa="block-title">{{block['title']}}</p>
  {% endif %}

  {% if block['description'] %}
    <div class="block__description u-fs-r" data-qa="block-description">{{block['description']}}</div>
  {% endif %}

  {% set list_summary %}
      {% if block.type == 'ListCollector' %}
        {% include theme('partials/summary/list-summary.html') %}
      {% endif %}
  {% endset %}

  {% if 'question' in block %}
      {% set question = block['question'] %}
      {% include theme('partials/question.html') %}
  {% endif %}
</div>
