{% set block = content.block %}

<div class="block" id="{{current_location.block_id}}">
  {% if block['number'] %}
    {% if block['title'] %}
      <p class="block__title neptune" data-qa="block-title">{{ _("Section") }} {{block['number']}}: {{block['title']}}</p>
    {% endif %}
  {% else %}
    {% if block['title'] %}
      <p class="block__title neptune" data-qa="block-title">{{block['title']}}</p>
    {% endif %}
  {% endif %}

  {% if block['description'] %}
    <div class="block__description mars" data-qa="block-description">{{block['description']}}</div>
  {% endif %}

  {% for question in block['questions'] %}
    {% if not question.skipped %}
      {% include theme('partials/question.html') %}
    {% endif %}
  {% endfor %}
</div>
