<div class="cookies-banner" role="region" aria-label="cookie banner">
  <div class="container cookies-banner__primary">
    <div class="grid">
      <div class="grid__col col-8@m">
        <h2 class="cookies-banner__title u-mb-xs">Tell us whether you accept cookies</h2>
        <p class="cookies-banner__desc">
            <b>Change the census.gov.uk bit</b>
          We use <a href="/cookies-settings">cookies to collect information</a> about how you use census.gov.uk. We use this information to make the website work as well as
          possible and improve our services.
        </p>
        <button type="submit" class="btn btn--small js-accept-cookies u-mb-xs@xs@s cookies-banner__btn">
          <span class="btn__inner"> Accept all cookies </span>
        </button>
        <a href="/cookies-settings" role="button" class="btn btn--small u-ml-no@xs@s cookies-banner__btn btn--link">
          <span class="btn__inner"> Set cookie preferences </span>
        </a>
      </div>
    </div>
  </div>
  <div class="container cookies-banner__confirmation u-d-no">
    <div class="grid grid--flex grid--between grid--gutterless grid--no-wrap@s grid--vertical-center">
      <div class="grid__col grid__col--flex col-auto u-flex-shrink@s">
        <p class="cookies-banner__desc u-mb-no@s u-mr-s@s">You’ve accepted all cookies. You can <a href="/cookies-settings">change your cookie preferences</a> at any time.</p>
      </div>
      <div class="grid__col">
        <button type="button" class="btn btn--secondary btn--small js-hide-button">
          <span class="btn__inner"> Hide </span>
          <span class="btn__context u-vh">this message</span>
        </button>
      </div>
    </div>
  </div>
</div>
