{% if field_error is mapping %}
    {% for subfield_error in form.errors[answer.id][field_error] %}
        <li class="list__item mars" {{helpers.errorTracking(question.id, field_error)}}>{{ subfield_error }}</li>
    {% endfor %}
{% elif field_error is iterable %}
    {% for subfield_error in field_error %}
        <li class="list__item mars" {{helpers.errorTracking(question.id, field_error)}}>{{ subfield_error }}</li>
    {% endfor %}
{% else %}
    <li class="list__item mars" {{helpers.errorTracking(question.id, field_error)}}>{{ field_error }}</li>
{% endif %}
