<form id="feedback-form" method="POST" class="feedback__form">
    {{ content.csrf_token }}
    <div class="group">
        <div class="feedback__field">
            <label id="feedback-message-label" class="label venus" for="feedback-message">{{ _("How can we improve this survey") }}?</label>
            <textarea class="input input--textarea js-charlimit-input js-feedback-message" name="message" id="feedback-message" rows="8" cols="60" maxlength="2000"></textarea>
            <div id="feedback-message-remaining" class="input__limit u-mt-xs mercury">{{ _("Characters remaining") }}: <span>-</span></div>
        </div>
        <div class="feedback__field">
            <label id="feedback-name-label" class="label venus" for="feedback-name">
                <div class="label__inner">
                    {{ _("Name (optional)") }}
                    <br />
                    <span class="label__description pluto">{{ _("Please include your name and email address if you’re interested in taking part in further research to improve this survey") }}</span>
                </div>
            </label>
            <input type="text" class="input js-feedback-name" name="name" id="feedback-name" value=""/>
        </div>
        <div class="feedback__field">
            <label id="feedback-email-label" class="label venus" for="feedback-email">{{ _("Email address (optional)") }}</label>
            <input type="text" class="input js-feedback-email" name="email" id="feedback-email" value=""/>
        </div>
    </div>
    <button class="btn u-mb-s js-feedback-submit" type="submit" name="action[send_feedback]" data-qa="btn-feedback-submit" data-ga="click" data-ga-category="Feedback" data-ga-action="Send">{{ _("Send feedback") }}</button>
</form>
