{% set olg_cdn = cdn_url_prefix~"/img/UKOpenGovernmentLicence-grey.svg" %}
<footer class="footer u-mt-no" role="contentinfo">
    <div class="container">
        <div class="grid">
            <div class="grid__col col-12@m">
                <ul class="list list--bare">
                    <li>
                        <a href="/contact-us" class="footer__link footer__link--inline" target="_blank">{{ _("Contact us") }}</a>
                    </li>
                    <li>
                        <a href="/cookies-settings" class="footer__link" target="_blank">{{ _("Cookie settings") }}</a>
                    </li>
                </ul>
            </div>
            <div class="grid__col col-12@m">
                <div class="footer__license footer__license--border">
                    <img alt="OGL" class="footer__ogl-img" src="{{ olg_cdn }}"> {{ _("All content is available under the %(class_open)sOpen Government Licence v3.0%(class_close)s, except where otherwise stated",
                    class_open='<a class="footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">',
                    class_close="</a>") }}
                </div>
            </div>
        </div>
    </div>
</footer>