<footer class="footer2 page__footer2">
    <div class="footer2-nav container" role="contentinfo">

        <div class="grid container">
            <div class>
                <div class="grid__col col-4@m">
                    <div class="footer2-nav__heading">
                        <p class="venus"><strong>Legal information</strong></p>
                    </div>
                    <ul class="list footer__list">
                        <li class="footer2-nav__item">
                            <a href="/cookies-privacy"
                               class="footer2__link" target="_blank">Cookies and privacy</a>
                        </li>
                    </ul>
                </div>

                <div class="grid__col col-4@m">
                    <div class="footer2-nav__heading">
                        <p class="venus"><strong>About ONS</strong></p>
                    </div>
                    <ul class="list footer__list">
                        <li class="footer2-nav__item">
                            <a href="https://www.ons.gov.uk/aboutus/whatwedo" target="_blank" class="footer2__link">What
                                we
                                do</a>
                        </li>
                        <li class="footer2-nav__item">
                            <a href="/contact-us" target="_blank"
                               class="footer2__link">Contact us</a>
                        </li>
                        <li class="footer2-nav__item">
                            <a href="https://www.ons.gov.uk/help/accessibility" target="_blank"
                               class="footer2__link">Accessibility</a>
                        </li>
                    </ul>
                </div>

                <div class="grid__col col-4@m">
                    <div class="footer2-nav__heading">
                        <p class="venus"><strong>Statistics</strong></p>
                    </div>
                    <ul class="list footer__list">
                        <li class="footer2-nav__item">
                            <a href="https://www.statisticsauthority.gov.uk/about-the-authority/" target="_blank"
                               class="footer2__link">UK Statistics Authority</a>
                        </li>
                        <li class="footer2-nav__item">
                            <a href="https://www.ons.gov.uk/releasecalendar" target="_blank" class="footer2__link">Release
                                calendar</a>
                        </li>
                        <li class="footer2-nav__item">
                            <a class="footer2__link" href="https://www.ons.gov.uk/news" target="_blank">News</a>
                        </li>
                    </ul>
                    </br>
                </div>
                <div class="dl__data mars"><img src="{{ url_for('static', filename='img/ogl.svg') }}" class="ogl__img"/>
                    All content is available under
                    the <a class="footer2__link"
                           href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                           target="_blank">Open
                        Government Licence v3.0</a>, except where otherwise stated

                </div>
            </div>
        </div>
    </div>
</footer>
