{% set olg_cdn = cdn_url_prefix~"/img/UKOpenGovernmentLicence-grey.svg" %}
<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="grid">
            <div class="grid__col col-4@m">
                <h4 class="venus footer__heading">{{ _("Legal information") }}</h4>
                <ul class="list list--bare">
                    <li>
                        <a href="/cookies-privacy" class="footer__link" target="_blank">{{ _("Cookies and privacy") }}</a>
                    </li>
                </ul>
            </div>
            <div class="grid__col col-4@m">
                <h4 class="venus footer__heading">{{ _("About ONS") }}</h4>
                <ul class="list list--bare">
                    <li>
                        <a href="https://www.ons.gov.uk/aboutus/whatwedo" class="footer__link" target="_blank">{{ _("What we do") }}</a>
                    </li>
                    <li>
                        <a href="/contact-us" class="footer__link" target="_blank">{{ _("Contact us") }}</a>
                    </li>
                    <li>
                        <a href="https://www.ons.gov.uk/help/accessibility" class="footer__link" target="_blank">{{ _("Accessibility") }}</a>
                    </li>
                </ul>
            </div>
            <div class="grid__col col-4@m">
                <h4 class="venus footer__heading">{{ _("Statistics") }}</h4>
                <ul class="list list--bare">
                    <li>
                        <a href="https://www.statisticsauthority.gov.uk/about-the-authority/" class="footer__link" target="_blank">{{ _("UK Statistics Authority") }}</a>
                    </li>
                    <li>
                        <a href="https://www.ons.gov.uk/releasecalendar" class="footer__link" target="_blank">{{ _("Release calendar") }}</a>
                    </li>
                    <li>
                        <a href="https://www.ons.gov.uk/news" class="footer__link" target="_blank">{{ _("News") }}</a>
                    </li>
                </ul>
            </div>
            <div class="grid__col col-12@m">
                <div class="footer__license footer__license--border">
                    <img alt="OGL" class="footer__ogl-img" src="{{ olg_cdn }}"> {{ _("All content is available under the %(class_open)sOpen Government Licence v3.0%(class_close)s, except where otherwise stated",
                    class_open='<a class="footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">',
                    class_close="</a>") }}
                </div>
            </div>
        </div>
    </div>
</footer>