{% set olg_cdn = cdn_url_prefix~"/img/ogl.svg" %}
<footer class="footer2 page__footer2 print__hidden">
    <div class="footer2-nav container" role="contentinfo">

        <div class="grid container">
            <div class>
                <div class="grid__col col-4@m">
                    <div class="footer2-nav__heading">
                        <p class="venus"><strong>{{ _("Legal information") }}</strong></p>
                    </div>
                    <ul class="list footer__list">
                        <li class="footer2-nav__item">
                            <a href="/cookies-privacy"
                               class="footer2__link" target="_blank">{{ _("Cookies and privacy") }}</a>
                        </li>
                    </ul>
                </div>

                <div class="grid__col col-4@m">
                    <div class="footer2-nav__heading">
                        <p class="venus"><strong>{{ _("About ONS") }}</strong></p>
                    </div>
                    <ul class="list footer__list">
                        <li class="footer2-nav__item">
                            <a href="https://www.ons.gov.uk/aboutus/whatwedo" target="_blank" class="footer2__link">{{ _("What we do") }}</a>
                        </li>
                        <li class="footer2-nav__item">
                            <a href="/contact-us" target="_blank"
                               class="footer2__link">{{ _("Contact us") }}</a>
                        </li>
                        <li class="footer2-nav__item">
                            <a href="https://www.ons.gov.uk/help/accessibility" target="_blank"
                               class="footer2__link">{{ _("Accessibility") }}</a>
                        </li>
                    </ul>
                </div>

                <div class="grid__col col-4@m">
                    <div class="footer2-nav__heading">
                        <p class="venus"><strong>{{ _("Statistics") }}</strong></p>
                    </div>
                    <ul class="list footer__list">
                        <li class="footer2-nav__item">
                            <a href="https://www.statisticsauthority.gov.uk/about-the-authority/" target="_blank"
                               class="footer2__link">{{ _("UK Statistics Authority") }}</a>
                        </li>
                        <li class="footer2-nav__item">
                            <a href="https://www.ons.gov.uk/releasecalendar" target="_blank" class="footer2__link">{{ _("Release calendar") }}</a>
                        </li>
                        <li class="footer2-nav__item">
                            <a class="footer2__link" href="https://www.ons.gov.uk/news" target="_blank">{{ _("News") }}</a>
                        </li>
                    </ul>
                    <br />
                </div>
                <div class="dl__data mars"><img src="{{ olg_cdn }}" class="ogl__img" alt="Open Government License logo"/>
                    All content is available under
                    the <a class="footer2__link"
                           href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                           target="_blank">Open
                        Government Licence v3.0</a>, except where otherwise stated
                </div>
            </div>
        </div>
    </div>
</footer>
