<div class="guidance js-details" data-show-label="{{_('Show further guidance')}}" data-hide-label="{{_('Hide further guidance')}}">
  <a class="guidance__link js-details-trigger" href="#guidance-{{response.id}}" id="guidance-{{response.id}}-link" aria-controls="guidance-{{response.id}}-main" aria-expanded="false"><span class="u-vh">Click here to </span><span class="js-details-label">Show further guidance</span>
  </a>
  <div class="guidance__main js-details-main" id="guidance-{{response.id}}-main" tabIndex="0" aria-hidden="true">
    <div class="guidance__content">
      {{response.guidance|safe}}
    </div>
  </div>
</div>
