<div class="guidance js-details" data-show-label="{{_('Show further guidance')}}" data-hide-label="{{_('Hide further guidance')}}" data-guidance="{{answer.schema_item.id}}" data-guidance-label="{{answer.schema_item.label}}"">
  <a class="guidance__link js-details-trigger" href="#guidance-{{answer.schema_item.id}}" id="guidance-{{answer.schema_item.id}}-trigger" aria-controls="guidance-{{answer.schema_item.id}}-body" aria-expanded="false" data-guidance-trigger><span class="u-vh">Click here to </span><span class="js-details-label">Show further guidance</span></a>
  <div class="guidance__main js-details-body" id="guidance-{{answer.schema_item.id}}-body" aria-hidden="true">
    <div class="guidance__content">
      {{answer.schema_item.guidance|safe}}
    </div>
  </div>
</div>
