<div class="container">
  <div class="header">
    <div class="logo header__logo">
      {% block logo %}
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Office for National Statistics" class="logo__img" />
      {% endblock logo %}
    </div>
    <div class="info header__info" role="contentinfo">
      <h3 class="info__title venus" id="survey-help">Survey Help</h3>
      <div class="info__tel">
        <a class="info__link" href="tel:03001234931" aria-describedby="survey-help">0300 1234 931</a>
      </div>
      {% if meta %}
      <dl class="info__list">
        <dt class="info__dt first"><abbr title="Survey identification code">ID:</abbr></dt>
        <dd class="info__dd">{{ meta.survey.survey_code or 'N/A'}}</dd>
        <dt class="info__dt">Period:</dt>
        <dd class="info__dd">{{ meta.survey.period_str or 'N/A'}}</dd>
        <dt class="info__dt"><abbr title="Reference number">Ref:</abbr></dt>
        <dd class="info__dd last">{{ meta.respondent.respondent_id or 'N/A'}}</dd>
      </dl>
      {% endif %}
    </div>
  </div>
</div>
