<header class="header u-mb-xs">
    <div class="header__top" role="banner">
        <div class="container">
            <div class="grid grid--gutterless">
                <div class="grid__col col-6@s">
                {% block logo %}
                {% set logo_cdn_print = cdn_url_prefix~"/img/ons-logo-black-en.svg" %}
                {% set logo_cdn_web = cdn_url_prefix~"/img/ons-logo-pos.svg" %}
                    <div class="logo">
                        <img src="{{ logo_cdn_print }}" alt="Office for National Statistics logo" class="logo__img header__logo--print">
                        <img src="{{ logo_cdn_web }}" alt="Office for National Statistics logo" class="logo__img header__logo print__hidden">
                    </div>
                {% endblock logo %}
                </div>
                {% if account_service_url %}
                    {% include 'partials/services-navigation.html' %}
                {% endif %}
            </div>
        </div>
    </div>  
    <div class="header__main">
        <div class="container">
            <div class="grid grid--gutterless grid--align-mid u-cf">
                <div class="grid__col {{ 'col-10@xs col-8@s' if account_service_url }}">
                    <h1 class="header__title ">{{ survey_title }}</h1>
                </div>
                {% if account_service_url %}
                    {% include 'partials/mobile-navigation-button.html' %}                
                {% endif %}
            </div>
        </div>
    </div>
    {% if account_service_url %}
        {% include 'partials/main-navigation.html' %}
    {% endif %}
</header>
