{% if account_service_url or account_service_log_out_url or save_on_signout %}
<div class="header__nav">
    <div class="container">
        <nav class="nav nav--horizontal nav--light nav--main nav--h-m js-main-nav" aria-label="Main menu" id="main-nav">
            <ul class="nav__list" aria-label="Navigation menu" role="menubar">
                {% if account_service_url %}
                    <li class="nav__item u-d-no--@s" role="menuitem"><a href="{{account_service_url}}" id="my-account" class="nav__link print__hidden">{{ _("My account") }}</a></li>
                {% endif %}
                {% include 'partials/sign-out-button-navigation.html' %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}
