{% import 'macros/helpers.html' as helpers %}
<nav class="nav nav--sections nav--vertical js-nav page__nav" id="section-nav">
  <p class="nav__title venus">{{_('Sections')}}</p>
  <ul class="nav__list js-nav-list">
  {% for nav_item in navigation %}
    <li class="nav__item  pluto {{ 'nav__item--completed' if nav_item.completed }} {{ 'nav__item--current' if nav_item.highlight }}">
      {% if nav_item.current_location %}
        <div>{{nav_item.link_name}}</div>
      {% else %}
        <a class="nav__link" href="{{nav_item.link_url}}"
          {{helpers.track('click', 'Navigation', 'Section link click', nav_item.link_url)}}>{{nav_item.link_name}}</a>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
