{% import 'macros/helpers.html' as helpers %}

{% set form = content.form %}
{% set invalid = form.question_errors[question.id] | length > 0 if form else False %}

{% set question_number = question.number %}
{% set question_title = get_question_title(question.id) %}
{% set question_subtitle = question.subtitle %}
{% set question_guidance = "" %}
{% set question_definition = "" %}

{% set question_titles %}
  {%- if question_title -%}
    <h1 class="question__title saturn" data-qa="question-title">
      {%- if question_number -%}
        <span class="question__number">{{question_number}}. </span>
      {% endif %}
      {{question_title}}
    </h1>

  {%- endif %}
  {%- if question_subtitle -%}
    <h3 class="question__subtitle mars">{{question_subtitle}}</h3>
  {%- endif -%}
{% endset %}

{% set question_description %}
  {%- if question.description -%}
    <div class="question__description mars" id="description-{{question.id}}">
      {{question.description}}
    </div>
  {% endif %}
{% endset %}

{%- set question_definition -%}
  {%- if question.definitions -%}
    {%- include 'partials/question-definition.html' -%}
  {%- endif -%}
{%- endset -%}

{% set question_guidance %}
  {%- if question.guidance -%}
    {% set content_block = question.guidance.content %}
    <aside class="question__guidance">
      <div class="panel panel--simple panel--info" id="question-guidance-{{question.id}}">
        {% include 'partials/content-block.html' %}
      </div>
    </aside>
  {% endif %}
{% endset %}

{% include theme('partials/questions/'~question.type|lower~'.html') %}
