<div class="question {% if question.error %}question--has-errors{% endif %}" id="question-{{question.id}}">
  {%- if question.error %}
    <div class="question__error">
      Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
    </div>
  {% endif %}
  <fieldset class="question__fieldset">
    <legend class="question__legend">
      <div class="question__title">{{question.title}}</div>
      {%- if question.subtitle -%}
        <div class="question__subtitle">{{question.subtitle}}</div>
      {%- endif %}
    </legend>
    {%- if question.description %}
      <div class="question__description">
        {{question.description}}
      </div>
    {% endif %}
    <div class="question__responses">
    {%- if question.grid %} <div class="grid grid--align-bottom"> {% endif -%}
      {%- for field in question.fields -%}
        {%- if question.grid -%} <div class="grid__col m-6"> {%- endif %}
      <div class="question__response field field--{{field.type}}">
        {% include '/partials/question_fields/' ~ field.type ~ '.html' %}
      </div>
        {%- if question.grid %} </div> {% endif -%}
      {%- endfor -%}
    {%- if question.grid %}</div>{% endif %}
    </div>
  </fieldset>
</div>
