
{% for definition in question.definitions %}
{% set content_block = definition.content %}
<div class="collapsible collapsible--simple js-collapsible js-collapsible-simple u-mt-s u-mb-s">
  <div class="js-collapsible-content">
      <h3 class="collapsible__title js-collapsible-title icon--collapsible-simple u-fs-r--b" data-definition-title-index="{{loop.index}}" data-ga="click" data-ga-category="Question definition" data-ga-action="Open panel" data-ga-label="{{ definition.title }}">{{ definition.title }}</h3>
      <div class="collapsible__body js-collapsible-body" data-definition-content-index="{{loop.index}}">
          {% include 'partials/content-block.html' %}
          <button class="btn--secondary btn--small js-collapsible-close u-no-js-hide" data-definition-hide-button-index="{{loop.index}}" data-ga="click" data-ga-category="Question definition" data-ga-action="Close panel" data-ga-label="{{ definition.title }}">{{ _("Hide this") }}</button>
      </div>
  </div>
</div>
{% endfor %}
