{% import 'macros/helpers.html' as helpers %}

{% set invalid = question.is_valid == False %}

{% set question_title = question.schema_item.title %}
{% set question_subtitle = question.schema_item.subtitle %}

{% set question_titles %}
  {%- if question_title -%}
    <h2 class="question__title neptune">{{question_title}}</h2>
  {%- endif %}
  {%- if question_subtitle -%}
    <br />
    <h3 class="question__subtitle mars">{{question_subtitle}}</h3>
  {%- endif %}
{% endset %}

{% set question_description %}
  {%- if question.schema_item.description %}
    <div class="question__description mars" id="description-{{question.id}}">
      {{question.schema_item.description|safe}}
    </div>
  {% endif %}
{% endset %}


{% include theme('partials/questions/'~question.schema_item.type|lower~'.html') %}
