<div class="response response--{{response.type|lower}}" id="{{response.id}}">
  {% set invalid = response.is_valid == False %}

  {%- set response_guidance %}
    {% if response.guidance %}
      {% include 'partials/guidance.html' %}
    {% endif %}
  {% endset -%}

  {%- set response_fields %}
    {% include 'partials/responses/' ~ response.type|lower ~ '.html' %}
  {% endset -%}

  {% if invalid %}
    {% with %}
      {% set alert_title %}
        {% if response.errors %}
        <ul class="list list--bare">
          {% for error in response.errors %}
          <li class="list__item">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endset %}
      {% set alert_body = response_fields %}
      {% include 'partials/alert.html' %}
      {{response_guidance|safe}}
    {% endwith %}
  {% else %}
    {{response_fields|safe}}
    {{response_guidance|safe}}
  {% endif %}
</div>
