
{% set is_valid = response.is_valid or response.is_valid is not defined %}

<div class="question__response response {{'response--has-error' if not is_valid}}" id="response-{{response.id}}">

  {% if not is_valid %}
    {% if response.errors %}
    <ul class="response__errors">
      {% for error in response.errors %}
      <li class='response__error'>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endif %}

  <div class="response__field field field--{{response.type|lower}}">
    {% include 'partials/responses/' ~ response.type|lower ~ '.html' %}
  </div>

  {% if response.guidance %}
    {% include 'partials/guidance.html' %}
  {% endif %}

</div>
