<section class="section" id="{{section.id}}">

  {% if section['number'] %}
    {% if section['title'] %}
      <p class="section__title neptune" data-qa="section-title">Section {{section['number']}}: {{section['title']}}</p>
    {% endif %}
  {% else %}
    {% if section['title'] %}
      <p class="section__title neptune" data-qa="section-title">{{section['title']}}</p>
    {% endif %}
  {% endif %}

  {% if section['description'] %}
    <div class="section__description mars" data-qa="section-description">{{section['description']}}</div>
  {% endif %}

  {% for question in section['questions'] %}
    {% if not question.skipped %}
      {% include theme('partials/question.html') %}
    {% endif %}
  {% endfor %}
</section>
