{% import 'macros/helpers.html' as helpers %}
<nav class="nav nav--sections nav--vertical js-nav page__nav" id="section-nav" aria-labelledby="menu-btn" role="menu">
  <p class="nav__title venus">{{_('Sections')}}</p>
  <ul class="nav__list js-nav-list">
  {% for nav_item in navigation %}
    <li class="nav__item  pluto {{ 'nav__item--completed' if nav_item.completed }} {{ 'nav__item--current' if nav_item.highlight }}">
        <a class="nav__link"  {% if nav_item.highlight %}aria-label="{{nav_item.link_name}}. This is the current page"{% endif %} role="menuitem" href="{{nav_item.link_url}}" data-qa="{{ 'complete' if nav_item.completed else 'incomplete' }}"
          {{helpers.track('click', 'Navigation', 'Section link click', nav_item.link_url)}}>{{nav_item.link_name}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
