<section class="section" id="{{section.id}}">
  {% if section['title'] %}
    <h1 class="section__title saturn">
      {%- if section['number'] -%}
          <span class="section__number venus">{{section['number']}}</span>
      {% endif %}
      {{section['title']}}</h1>
  {% endif %}
  {% if section['description'] %}
    <div class="section__description mars">{{section['description']|safe}}</div>
  {% endif %}

  {% for question in section['questions'] %}
    {% if not question.skipped %}
      {% include theme('partials/question.html') %}
    {% endif %}
  {% endfor %}
</section>
