{% import 'macros/helpers.html' as helpers %}

{% if current_user.is_authenticated %}

  {% if account_service_log_out_url %}
    {% if save_on_signout %}
    <li class="nav__item u-d-no--@s" role="menuitem">{{ helpers.save_signout_button(_("Save and sign out")) }}</li>
    {% else %}
    <li class="nav__item u-d-no--@s" role="menuitem">{{ helpers.signout_button(_("Sign out")) }}</li>
    {% endif %}
  {% else %}
    {% if save_on_signout %}
    <li class="nav__item u-d-no--@s" role="menuitem">{{ helpers.save_signout_button(_("Save and complete later")) }}</li>
    {% endif %}
  {% endif %}

{% endif %}
