{% import 'macros/helpers.html' as helpers %}

{% if current_user.is_authenticated %}

  {% if account_service_log_out_url %}
    {% if save_on_signout %}
    <div class="u-fr u-d-no--@xs@s">{{ helpers.save_signout_button(_("Save and sign out")) }}</div>
    {% else %}
    <div class="u-fr u-d-no--@xs@s">{{ helpers.signout_button(_("Sign out")) }}</div>
    {% endif %}
  {% else %}
    {% if save_on_signout %}
    <div class="u-fr u-d-no--@xs@s">{{ helpers.save_signout_button(_("Save and complete later")) }})</div>
    {% endif %}
  {% endif %}

{% endif %}
