{% set width = 40 %}
{% import 'macros/helpers.html' as helpers %}

<div class="dialog js-dialog" id="dialog" aria-hidden="true" {{helpers.track('visible', 'Timeout', 'Timeout window visible')}}>

  <div class="dialog__overlay" tabindex="-1"></div>

  <div class="dialog__body" role="dialog" aria-labelledby="dialog-title">
    <div role="document">

      <div class="mars u-mb-s">{{survey_title}}</div>
      <h1 class="saturn dialog__title" id="dialog-title" tabindex="0">Your session is about to expire</h1>

      <div class="time js-timeout">

        <svg class="time__visual" width="{{width * 2}}px" height="{{width * 2}}px" viewBox="0 0 {{width * 2}} {{width * 2}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <circle cx="{{width}}" cy="{{width}}" r="{{width}}" stroke="#D3D3D3" stroke-width="6" fill="none"></circle>
          <circle class="time__circle js-timeout-circle" cx="{{width}}" cy="{{width}}" r="{{width}}" transform="rotate(-90 {{width}} {{width}})" fill="none" stroke="red" stroke-width="6" stroke-linecap="round"></circle>
        </svg>

        <div class="time__text venus js-timeout-time">0:00</div>

      </div>

      <form class="" action="/" method="post">
        <button class="btn btn--primary btn--loader js-timeout-continue" type="button" data-loading-msg="Continuing&hellip;">Continue survey</button>
        <br/>
        <button class="btn btn--secondary btn--border js-timeout-save" type="submit">Save and sign out</button>
      </form>
    </div>
  </div>
</div>
