<div class="bar {{'bar--hero' if is_hero}}" role="banner">
  <div class="bar__inner container">
    <div class="badge badge--amber u-mr-xs">BETA</div>
    {% if is_hero %}
      <h1 class="bar__title jupiter">{{ survey_title }}</h1>
      {% if legal_basis == 'StatisticsOfTradeAct' %}
        <h2 class="venus">Notice is given under section 1 of the Statistics of Trade Act 1947</h2>
      {% endif %}
    {% else %}
      <div class="bar__title venus">{{ survey_title }}</div>
    {% endif %}
  </div>
</div>
