<div class="bar" role="banner">
    <div class="bar__inner container">
        <div class="bar__title venus">{{ survey_title }}
            <span class="mars">
            {% if meta and metadata.ru_name %}
                for&nbsp;<span>{{ metadata.ru_name }}</span>
            {% endif %}
            {% if content and content.variables and content.variables.period %}
                <p class="u-mb-no pluto">{{ _("Period") }}:
                    <span>{{ content.variables.period }}</span>
                </p>
            {% endif %}
            </span>
        </div>
    </div>
</div>
