$sizes: (
  xxs: 0.7rem,
  xs: 0.8rem,
  s: 0.9rem,
  m: 1rem,
  l: 1.5rem
);

@each $key, $value in $sizes {
  @include bp-suffix(u-fs-#{$key}) {
    font-size: #{$value};
  }
}

.u-fw-b {
  font-weight: 700;
}

.u-fw-n {
  font-weight: normal;
}

.u-fs-i {
  font-style: italic;
}

.u-tt-u {
  text-transform: uppercase;
}

.u-lighter {
  color: $color-text-light;
}
