{% from "components/input/_macro.njk" import onsInput %}

{% set input = form.fields[answer['id']] %}

{{ onsInput({
  "id": answer.id,
  "type": "number",
  "name": answer.id,
  "value": input._value() | e,
  "label": {
    "text": answer.label,
    "description": answer.description
  },
  "prefix": {
    "title": answer.currency,
    "text": get_currency_symbol(answer.currency)
  },
  "attributes": {
    "data-qa": "input-text"
  },
  "legend": question_title,
  "legendClasses": "u-vh",
  "mutuallyExclusive": mutuallyExclusive,
  "error": error
}) }}
