{%- from "components/date-input/_macro.njk" import onsDateInput -%}

{%- set day_field = form.fields[answer['id']]['day'] -%}
{%- set month_field = form.fields[answer['id']]['month'] -%}
{%- set year_field = form.fields[answer['id']]['year'] -%}

{%- set fields = 0 -%}

{%- if day_field -%}
  {%- set fields = fields + 1 -%}
{%- endif -%}

{%- if month_field -%}
  {%- set fields = fields + 1 -%}
{%- endif -%}

{%- if year_field -%}
  {%- set fields = fields + 1 -%}
{%- endif -%}

{%- set config = {
  "id": answer['id'],
  "description": answer.description,
  "attributes": {
    "data-qa": "widget-date"
  },
  "mutuallyExclusive": mutuallyExclusive
} -%}

{%- if answer_requires_legend and answer.label and question.type == "DateRange" -%}
  {%- set config = config | setAttributes({
    "legend": answer.label,
    "dontVisuallyHideLegend": true
  }) -%}
{%- elif fields > 1 -%}
  {%- set config = config | setAttribute("legend", question_title) -%}
{%- endif -%}

{%- if day_field -%}
  {%- set config = config | setAttributes({
    "day": {
      "label": {
        "text": _("Day"),
        "attributes": {
          "data-qa": "label-day"
        }
      },
      "name": day_field.name,
      "value": day_field._value()
    }
  }) -%}
{%- endif -%}

{%- if month_field -%}
  {%- set config = config | setAttributes({
    "month": {
      "label": {
        "text": _("Month"),
        "attributes": {
          "data-qa": "label-month"
        }
      },
      "name": month_field.name,
      "value": month_field._value()
    }
  }) -%}
{%- endif -%}

{%- if year_field -%}
  {%- set config = config | setAttributes({
    "year": {
      "label": {
        "text": _("Year"),
        "attributes": {
          "data-qa": "label-year"
        }
      },
      "name": year_field.name,
      "value": year_field._value()
    }
  }) -%}
{%- endif -%}

{{ onsDateInput(config) }}
