{% from "components/duration/_macro.njk" import onsDuration %}

{% set config = {
  "legend": question_title,
  "legendClasses": "u-vh",
  "label": answer.label,
  "mutuallyExclusive": mutuallyExclusive,
  "error": error
} %}

{% set years = form.fields[answer.id].years %}
{% set months = form.fields[answer.id].months %}

{% if years %}
  {% set config = config | setAttribute("field1", {
    "id": years.id,
    "name": years.name,
    "value": years.data if years.data is not none else '',
    "label": _(years.label.text)
  }) %}
{% endif %}

{% if months %}
  {% set config = config | setAttribute("field2", {
    "id": months.id,
    "name": months.name,
    "value": months.data if months.data is not none else '',
    "label": _(months.label.text)
  }) %}
{% endif %}

{{ onsDuration(config) }}
