{% from "components/field/_macro.njk" import onsField %}
{% from "components/input/_macro.njk" import onsInput %}

{% call onsField({
  "mutuallyExclusive": mutuallyExclusive
}) %}
  {% if answer.label %}
    <p class="u-fs-r--b u-mb-xs">{{ answer.label }}</p>
  {% endif %}
  <div class="field__group">
    {% if form.fields[answer.id].years %}
      {% set input = form.fields[answer.id].years %}
      <div class="field__item">
        {{ onsInput({
          "id": input.id,
          "classes": "input--w-2" + (" js-exclusive-group" if mutuallyExclusive else ""),
          "name": input.name,
          "value": input.data if input.data is not none else '',
          "suffix": {
            "title": _(input.label.text),
            "text": format_unit_input_label('duration-year', unit_length='long') | capitalize
          }
        }) }}
      </div>
    {% endif %}

    {% if form.fields[answer.id].months %}
      {% set input = form.fields[answer.id].months %}
      <div class="field__item">
        {{ onsInput({
          "id": input.id,
          "classes": "input--w-2" + (" js-exclusive-group" if mutuallyExclusive else ""),
          "name": input.name,
          "value": input.data if input.data is not none else '',
          "suffix": {
            "title": _(input.label.text),
            "text": format_unit_input_label('duration-month', unit_length='long') | capitalize
          }
        }) }}
      </div>
    {% endif %}
  </div>
{% endcall %}
