{% import 'macros/patterns.html' as patterns %}

<form action="" class="form">

  <div class="ptn-section">
    <h2>Text and input fields</h2>
    {{patterns.response('textfield', data.forms.text)}}
    <h3>Typed input fields</h3>
    <p>Typed input fields have an associated icon to visually indicate the expected "type" of input, eg. currency. </p>
    {{patterns.response('currency', data.forms.currency)}}
    <h3>Textareas</h3>
    <p>A textarea allows for longer-form text content such as "comments" field.</p>
    {{patterns.response('textarea', data.forms.textarea)}}
  </div>

  <div class="ptn-section">
    <h2>Radios &amp; Checkboxes</h2>
    <h3>Radios</h3>
    {{patterns.response('radio', data.forms.radios)}}
    <h3>Checkboxes</h3>
    {{patterns.response('checkboxes', data.forms.checkboxes)}}
  </div>

  <div class="ptn-section">
    <h2>Dates</h2>
    {{patterns.response('date', data.forms.date)}}
  </div>

  <div class="ptn-section">
    <h2>Buttons</h2>
    {% set buttons %}
    <button class="btn btn--neutral" type="button" name="button">Save &amp; Exit</button>
    <button class="btn" type="button" name="button">Save &amp; Continue</button>
    {% endset %}
    <div class="ptn-example">
      {{buttons|safe}}
    </div>
    {{patterns.code(buttons)}}
  </div>

</form>
