{% import 'macros/forms.html' as form %}

{% set invalid = question.is_valid == False %}

{% set question_titles %}
  {%- if question.title -%}
    <div class="question__title saturn">{{question.title}}</div>
  {%- endif %}
  {%- if question.subtitle -%}
    <div class="question__subtitle">{{question.subtitle}}</div>
  {%- endif %}
{% endset %}

{% set question_description %}
  {%- if question.description%}
    <div class="question__description" id="description-{{question.id}}">
      {{question.description|safe}}
    </div>
  {% endif %}
{% endset %}

{% set question_answers %}
  <div class="question__answers">
    {%- for answer in question.answers -%}
      {% include 'partials/answer.html' %}
    {%- endfor -%}
  </div>
{% endset %}

<div class="question question--{{question.type|lower}}" id="{{question.id}}">

  {% set question_markup %}

    {% if question.answers|length > 1 %}

      <fieldset class="question__fieldset">

        <legend class="question__legend">
          {{question_titles|safe}}
        </legend>

        {{question_description|safe}}
        {{question_answers|safe}}

      </fieldset>

    {% else %}

      {{question_titles|safe}}
      {{question_description|safe}}
      {{question_answers|safe}}

    {% endif %}

  {% endset %}

  {% if invalid %}

    {% with %}
      {% set alert_title %}
        {% if question.errors %}
        <ul class="list list--bare">
          {% for error in question.errors %}
            <li class="list__item" {{form.errorTracking(question.id, error)}}>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endset %}

      {% set alert_body = question_markup %}

      {% include 'partials/alert.html' %}

    {% endwith %}

  {% else %}

    {{question_markup|safe}}

  {% endif %}

</div>
