
{% with name="day" %}
<div class="field field--{{name}}">
  <label class="label label--small" for="{{response.id}}-{{name}}">{{_('Day')}}</label>
  {{form.select(name, (range(1, 32)), response)}}
</div>
{% endwith %}

{% with name="month" %}
<div class="field field--{{name}}">
  {% set months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}
  <label class="label label--small" for="{{response.id}}-{{name}}">{{_('Month')}}</label>
  {{form.select(name, months, response)}}
</div>
{% endwith %}

<div class="field field--year">
  <label class="label label--small" for="{{response.name}}-year">{{_('Year')}}</label>
  <input class="input input--number" type="number" name="{{response.id}}-year" value="" placeholder="YYYY">
</div>

{% if response.is_valid is not none and response.is_valid == False %}
<ul>
  {% for error in response.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
