<div class="field field--multi field--{{response.type|lower}} {{'field--cols' if use_grid}}">
  {% for option in response.options %}
    {% set option_id = response.id ~ "-" ~ loop.index %}
    <div class="field__item">
      <input class="input input--{{response.type|lower}}" type="{{response.type|lower}}" name="{{response.id}}" id="{{option_id}}" value="{{option.value}}" title="{{option.label}}">
      <label class="label label--inline" for="{{option_id}}"><span class="label__inner">{{option.label}}</span></label>
    </div>
  {% endfor %}
  <input type="hidden" name="{{response.name}}" value="">
</div>
