{% block styles %}
  <link href="{{ url_for('static', filename='css/patterns.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}

  <header class="ptn-header">
    <div class="container">
      <a href="/patterns/"><h1 class="ptn-title"></h1></a>
    </div>
  </header>

  <div class="container">
    <div class="grid">
      <div class="grid__col m-2">
        <div class="ptn-sidebar">
          <nav class="ptn-nav">
            <ul class="ptn-nav-list">
              {% for section in sections %}
                <li class="ptn-nav-item">
                  <a href="/patterns/{{section.title}}" class="ptn-nav-link">{{section.title|replace('-', ' ')|capitalize}}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
      <div class="grid__col m-10">
        {% include pattern_include %}
      </div>
    </div>
  </div>
{% endblock %}
