{% extends 'layouts/_base.html' %}

{% import 'patterns/macros.html' as m %}

{% block content %}

  <div class="ptn">

    <div class="ptn-header" id="ptn-header">
      <div class="container">
        <a href="/patterns/"><h1 class="ptn-title">eQ Patterns</h1></a>
      </div>
    </div>

    <div class="container">
      <div class="grid">
        <div class="grid__col m-3">
          <div class="ptn-sidebar">
            <div class="ptn-nav" id="ptn-nav">
              <ul class="ptn-nav-list">
                {% for section in sections %}
                  <li class="ptn-nav-item {{ 'is-active' if section.current }}">
                    <a href="/patterns/{{section.url}}/" class="ptn-nav-link">{{section.title|title}}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="grid__col m-9">
          <div class="ptn-main">
            <h1 class="ptn-main-title">{{title|replace('-', ' ')|title}}</h1>
            {% include pattern_include %}
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/vendor/prism.js') }}"></script>
  <script src="{{ url_for('static', filename='js/patterns.js') }}"></script>
  {{super()}}
{% endblock %}
