{% extends 'layouts/_base.html' %}

{% block content %}

  <div class="ptn-header">
    <div class="container">
      <a href="/patterns/"><h1 class="ptn-title"></h1></a>
    </div>
  </div>

  <div class="container">
    <div class="grid">
      <div class="grid__col m-3">
        <div class="ptn-sidebar">
          <div class="ptn-nav">
            <ul class="ptn-nav-list">
              {% for section in sections %}
                <li class="ptn-nav-item {{ 'is-active' if section.current }}">
                  <a href="/patterns/{{section.title}}" class="ptn-nav-link">{{section.title|replace('-', ' ')|title}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="grid__col m-9">
        <div class="ptn-section">
          <h1 class="ptn-section-title">{{title|replace('-', ' ')|title}}</h1>
          {% include pattern_include %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.js" charset="utf-8"></script>
  {{super()}}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css" charset="utf-8">
  {{super()}}
{% endblock %}
