{% extends 'layouts/_base.html' %}

{% import 'macros/patterns.html' as patterns %}

{% block content %}

  <div class="ptn">

    <div class="ptn-header" id="ptn-header">
      <div class="container">
        <a href="/pattern-library/"><h1 class="ptn-title">eQ Patterns</h1></a>
      </div>
    </div>

    <div class="container">
      <div class="grid">
        <div class="grid__col m-3">
          <div class="ptn-sidebar">
            <div class="ptn-nav" id="ptn-nav">
              {% for key, section in sections.items() %}
              <div class="ptn-nav-title">{{section.title}}</div>
              <ul class="ptn-nav-list">
              {% for subsection in section.sections %}
                <li class="ptn-nav-item {{ 'is-active' if subsection.current }}">
                  <a href="{{subsection.url}}" class="ptn-nav-link">{{subsection.title|title}}</a>
                </li>
              {% endfor %}
              </ul>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="grid__col m-9">
          <div class="ptn-main">
            <h1 class="ptn-main-title">{{title|replace('-', ' ')|title}}</h1>
            {% include pattern_include %}
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/vendor/prism.js') }}"></script>
  <script src="{{ url_for('static', filename='js/patterns.js') }}"></script>
  {{super()}}
{% endblock %}
