{% extends theme('layouts/_questionnaire.html') %}

{% set save_on_signout = true %}

{% block page_title %}{{_("Submit answers")}} - {{survey_title}}{% endblock %}

{% block submit_button %}

{% if content.summary and content.summary.summary_type in ('SectionSummary', 'AnswerSummary') %}
    <button type="submit" class="btn btn--loader u-mb-s js-btn-submit" data-qa="btn-submit">{{ _("Continue") }}</button>
{% elif content.summary and content.summary.summary_type == 'CalculatedSummary' %}
    <button type="submit" class="btn btn--loader u-mb-s js-btn-submit" data-qa="btn-submit">{{ _("Yes, I confirm these are correct") }}</button>
{% else  %}
  {% if block and block.content %}
    {% set content_block = content.block.content %}
    {% include 'partials/content-block.html' %}
  {% endif %}
    <button type="submit" class="btn btn--loader u-mb-s js-btn-submit" data-qa="btn-submit" data-loading-msg='{{ _("Submitting") }}&hellip;'>{{ _("Submit answers") }}</button>
{% endif %}
{% endblock %}
