{% extends 'layouts/_survey.html' %}
{% import 'macros/helpers.html' as h %}

{% block survey %}

  <article class="cover">
    <header class="cover__info">

      <div class="grid grid--align-mid">

        <div class="grid__col s-5">
          <div class="cover__address">
            <b>To be completed by</b>
            {% include 'partials/address.html' %}
            <a href="">Details correct?</a>
          </div>
        </div>

        <div class="grid__col s-7">
          <div class="cover__notice">
            <p>Please complete by the 25th November 2015</p>
            <p><b>Your response is legally required</b></p>
          </div>
        </div>

      </div>
    </header>

    <section class="cover__main">

      <header class="cover__header">
        <h2 class="cover__title">Monthly Business Survey</h2>
        <h3 class="cover__subtitle">Notice is given under section 1 of the Statistics of Trade Act 1947</h3>
      </header>

      <div class="cover__copy">
        <p>Dear Sir or Madam,</p>
        <p>Please find below the July 2015 questionnaire for the welcome to my survey about crayons. Your data should cover the period 3 July 2015. If actual figures are not available, please provide informed estimates.</p>
        <p>The information supplied is used to produce a comprehensive and reliable measure of job vacancies across the economy. Results are published in the monthly Labour Market Statistical Bulletin and used by the Treasury and the Bank of England as a valuable
          indicator of labour demand.</p>
        <p>We guarantee that while your employment is less than 10, you will receive no more than 15 monthly questionnaires for this one ONS business survey. You must complete and return all questionnaires on time, after which you will be excluded from all
          business surveys for at least 3 years. The Annual Survey of Hours and Earnings is not covered by this guarantee.</p>
        <p>You are required by law to complete this questionnaire. If you do not complete and return this questionnaire by 1 O July 2015, penalties may be incurred (under section 4 of the Statistics of Trade Act 194 7). All the information you provide is kept
          strictly confidential. It is illegal for us to reveal your data or identify your business to unauthorised persons.</p>
        <p>Thank you for your co-operation</p>
        <p><b>Office for National Statistics</b></p>
      </div>
    </section>

  </article>


{% endblock %}
