{% extends 'layouts/_survey.html' %}
{% import 'macros/helpers.html' as h %}

{% block survey %}

  <div class="cover">
    <div class="cover__info">

      <div class="grid grid--align-mid">

        <div class="grid__col s-5">
          <div class="cover__address">
            <b>To be completed by</b>
            {% include 'partials/address.html' %}
          </div>
        </div>

        <div class="grid__col s-7">
          <div class="cover__notice">
            <h5>Please submit by</h5>
            <p><date>{{ data.return_by }}</date></p>
            <h5>Period</h5>
            <p class="period">{{ data.start_date }} to {{ data.end_date}}</p>
            <p class="attn">NB: Your response is legally required</p>
          </div>
        </div>

      </div>
    </div>

    <div class="cover__main">

      <div class="header__header">
        <h2 class="header__title">Monthly Business Survey</h2>
        <h3 class="header__subtitle">Notice is given under section 1 of the Statistics of Trade Act 1947</h3>
      </div>

      <div class="cover__copy">
        <p><b>You are required by law to complete this questionnaire.</b> If you do not submit this
          questionnaire by {{ data.return_by }}, penalties may be incurred (under section 4 of the Statistics of
          Trade Act 1947). All the information you provide is kept strictly confidential. It is illegal for us to
          reveal your data or identify your business to unauthorised persons.</p>

        <p class="callout"><i>i</i> If actual figures are not available, please provide informed estimates.</p>

        <div class="panels">
            <input type="checkbox" id="instructions">
            <label for="instructions"><span></span>How is your information used?</label>
            <div>
              {{ data.description | safe }}
            </div>
        </div>
        <p><b>Office for National Statistics</b></p>
      </div>
    </div>


    <div class="cover__footer">

      <a href="/questionnaire" class="btn">Get Started</a>

    </div>

  </div>


{% endblock %}
