{% extends 'layouts/_survey.html' %}
{% import 'macros/helpers.html' as h %}

{% block survey %}

  <article class="cover">
    <header class="cover__info">

      <div class="grid grid--align-mid">

        <div class="grid__col s-5">
          <div class="cover__address">
            <b>To be completed by</b>
            {% include 'partials/address.html' %}
            <a class="cover__address-link" href="">Details correct?</a>
          </div>
        </div>

        <div class="grid__col s-7">
          <div class="cover__notice">
            <h5>Please submit by</h5>
            <p><date>{{ data.return_by }}</date></p>
            <h5>Period</h5>
            <p class="period">{{ data.start_date }} to {{ data.end_date}}</p>
            <p class="attn">NB: Your response is legally required</p>
          </div>
        </div>

      </div>
    </header>

    <section class="cover__main">

      <header class="cover__header">
        <h2 class="cover__title">Monthly Business Survey</h2>
        <h3 class="cover__subtitle">Notice is given under section 1 of the Statistics of Trade Act 1947</h3>
      </header>

      <div class="cover__copy">
        <p><b>{{ data.legal | safe }}</b></p>

        <p class="callout"><i>i</i> If actual figures are not available, please provide informed estimates.</p>

        <div class="panels">
            <input type="checkbox" id="instructions">
            <label for="instructions"><span></span>How is your information used?</label>
            <article>
              {{ data.description | safe }}
            </article>
        </div>
        <p><b>Office for National Statistics</b></p>
      </div>
    </section>


    <footer class="cover__footer">

      <a href="/questionnaire" class="btn">Get Started</a>

    </footer>

  </article>


{% endblock %}
