<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>eQ - Survey Runner</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/static/css/responsive.css" rel="stylesheet">
  </head>
  <body>
    <h1>Hello World</h1>
    <p>This is the eQ Survey Runner (or at least it will be)</p>
    <p>If you want to know how I'm doing, you can <a href="/healthcheck">check my health</a>.</p>
    <script src="/static/js/bundle.js"></script>
  </body>
</html>
