{% extends '_base.html' %}

{% block content %}

  <div class="container">
    <h1>{{ _('Hello World') }}</h1>
    <p>{{ _('This is the eQ Survey Runner (or at least it will be)') }}</p>
    <p>{{ _("If you want to know how I'm doing, you can check my health.") }}</p>
    <p><a href="/healthcheck">{{ _('Click here to check my health') }}</a></p>
    <div class="grid">
      <div class="grid__col s-4">A</div>
      <div class="grid__col s-4">B</div>
      <div class="grid__col s-4">C</div>
    </div>
  </div>

{% endblock %}
