{% extends 'layouts/_survey.html' %}

{% block page_title %}{{messages.title}}{% endblock %}

{% block main %}
  <div class="header">
    <h1 class="header__title saturn">
      {% block system_message_title %}{{messages.title}}{% endblock %}
    </h1>
  </div>
  <div class="grid">
    <div class="grid__col col-8@m">
      <div class="panel panel--simple panel--error panel--spacious">
        <p><strong>{{messages.message}}</strong></p>
        <div>{{messages.instructions}}</div>
      </div>
    </div>
  </div>

{% endblock %}
