{% extends theme('layouts/_questionnaire.html') %}

{% set submit_btn_text = 'Continue' %}

{% block form_content %}
{% if block['section_number'] %}
  <h1 class="saturn">Section {{block['section_number']}}: {{block['title']}}</h1>
{% else %}
  <h1 class="saturn">{{block['title']}}</h1>
{% endif %}
{% if block['description'] %}
  <p class="mars">{{block['description']|safe}}</p>
{% endif %}

{% if block.guidance.content %}
    {% set guidance_content = {
      "content": block.guidance.content
    } %}
    {% include 'partials/guidance.html' %}
{% endif %}

{% endblock form_content %}


