{% extends theme('layouts/_onecol.html') %}

{% import 'macros/helpers.html' as helpers %}

{% block header %}
    {% include 'partials/header2.html' %}
    {% include 'partials/topbar-introduction.html' %}
{% endblock %}

{% block subheader %}
    {% include theme('partials/feedback_call_to_action.html') %}
    {% include theme('partials/feedback/expandable_inline.html') %}
    {{super()}}
{% endblock subheader %}

{% set form = content.form %}

{% block page_title %}{{survey_title}}{% endblock %}

{% block main %}

    {% block business_details %}

        {% if metadata.trad_as %}
            {% set  trading_as = metadata.trad_as %}
            {% set  trad_as_open = '<span class="trading_as">(<span class="trad_as">' %}
            {% set  trad_as_close = '</span>)</span>' %}
        {% endif %}

        <div class="grid">
            <div class="grid__col col-7@m">

                <h2 class="saturn">{{ _("You are completing this for <span>%(ru_name)s</span> %(trad_as_open)s%(trad_as)s%(trad_as_close)s",
                    ru_name = metadata.ru_name,
                    trad_as_open = trad_as_open,
                    trad_as = trading_as,
                    trad_as_close = trad_as_close) }}
                </h2>

                <p class="mars">{{ _("If the company details or structure have changed contact us on %(telephone_number)s or email %(email_address)s",
                        telephone_number = helpers.telephone_number(),
                        email_address = helpers.email_address('details-changed-title', subject="Change of details reference " + metadata.ru_ref)
                    ) }}
                </p>

            </div>
        </div>
    {% endblock business_details %}


    {% block intro_content %}
        <div class="grid">
            <div class="grid__col col-7@m">

            {% if content.block.primary_content %}
                {% for intro in content.block.primary_content %}
                    {% include 'partials/introduction/basic.html' %}
                {% endfor %}
            {% endif %}

            {%- if legal_basis == 'StatisticsOfTradeAct' -%}
                <h2 class="neptune u-mb-xs">{{ _("Your response is legally required") }}</h2>
                <p class="mars u-mb-m">{{ _("Notice is given under section 1 of the Statistics of Trade Act 1947") }}.</p>
            {%- endif -%}

            {% block start_survey %}
                {% include 'partials/introduction/start-survey.html' %}
            {% endblock start_survey %}

            {% if content.block.preview_content %}
                {% set intro = content.block.preview_content %}
                {% include 'partials/introduction/preview.html' %}
            {% endif %}

            {% if content.block.secondary_content %}
                {% for intro in content.block.secondary_content %}
                    {% include 'partials/introduction/basic.html' %}
                {% endfor %}
            {% endif %}

            </div>
        </div>
    {% endblock intro_content %}

{% endblock %}
