{% extends theme('layouts/_survey.html') %}

{% import 'macros/helpers.html' as h %}

{% block header %}
  {% include 'partials/header.html' %}
  {% with is_hero = true %}
    {% include theme('partials/topbar.html') %}
  {% endwith %}
{% endblock %}

{% block page_title %}Introduction{% endblock %}

{% block main %}

  <div class="u-mt-s">
    <h2 class="saturn">Your response is legally required</h2>
      <div class="grid grid--flex grid--bordered@s u-mb-s">
        <div class="grid__col col-6@s">
          <dl class="dl">
            <dt class="dl__title mercury">Business name</dt>
            <dd class="dl__data mars">{{ meta.respondent.address.name}}</dd>
            {% if meta.respondent.address.trading_as %}
              <dt class="dl__title mercury">Trading as</dt>
              <dd class="dl__data mars">{{ meta.respondent.address.trading_as }}</dd>
            {% endif %}
            <dt id="details-changed-title" class="dl__title mercury">Change in details</dt>
            <dd class="dl__data mars">Call <a href="tel:0300 1234 931" aria-describedby="details-changed-title">0300 1234 931</a> or email <a href="mailto:surveys@ons.gov.uk" aria-describedby="details-changed-title">surveys@ons.gov.uk</a> if there have been any changes to your business name, address or structure</dd>
          </dl>
        </div>
        <div class="grid__col col-6@s">
          <dl class="dl">
            <dt class="dl__title mercury">PERIOD</dt>
            <dd class="dl__data mars">
              <span>{{ meta.survey.start_date|format_date }} to {{ meta.survey.end_date|format_date}}
            </dd>
            <dt class="dl__title mercury">PLEASE SUBMIT BY</dt>
            <dd class="dl__data mars">{{ meta.survey.return_by|format_date}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div>
      {% if content.information_to_provide %}
      <h2 class="saturn">You will be asked to provide information for the business, including:</h2>
      <ul>
        {% for information_item in content.information_to_provide %}
          <li>{{ information_item }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="notice u-mb-s u-mb-m@s">
        <div class="notice__text venus">If actual figures are not available, please provide informed estimates.</div>
      </div>

    </div>

    <form class="form" method="POST" novalidate>
      <button class="btn btn--primary btn--lg qa-btn-get-started" type="submit" name="action[start_questionnaire]">Start survey</button>
    </form>
    <div class="lock u-mb-s u-mb-m@s">
      <div class="venus lock__text">We will treat your data securely and confidentially</div>
    </div>
    <h2 class="saturn">Legal Information</h2>
    <p class="mars">You are required to complete this questionnaire. If you do not complete and return this questionnaire by {{ meta.survey.return_by|format_date }}, penalties may be incurred (under section 4 of the Statistics of Trade Act 1947).</p>
  </div>


{% endblock %}
