{% extends theme('layouts/_survey.html') %}

{% block top_bar %}
{% include 'partials/survey-header.html' %}
{% with is_hero = true %}
  {% include theme('partials/topbar.html') %}
{% endwith %}
{% endblock %}

{% import 'macros/helpers.html' as h %}

{% block page_title %}Introduction{% endblock %}

{% block main %}

  <div class="header">
    <h2 class="saturn">Your response is legally required</h2>
      <div class="grid grid--flex grid--bordered@s">
        <div class="grid__col col-6@s">
          <dl class="dl">
            <dt class="dl__title mercury">Business name</dt>
            <dd class="dl__data mars">{{ meta.respondent.address.name}}</dd>
            {% if meta.respondent.address.trading_as %}
              <dt class="dl__title mercury">Trading as</dt>
              <dd class="dl__data mars">{{ meta.respondent.address.trading_as }}</dd>
            {% endif %}
          </dl>
        </div>
        <div class="grid__col col-6@s">
          <dl class="dl">
            <dt class="dl__title mercury">PERIOD</dt>
            <dd class="dl__data">
              <span class="">{{ meta.survey.start_date }} to {{ meta.survey.end_date}}
            </dd>
            <dt class="dl__title mercury">PLEASE SUBMIT BY</dt>
            <dd class="dl__data mars">{{ meta.survey.return_by }}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div>
      {% if meta.survey.information_to_provide %}
      <h2 class="header__title saturn">You will be asked to provide information for the business, including:</h2>
      <ul>
        {% for information_item in meta.survey.information_to_provide %}
          <li>{{ information_item }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="notice u-mb-s u-mb-m@s">
        <div class="notice__text venus">If actual figures are not available, please provide informed estimates.</div>
      </div>

    </div>

    <form class="form" method="POST" novalidate>
      <button class="btn btn--secondary qa-btn-get-started venus" type="submit" name="action[start_questionnaire]">Get Started</button>
    </form>
    <div class="lock u-mb-s u-mb-m@s">
      <div class="venus lock__text">We will treat your data securely and confidentially</div>
    </div>
    <h2 class="saturn">Legal Information</h2>
    <p class="mars">You are required to complete this questionnaire. If you do not complete and return this questionnaire by {{ meta.survey.return_by }}, penalties may be incurred (under section 4 of the Statistics of Trade Act 1947).</p>
  </div>


{% endblock %}
