{% extends 'layouts/_survey.html' %}

{% block page_title %}{{questionnaire.title}}{% endblock %}

{% block survey %}

<form action="" class="form">

    {% for group in questionnaire.groups %}

      <div class="group" id="group-{{group.id}}">

      {% for block in group.blocks %}

        <div class="block" id="block-{{block.id}}">

        {% for section in block.sections %}

            <section class="section" id="section-{{section.id}}">

              {% if section.title %}
                <h2 class="section__title">{{section.title}}</h2>
              {% endif %}

              {% for question in section.questions %}

                {% include '/partials/question.html' %}

              {% endfor %}

            </section>

        {% endfor %}

        </div>

      {% endfor %}

      </div>

    {% endfor %}

  <button class="btn btn--neutral" type="button" name="button">Save &amp; Exit</button>
  <button class="btn" type="button" name="button">Save &amp; Continue</button>

</form>

{% endblock %}
