{% extends theme('layouts/_twocol.html') %}

{% block page_title %}Survey{% endblock %}

{% set block = content.block %}
{% set form = content.form %}

{%- block subheader -%}

  {% if previous_location or navigation %}

  <div class="container">
    {% if previous_location %}
      <a class="page__previous" id="top-previous" href="{{previous_location}}">Previous</a>
    {% endif %}

    {% if navigation %}
      <div class="page__menubtn">
        <button class="btn btn--link btn--menu js-menu-btn" data-close-label="{{_('Hide sections')}}" type="button" id="menu-btn">{{_('View sections')}}</button>
      </div>
    {% endif %}
  </div>

  {% endif %}

{%- endblock subheader -%}

{% block sidebar %}
  {% if navigation %}
    {% include theme('partials/navigation.html') %}
  {% endif %}
{% endblock %}

{% block main %}

    {% if form and form.errors %}

    <div class="panel panel--error u-mb-s" data-qa="error">
      <div class="panel__header">
        <h1 class="panel__title venus">This page has {{form.errors|length}} errors</h1>
      </div>
      <div class="panel__body" data-qa="error-body">
        <p class="mars">These <strong>must be corrected</strong> to continue.</p>
        <ul class="list list--bare">
          {% for answer_id, errors in form.errors.items() %}
            {% set loop_index = loop.index %}
            {% if errors %}
            {% for field_error in form.errors[answer_id] %}
                {% if field_error is iterable %}
                    {% for subfield_error in form.errors[answer_id][field_error] %}
                        <li class="list__item mars">
                          {{loop_index}}) <a class="js-inpagelink" href="#{{answer_id}}">{{ subfield_error }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list__item mars">
                      {{loop_index}}) <a class="js-inpagelink" href="#{{answer_id}}">{{ field_error }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </div>


    {% endif %}

    <form action="{{form_action|default('')}}" class="form qa-questionnaire-form" role="form" method="POST" novalidate>

      <div class="group" id="{{current_location.group_id}}">

        <div class="block" id="{{current_location.block_id}}">

        {% for section in block['sections'] %}

          {% include 'partials/section.html' %}

        {% endfor %}

        </div>

      </div>

      <button class="btn btn--primary btn--lg qa-btn-submit venus" type="submit" name="action[save_continue]">{% block submit_button_text %}Save and continue{% endblock %}</button>

    </form>

{% endblock main %}

{% block prefooter %}

  {% if previous_location %}
    <a class="page__previous page__previous--bottom" href="{{previous_location}}" id="bottom-previous">Previous</a>
  {% endif %}
{% endblock prefooter %}
