{% extends theme('layouts/_twocol.html') %}
{% import 'macros/helpers.html' as helpers %}

{% block page_title %}{{_("Session expired")}}{% endblock %}

{% block main %}

<div class="u-mb-s" data-qa="session-expired-error">
    <h1 class="saturn" {{helpers.track('visible', 'Timeout', 'Timeout expired')}}>{{ _("Your session has expired") }}</h1>
</div>

  <div class="panel panel--simple panel--success panel--spacious u-mb-s">
    <p>{{ _("To help protect your information we have signed you out") }}.</p>
  </div>
  {% if account_service_url %}
    <a href="{{account_service_url}}">{{ _("Return to your account") }}</a>
  {% endif %}

{% endblock %}
