{% extends 'layouts/_survey.html' %}

{% block page_title %}{{questionnaire.title}}{% endblock %}

{% block survey %}

  <header class="cover__header">
        <h2 class="cover__title">Summary of Answers</h2>
        <h3 class="cover__subtitle">Please check your answers before submitting. Thank you</h3>
  </header>


<form action="" class="form" aria-role="form" method="POST" novalidate>

    {% for group in questionnaire.data.groups %}

      <div class="group" id="group-{{group.id}}">  

        {% for block in group.blocks %}  

        <div class="block" id="block-{{block.id}}">  

          {% for section in block.sections %}  

          <div class="section" id="section-{{section.id}}"> 

            {% if section.title %} 

            <h2 class="section__title u-vh">{{section.title}}</h2> 

            {% endif %}   

            {% for question in section.questions %} 

            {% import 'macros/forms.html' as form %}

              <div class="question" id="question-{{question.id}}">  

              <fieldset class="question__fieldset"> 

                <legend class="question__legend"> 

                  <div class="question__title">{{question.title}}</div> 

                </legend> 

                <div class="question__responses"> 

                  {%- for response in question.responses -%}

                   <div class="question__response response {{'response--has-error' if not is_valid}}" id="{{response.id}}"> 

                    <div class="response__field field field--{{response.type|lower}}">    
                      {{response.label}} <br/>
                      <strong>{{response.value}}   </strong>

                    </div>  </div> 

                  {%- endfor -%} 

                </div> 

              </fieldset> 
            </div> 

            {% endfor %}

              </div>   

          {% endfor %}  

        </div>  

        {% endfor %}  

      </div>  

  {% endfor %}  

  <button class="btn" type="submit" name="action[save_continue]">Submit answers</button>
  <a href="/questionnaire">Change your answers</a>   </form>  

{% endblock %} 
