{% extends 'layouts/_survey.html' -%}

{% block page_title -%}Summary{% endblock -%}

{% block survey -%}
  <div class="header">
    <h1 class="header__title h1">Your responses</h1>
    <h2 class="header__subtitle">Please check carefully before submission</h2>
  </div>

<div>

  {%- for group in content.questionnaire.groups -%}

    {%- for block in group.blocks -%}
      <dl class="dl">
      {%- for section in block.sections -%}

        {%- for question in section.questions -%}

          {%- for answer in question.answers -%}
            {% if question.type == 'DateRange' %}
              {% if loop.index == 2 %}
                {% set question_title = question.title %}
                {% set answer_value %}
                  {{question.answers[loop.index0 - 1].label}}: {{question.answers[loop.index0 - 1].input}}<br>
                  {{answer.label}}: {{answer.input}}
                {% endset %}
              {% endif %}
            {% elif answer.type == 'Currency' %}
              {% set question_title = question.title or answer.label %}
              {% set answer_value = answer.value|format_currency if answer.input else 'N/A' %}
            {% elif answer.type == 'Radio' %}
               {% set question_title = question.title or answer.label %}
               {% set answer_value = answer.value %}
            {% elif answer.type == 'Checkbox' %}
              {% set question_title = question.title or answer.label %}
              {% set answer_value %}
                {% if answer.value and answer.value|length > 0 %}
                  <ul class="list list--bullets">
                      {% for answer in answer.value %}
                        {% if answer %}
                          <li class="list__item">{{answer}}</li>
                        {% endif %}
                      {% endfor %}
                  </ul>
                {% else %}
                  N/A
                {% endif %}
              {% endset %}
            {% else %}
              {% set question_title = question.title or answer.label %}
              {% set answer_value = answer.input if answer.input else 'N/A' %}
            {% endif %}

            {% set full_width = 'fw' if answer.type == 'Textarea' %}

            {% if question_title and answer_value %}
              <dt class="dt {{full_width}} {{loop.index}}"><div>{{question_title|safe}}</div></dt>
              <dd class="dd {{full_width}} {{loop.index}}">{{answer_value|safe}}</dd>
            {% endif %}

          {%- endfor -%}

        {% endfor -%}

      {% endfor -%}
      </dl>
    {% endfor -%}

  {% endfor -%}

  <form action="" method="POST" novalidate>
    <button class="btn btn--secondary u-mr-s qa-btn-submit-answers" type="submit" name="action[submit_answers]">Submit answers</button>
    <a class="u-dib" href="first">Change your answers</a>
  </form>
</div>

{% endblock -%}
