{% import 'macros/helpers.html' as helpers %}
{% extends theme('layouts/_twocol.html') -%}

{% block page_title -%}{{_("Summary")}} - {{survey_title}}{% endblock -%}

{% set form = content.form %}
{% set not_answered = 'No answer provided' %}

{% block sidebar %}
  {% if navigation %}
    {% include theme('partials/navigation.html') %}
  {% endif %}
{% endblock %}

{% block main -%}

<div>
  <h1 class="saturn">Your responses</h1>
  <h2 class="mars">Please check carefully before submission.</h2>
</div>

<div>
  <div class="summary">

  {% for group in content.summary %}

      <h2 class="summary__title saturn" id="{{group.id}}">{{group.title|safe}}</h2>

      <div class="summary__block">

     {% for block in group.blocks %}

        {% for section in block.sections %}

        <div class="summary__items">

            {% for question in section.questions %}
                {% if question.number %}
                  {% set question_number = "["~question.number~"]"  %}
                {% endif %}
                <div class="summary__question" id="{{question.id}}">
                  {{question_number}} {{question.title|striptags|safe}}
                </div>

                {% for answer in question.answers %}

                  {% if question.answers|length > 1 %}
                    <div class="summary__question summary__question--sub">
                      {{answer.label|striptags|safe}}
                    </div>
                  {% endif %}

                  <div class="summary__answer">
                    <div class="summary__answer-text" id="{{answer.id}}-answer" data-qa="{{answer.id}}-answer">
                      {%- if answer.value is none or answer.value == '' -%}
                        {{not_answered}}
                      {%- else -%}
                        {% include theme(['partials/summary/' ~ answer.type ~ '.html', 'partials/summary/default.html']) %}
                      {%- endif -%}
                    </div>
                    <div class="summary__edit">
                      <a href="{{ section.link }}#{{answer.id}}" class="summary__edit-link" aria-describedby="{{answer.id}} {{answer.id}}-answer" data-qa="{{answer.id}}-edit" {{helpers.track('click', 'Summary', 'Edit click')}}>Edit <span class="u-vh">your answer</span></a>
                    </div>
                  </div>

                {% endfor %}

            {% endfor %}

        </div>


        {% endfor %}


     {% endfor %}

     </div>
  {% endfor %}
  </div>

  <form method="POST" autocomplete="off" novalidate>
    {{ form.csrf_token }}
    <button class="btn btn--primary btn--lg u-mr-s qa-btn-submit-answers venus" type="submit">Submit answers</button>
      <div class="u-mb-m">
        <button class="btn btn--link mars js-btn-save" type="submit" name="action[save_sign_out]" {{helpers.track('click', 'Navigation', 'Save and complete later click')}}>{% block save_sign_out_button_text %}Save and complete later{% endblock %}</button>
      </div>
  </form>
</div>

{{super()}}

{% endblock -%}
