{% extends theme('layouts/_survey.html') -%}

{% block page_title -%}Summary{% endblock -%}

{% set not_answered = 'No answer provided' %}

{% block main -%}
<div class="header u-ta-l">
  <h1 class="header__title saturn">Your responses</h1>
  <h2 class="header__subtitle mars">Please check carefully before submission.</h2>
</div>

<div>
  <dl class="summary">
  {% for block in content %}

    {% set summary_id = "summary-" ~ loop.index0 %}

    <dt class="summary__title saturn" id="{{summary_id}}">{{block.title | safe}}</dt>
    <dd class="summary__block">
      <dl class="summary__items">

      {% for item in block.items %}

        {% set id = summary_id ~ "-" ~ loop.index0 %}

        <dt class="summary__question summary__question--{{item.type}}" id="{{id}}">{{item.question | safe}}</dt>
        <dd class="summary__answer summary__answer--{{item.type}}">
          {% for sub_item in item.sub_items %}

            {% set item_id = id ~ "-" ~ loop.index0 %}
            {% if item.sub_items|length > 1 %}
              <dt class="summary__question summary__answer__title--{{sub_item.type}}" id="{{item_id}}">{{sub_item.question | safe}}</dt>
              <dd class="summary__answer summary__answer--{{item.type}}">
            {% endif %}

            <div class="summary__answer-text" id="{{item_id}}-answer">

              {% if sub_item.type == 'date' %}

                {% set date_format = '%d %b %Y' %}

                {{sub_item.answer[0].value.strftime(date_format)}} to {{sub_item.answer[1].value.strftime(date_format)}}

              {% elif sub_item.type == 'checkbox' %}

                {% if sub_item.answer %}

                <ul class="u-m-no">
                  {% for answer in sub_item.answer %}
                    <li>{{answer}}</li>
                  {% endfor %}
                </ul>

                {% else %}

                  {{not_answered}}

                {% endif %}

              {% elif sub_item.type == 'textarea' %}

                {{(sub_item.answer or not_answered)|nl2br}}

              {% else %}
                {% if sub_item.answer is not none %}
                    {{sub_item.answer}}
                {% else %}
                    {{not_answered}}
                {% endif %}

              {% endif %}

            </div>

            <div class="summary__edit">
              <a href="{{sub_item.link}}" class="summary__edit-link" aria-describedby="{{item_id}} {{item_id}}-answer">Edit <span class="u-vh">your answer</span></a>
            </div>

          </dd>
        {% endfor %}

      {% endfor %}

      </dl>
    </dd>
  {% endfor %}
  </dl>

  <form action="" method="POST" novalidate>
    <button class="btn btn--secondary u-mr-s qa-btn-submit-answers venus" type="submit" name="action[submit_answers]">Submit answers</button>
  </form>
</div>

{% endblock -%}
