{% extends 'layouts/_survey.html' %}

{% block page_title %}Thank You{% endblock %}

{% block survey %}

  <div class="header u-mb-m u-mb-l@s">
    <h1 class="header__title">Thank You</h1>
    <div>{{ meta.survey.title }}</div>
    <div class="u-fw-b">Successfully Received</div>
  </div>

  <div class="box box--confirm u-mb-s u-mb-l@s">
    <strong>{% if meta.survey.submitted_at %} Submitted on {{meta.survey.submitted_at}}{% endif %}</strong>
    <p>Transaction ID (Please quote this reference for any support queries)</p>
    <ul class="box__list">
    {%for id_part in meta.respondent.tx_id%}<li class="box__list__item">{{id_part}}</li>{% endfor %}
    </ul>
    <p class="u-mb-no">You may wish to save or print this page for your records.</p>
  </div>

  <div class="u-ta-c@s">
    <div>For more information on how we use this data.</div>
    <p class="u-mb-m@s"><a href="https://www.ons.gov.uk/surveys">https://www.ons.gov.uk/surveys</a></p>
    <p>It is now to safe to close this window.</p>
  </div>

{% endblock %}
