.field {
  background: none;
}

.field__item {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  display: flex;
  align-items: flex-start;;
}

.field--multi {
  &.field--cols {
    @include mq(s) {
      display: flex;
      flex-wrap: wrap;
      .field__item {
        width: 50%;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.date {
  $legend-width: 5rem;
  .legend {
    font-weight: 700;
    display: inline-block;
    width: 100%;
    margin: 0 0 0.5rem;

    @include mq(s) {
      margin: 2.2rem 0 0;
      width: 5rem;
    }

    @include fixed {
      width: 4rem;
      float: left;
      margin-top: 35px;
    }

    @include lt-ie8 {
      position: absolute;
      margin-top: 20px;
    }
  }
  .subfields {
    display: flex;
    width: 100%;

    @include mq(s) {
      width: calc(100% - #{$legend-width});
    }

    @include fixed {
      width: 30rem;
      float: right;
    }
  }
  .field {
    flex: 1 1 0;
    margin-right: 0.5rem;

    @include mq(s) {
      margin-right: 1rem;
    }

    @include fixed {
      display: block;
      float: left;
    }
  }

  .field--day {
    @include fixed {
      width: 7rem;
    }
  }
  .field--month {
    flex: 2;
    @include fixed {
      width: 14rem;
    }
  }
  .field--year {
    margin-right: 0;
    @include fixed {
      width: 7rem;
    }
  }
}
