$input-padding: 0.6rem;

.input {
  position: relative;
  z-index: 3;
  padding: $input-padding;
  display: block;
  color: inherit;
  font-size: 1rem;
  border: 1px solid $color-borders;
  border-radius: $input-radius;
  width: 100%;
  max-width: 40rem;
}

.input__helper {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.2rem;
}

.input--select {
  appearance: none;
  padding: $input-padding 2rem $input-padding 0.5rem;
  background: $color-white url("/s/img/icons/icons--chevron-down.svg") no-repeat center right 6px;
  background-size: 1.5rem;
  line-height: 1.4;
  width: 100%;
  &::-ms-expand {
    display: none;
  }
  @include fixed() {
    padding-right: 0.5rem;
  }
}

.input--radio,
.input--checkbox {
  width: 20px;
  height: 20px;
  margin-top: 0.2rem;
  appearance: none;
  border: 2px solid #9b9b9b;
  padding: 0.5rem;
  font-size: 1rem;
  background: #eee;
  box-shadow: inset 0 0 0 3px white;
  transition: background 300ms;
  cursor: pointer;
  position: relative;
  &:focus {
    border: 2px solid tint($color-blue, 50%);
    box-shadow: inset 0 0 0 3px white;
  }
  &:checked {
    background: #033e58;
    border: 2px solid #555;
  }

  @include fixed() {
    border: none;
    background: none;
  }
}

.input--radio {
  border-radius: 100px;
}

.input--checkbox {
  &:checked {
    background: url("/s/img/icons/icons--check.svg") no-repeat center center;
    background-size: 0.8rem auto;
  }
}

.input--number {
  padding-right: 0.3rem;
}

.input--block {
  display: block;
  width: 100%;
}

.input-type {
  display: flex;
  position: relative;
  align-items: center;
  .input {
    border-radius: 0 3px 3px 0;
    flex: 1;
    line-height: normal;
    position: relative;
    z-index: 1;
    @include fixed {
      margin-left: 2.5rem;
      border-left: 0;
    }
  }
  &::before {
    content: attr(data-type);
    display: inline-block;
    background-color: $color-lighter-grey;
    border: 1px solid $color-borders;
    border-right: none;
    border-radius: $input-radius 0 0 $input-radius;
    padding: $input-padding 0.9rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    line-height: normal;
    @include fixed {
      position: absolute;
      left: 0;
      width: 2.5rem;
      height: 100%;
      border: 1px solid $color-borders;
      z-index: 2;
    }
  }
}
