.label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: 700;
  font-size: 1rem;
  color: inherit;
}

.label--inline {
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  width: calc(100% - 2.5rem);
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5rem 0 0;
  &:hover {
    background: $color-light-grey;
    cursor: pointer;
  }
}

.label--small {
  font-size: 0.8rem;
}
