.question {
  border: 2px solid transparent;
  margin-bottom: 1rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.question--has-errors {
  border-color: $color-red;
  background: rgba($color-red, 0.1);
}

.question__error {
  background: $color-red;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.question__legend {
  margin-bottom: 0;
  float: left;
}

.question__title {
  clear: both;
  display: block;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3;
  color: inherit;
  margin-bottom: 0.5rem;
  @include mq(s) {
    font-size: 1.3rem;
  }
}

.question__subtitle {
  margin-top: 0.5rem;
  clear: both;
  display: block;
  color: #888;
  font-weight: 700;
  font-size: 1rem;
}

.question__description {
  margin-bottom: 1rem;
  clear: both;
}

.question__responses {
  clear: both;
}

.question__response {
  margin: 0 0 2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}
