.question {
  border: 2px solid transparent;
  margin-bottom: 1rem;
}

.question__fieldset {
  @include mq(s) {
    padding: 1rem;
  }
}

.question--has-errors {
  border-color: $color-red;
  background: rgba($color-red, 0.1);
}

.question__error {
  background: $color-red;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.question__legend {
  margin-bottom: 1rem;
  float: left;
}

.question__title {
  clear: both;
  display: block;
  font-weight: 700;
  font-size: 1.2rem;
  color: inherit;
}

.question__subtitle {
  margin-top: 0.5rem;
  clear: both;
  display: block;
  color: #888;
  font-weight: 700;
  font-size: 1rem;
}

.question__description {
  margin-bottom: 1rem;
  clear: both;
}

.question__responses {
  clear: both;
  list-style-type: none;
  padding: 0;
  margin: 0 0 -1rem;
}

.question__response {
  padding: 0;
  margin: 0 0 1rem;
}
