{% extends 'layouts/_twocol.html' %}
{% block page_title %}2017 Census{% endblock %}

{% set form = content.form %}

{% block header %}
  {% include 'partials/header.html' %}
{% endblock %}

{% block main %}
<div>
  <h2 class="u-fs-l">Welcome to the Census Test.</h2>
  <p class="u-fs-r">Include everyone living and staying overnight in your household. </p>
<p> Fill it in as soon as possible, but answer it about 25 June 2018.</p>
<p> The information helps councils and the government plan and fund
services in your community - services like GPs, hospitals, schools and
public transport. </p>
<p>Everyone must be included on a Census form. </p>

  <div class="panel panel--info panel--spacious panel--simple u-mb-l">
    <h3 class="u-fs-m">Start or continue to fill in the Census</h3>
    <h4 class="u-fs-r--b"> Enter your 20 digit unique access code </h4>
    <p class="u-fs-r">You can find your unique access code on your invitation letter.</p>
    <input id="access-code" class="input input--text " value="" data-qa="input-text" name="access-code">
    <a href="http://www.ons.gov.uk/census/help" target="_blank" >{{_('Help finding your access code')}}</a>
  </div>
  <button class="btn qa-btn-get-started" type="submit" name="action[start_questionnaire]">Start survey</button>
 <!-- <div class="lock u-mb-s u-mb-m@s"> -->
    <div class="u-fs-r--b lock__text"><p>Important: Your response is legally required</p></div>

    <p class="u-fs-r">You could be fined if you do not participate or if you supply false information. </p>
    <p>Your personal information is protected by law. Census information is kept confidential for 100 years.</p>
    <p>Census information helps government check that services are fair to everyone. This is called equality monitoring.</p>

    <a href="http://www.ons.gov.uk/census/help" target="_blank" >{{_('Need help? More information about the Census')}}</a>
  </div>

</div>
{% endblock main %}
{% block footer %}
<div class="pre-footer">
  <div class="container">
    <div class="grid">
      <div class="grid__col col-7@m">
        {% include 'partials/feedback/expandable_inline.html' %}
      </div>
    </div>
  </div>
</div>
{{super()}}
{% endblock %}
