{% if not question_answers %}
  {% set question_answers %}
    <div class="question__answers">
      {%- for answer in question.answers -%}
        <div class="question__answer">
          {% include 'partials/answer.html' %}
        </div>
      {%- endfor -%}
    </div>
  {% endset %}
{% endif %}

<div class="question" id="{{question.id}}">

  {{question_titles}}
  {{question_description}}
  {{question_definition}}
  {{question_guidance}}

  {% if invalid %}

    {% include 'partials/questions/errors.html' %}

  {% else %}

    {{question_answers}}
    {{question_actions}}

  {% endif %}

</div>
