{% if not question_answers %}
  {% set question_answers %}
    <div class="question__answers">
      {%- for answer in question.answers -%}
        {% if not answer.parent_answer_id %}
          <div class="question__answer">
            {% include theme('partials/answer.html') %}
          </div>
        {% endif %}
      {%- endfor -%}
    </div>
  {% endset %}
{% endif %}

<div class="question" id="{{question.id}}">

  {% set question_markup %}

    {{question_titles}}
    {{question_description}}
    {{question_definition}}
    {{question_guidance}}
    {{question_answers}}

  {% endset %}

  {% if invalid %}

    {{question_titles}}
    {{question_description}}
    {{question_definition}}
    {{question_guidance}}
    {% include theme('partials/questions/errors.html') %}

  {% else %}

    {{question_markup}}
    {{question_actions}}

  {% endif %}

</div>
