{% if not question_answers %}
  {% set question_answers %}
    <div class="question__answers">
      {%- for answer in question.answers -%}
        <div class="question__answer">
          {% include theme('partials/answer.html') %}
        </div>
      {%- endfor -%}
    </div>
  {% endset %}
{% endif %}

<div class="question" id="{{question.id}}">

  {% set question_markup %}

    {% if question.answers|length > 1 %}

      {{question_titles}}

      <fieldset class="question__fieldset js-question-fieldset">

        <legend class="u-vh">{{question_title|striptags}}</legend>

        {{list_summary}}

        {{question_description}}
        {{question_definition}}
        {{question_guidance}}
        {{question_answers}}

      </fieldset>

    {% else %}

      {{question_titles}}
      {{list_summary}}
      {{question_description}}
      {{question_definition}}
      {{question_guidance}}
      {{question_answers}}

    {% endif %}

  {% endset %}

  {% if invalid %}

    {{question_titles}}
    {{list_summary}}
    {{question_description}}
    {{question_definition}}
    {{question_guidance}}
    {% include theme('partials/questions/errors.html') %}

  {% else %}

    {{question_markup}}
    {{question_actions}}

  {% endif %}

</div>
