{% import 'macros/helpers.html' as helpers %}

<div class="question question--householdrelationship" id="{{question.id}}">

  <h2 class="question__title neptune" id="title-{{question.id}}">{{question_title}}</h2>

  {{question_description|safe}}


  <fieldset class="question__fieldset">

    <!-- <legend class="question__legend">
      <span class="question__title neptune">{{question_title}}</span>
    </legend> -->


    <div class="question__answers js-relationship">

        {%- for answer in question.answers -%}

        {% set legend = answer.schema_item.label.split('...') %}

        <div class="question__answer js-relationship-item">

            <div class="answer answer--{{answer.schema_item.type|lower}}" id="{{answer.id}}">

                <div class="answer__fields">

                    <fieldset class="field field--radio household__field">

                        <legend id="legend-{{answer.schema_item.id}}" class="venus u-mb-s u-f-no">
                            {{legend[0]}} <span class="highlight js-relationship-trigger">...</span> {{legend[1]}}
                        </legend>
                        <div class="js-relationship-body">
                          {{ answer.schema_item.widget.render(answer) | safe}}
                        </div>

                    </fieldset>

                    <button class="btn btn--link question__edit js-relationship-editbtn" data-close="{{_('Close')}}">
                      {{_('Edit')}}
                    </button>

                </div>

            </div>

        </div>

        {%- endfor -%}

    </div>

</div>
