{% import 'macros/helpers.html' as helpers %}

<div class="relationship">

    <h2 class="neptune">{{question_title}}</h2> {{question_description|safe}}

    <div class="js-relationship">

        {%- for answer in question.answers -%}

        {% set legend = answer.schema_item.label.split('...') %}

        <div class="relationship__item js-relationship-item" data-name="{{legend[1]}}">

            <fieldset class="field field--radio relationship__field">

              <button class="btn btn--link relationship__edit js-relationship-editbtn u-hidden" data-close="{{_('Close')}}">
                {{_('Edit')}}
              </button>

                <legend class="relationship__title  venus u-f-no">
                  {{legend[0]}} <span class="highlight js-relationship-legend">...</span> {{legend[1]}}
                </legend>

                <div class="relationship__options js-relationship-body">
                  <div class="u-mt-s">
                    {{ answer.schema_item.widget.render(answer) | safe}}
                  </div>
                </div>

            </fieldset>

        </div>

        {%- endfor -%}

    </div>

</div>
