{% set is_mutually_exclusive = true %}
{% set question_answers %}
<div class="question__answers">
  <fieldset class="field field--exclusive">
    {%- for answer in question.answers -%}
      {% if not answer.parent_answer_id %}

        <div class="question__answer">
          {% set exclusive_class = "js-exclusive-group" %}
          {% if loop.last %}
            {% set exclusive_class = "js-exclusive-checkbox" %}
            {% set is_exclusive_checkbox = true %}
          {% endif %}

          {% include theme('partials/answer.html') %}
        </div>

      {% endif%}
    {%- endfor -%}
  </fieldset>
</div>
{% endset %}

{% include theme('partials/questions/general.html') %}
