{% import 'macros/helpers.html' as helpers %}

<div class="relationship">

    <h2 class="question__title neptune">
      {%- if question_number -%}
        <span>{{question_number}}. </span>
      {% endif %}
      {{question_title|safe}}
    </h2>
    {{question_description|safe}}

    <div class="js-relationship">
        {% for current_person, other_person in content.relation_instances %}
            {% set answer = question.answers[0] %}
            {% set relation_instance = loop.index0 %}

            {% include 'partials/widgets/relationship_widget.html' %}

        {% endfor %}

    </div>

</div>

{% if (question.guidance) %}

  {% set question_guidance %}
    {%- for guidance in question.guidance -%}
      <ul class="u-m-no">
        {%- for item in guidance.list -%}
          <li>{{item|safe}}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endset %}

  {% with answer_guidance = {
    'id': question.id,
    'label': question.label,
    'content': question_guidance
  } %}
    {% include 'partials/answer-guidance.html' %}
  {% endwith %}
{% endif %}
