<div class="question question--repeatinganswer" id="{{question.id}}">

  <h1 class="question__title u-fs-l">
    {%- if question_number -%}
      <span class="question__number">{{question_number}}{{current_location.group_instance|format_number_to_alphabetic_letter}}. </span>
    {% endif %}
    {{question_title}}
  </h1>


  {{question_description}}
  {{question_definition}}
  <fieldset>
    <legend class="field__legend u-vh">
      {{question_title}}
    </legend>
    <div class="question__answers">
        {% set answer = question.answers[0] %}
        {% for field in form.fields[answer['id']] %}
          {% include 'partials/widgets/relationship_widget.html' %}
        {%- endfor -%}
    </div>
  </fieldset>
</div>

<aside class="question__guidance  question__guidance--bottom">
    {% set schema_item = question.answers[-1] %}
    {% if schema_item.guidance %}
      {% with answer_guidance = {
        'id': schema_item.id,
        'label': schema_item.label,
        'schema_item': {
            'content': schema_item.guidance.content,
            'show_guidance': schema_item.guidance.show_guidance,
            'hide_guidance': schema_item.guidance.hide_guidance
        }
      } %}
        {% include 'partials/answer-guidance.html' %}
      {% endwith %}
    {% endif %}
</aside>

